Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile

fixup! Lox integration
  Cargo.lock
  toolkit/components/lox/Cargo.toml
  toolkit/components/lox/ILoxService.idl
  toolkit/components/lox/Lox.sys.mjs
  toolkit/components/lox/LoxService.h
  toolkit/components/lox/components.conf
  toolkit/components/lox/moz.build
  toolkit/components/lox/src/lib.rs
  toolkit/components/lox/src/service.rs
  toolkit/library/rust/shared/lib.rs
Due: eslint, py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! TB 40597: Implement TorSettings module
  toolkit/content/pt_config.json
Due: eslint

fixup! Lox integration
  toolkit/components/lox/ILoxService.idl
  toolkit/components/lox/Lox.sys.mjs
  toolkit/components/lox/src/service.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

fixup! [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

fixup! [android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none
