Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile

BB 41369: Improve Firefox language settings for multi-lingual packages
  browser/base/content/browser.xhtml
  browser/base/content/languageNotification.js
  browser/base/jar.mn
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
Due: eslint, file-whitespace

BB 42084: Ensure English spoofing works even if preferences are set out of order.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 41930: Remove the UI to customize accept_languages.
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, file-whitespace

BB 42019: Empty browser's clipboard on browser shutdown
  browser/app/profile/001-base-profile.js
  browser/components/BrowserGlue.sys.mjs
Due: eslint

BB 41434: Letterboxing, improve logging.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 41434: Letterboxing, preemptively apply margins in a global CSS rule to mitigate race conditions on newly created windows and tabs.
  browser/base/content/browser.css
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, stylelint, file-whitespace

BB 31064: Letterboxing, exempt browser extensions.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 32308: Use direct browser sizing for letterboxing.
  browser/actors/RFPHelperChild.sys.mjs
  browser/actors/RFPHelperParent.sys.mjs
  browser/actors/moz.build
  browser/app/profile/001-base-profile.js
  browser/base/content/browser.css
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/tabbrowser/content/tabbrowser.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/modules/FinderParent.sys.mjs
  toolkit/themes/shared/findbar.css
Due: eslint, stylelint, py-black, file-whitespace

BB 32411: Letterboxing, exempt view-source: URIs.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 42574: Letterboxing, exempt pdf.js.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 41631: Prevent weird initial window dimensions caused by subpixel computations
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 41918: Option to reuse last window size when letterboxing is enabled.
  browser/app/profile/001-base-profile.js
  browser/components/BrowserGlue.sys.mjs
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
  toolkit/xre/nsAppRunner.cpp
  xpfe/appshell/AppWindow.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42443: Shrink window to match letterboxing size when the emtpy area is clicked.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 41695: Warn on window maximization without letterboxing in RFPHelper module
  browser/app/profile/001-base-profile.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

BB 41916: Letterboxing preferences UI
  browser/components/preferences/jar.mn
  browser/components/preferences/letterboxing-middle-dark.svg
  browser/components/preferences/letterboxing-middle-light.svg
  browser/components/preferences/letterboxing-top-dark.svg
  browser/components/preferences/letterboxing-top-light.svg
  browser/components/preferences/letterboxing.css
  browser/components/preferences/letterboxing.inc.xhtml
  browser/components/preferences/letterboxing.js
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/preferences.xhtml
Due: eslint, stylelint, file-whitespace

BB 42528: Don't leak system scrollbar size on windows.
  widget/ScrollbarDrawingWin.cpp
  widget/ScrollbarDrawingWin11.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 31575: Disable Firefox Home (Activity Stream)
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/newtab/AboutNewTabService.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/components/preferences/home.js
  browser/modules/HomePage.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 4234: Use the Firefox Update Process for Base Browser.
  browser/app/Makefile.in
  browser/base/content/aboutDialog.js
  browser/base/content/aboutDialog.xhtml
  browser/base/moz.build
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/customizableui/content/panelUI.inc.xhtml
  browser/components/preferences/main.js
  browser/config/mozconfigs/base-browser
  browser/confvars.sh
  browser/installer/Makefile.in
  browser/installer/package-manifest.in
  build/application.ini.in
  build/moz.build
  build/moz.configure/init.configure
  build/moz.configure/update-programs.configure
  mozconfig-linux-x86_64-dev
  toolkit/.eslintrc.js
  toolkit/modules/AppConstants.sys.mjs
  toolkit/modules/UpdateUtils.sys.mjs
  toolkit/modules/moz.build
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateServiceStub.sys.mjs
  toolkit/mozapps/update/common/updatehelper.cpp
  toolkit/mozapps/update/updater/launchchild_osx.mm
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/MacLaunchHelper.h
  toolkit/xre/MacLaunchHelper.mm
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsUpdateDriver.cpp
  toolkit/xre/nsXREDirProvider.cpp
Due: eslint, py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41603: Customize the creation of MOZ_SOURCE_URL
  build/variables.py
Due: py-black, py-ruff, file-whitespace, trojan-source

BB 42061: Create an alpha update channel.
  browser/base/content/aboutDialog-appUpdater.js
  browser/base/content/aboutDialog.js
  browser/components/preferences/main.js
  devtools/client/aboutdebugging/src/actions/runtimes.js
  toolkit/mozapps/extensions/test/browser/head.js
  toolkit/mozapps/extensions/test/xpcshell/head_addons.js
  toolkit/mozapps/update/updater/moz.build
Due: eslint, py-black

BB 41682: Add base-browser nightly mar signing key
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
Due: none

BB 41698: Reword the recommendation badges in about:addons
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
  toolkit/mozapps/extensions/content/aboutaddons.html
Due: eslint, file-whitespace

BB 42438: Tweaks to the migration wizard.
  browser/components/migration/ChromeMigrationUtils.sys.mjs
  browser/components/migration/content/migration-wizard.mjs
Due: eslint

BB 41598: Prevent NoScript from being removed/disabled.
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
Due: eslint

BB 40069: Add helpers for message passing with extensions
  toolkit/components/extensions/ExtensionParent.sys.mjs
Due: eslint

BB 41581: Hide NoScript extension's toolbar button by default.
  browser/base/content/browser-addons.js
  browser/components/extensions/parent/ext-browserAction.js
  browser/themes/shared/addons/unified-extensions.css
  toolkit/mozapps/extensions/content/aboutaddons.html
  toolkit/mozapps/extensions/content/aboutaddons.js
Due: eslint, stylelint, file-whitespace

BB 40925: Implemented the Security Level component
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/moz.build
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
  browser/components/securitylevel/content/securityLevel.js
  browser/components/securitylevel/content/securityLevelButton.css
  browser/components/securitylevel/content/securityLevelButton.inc.xhtml
  browser/components/securitylevel/content/securityLevelIcon.svg
  browser/components/securitylevel/content/securityLevelPanel.css
  browser/components/securitylevel/content/securityLevelPanel.inc.xhtml
  browser/components/securitylevel/content/securityLevelPreferences.css
  browser/components/securitylevel/content/securityLevelPreferences.inc.xhtml
  browser/components/securitylevel/jar.mn
  browser/components/securitylevel/moz.build
  browser/installer/package-manifest.in
  dom/base/nsNodeInfoManager.cpp
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/UseCases.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/installer/package-manifest.in
  toolkit/components/moz.build
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/securitylevel/SecurityLevel.manifest
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
  toolkit/components/securitylevel/components.conf
  toolkit/components/securitylevel/moz.build
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41834: Hide "Can't Be Removed - learn more" menu line for uninstallable add-ons
  toolkit/mozapps/extensions/content/aboutaddons.js
Due: eslint

BB 41736: Customize toolbar for base-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

BB 40926: Implemented the New Identity feature
  browser/app/profile/001-base-profile.js
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-init.js
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/moz.build
  browser/components/newidentity/content/newIdentityDialog.css
  browser/components/newidentity/content/newIdentityDialog.js
  browser/components/newidentity/content/newIdentityDialog.xhtml
  browser/components/newidentity/content/newidentity.js
  browser/components/newidentity/jar.mn
  browser/components/newidentity/moz.build
  browser/modules/BrowserWindowTracker.sys.mjs
  browser/themes/shared/icons/new_identity.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, py-black, file-whitespace

TB 42308: Create README for tor-browser.
  README.md
  README.txt
Due: file-whitespace

BB 42027: Base Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
Due: eslint

TB 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Backport Android Security Fixes.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Legacy.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
Due: file-whitespace

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/containers/base/Containerfile
  .gitlab/ci/docker/base/Dockerfile
  .gitlab/ci/jobs/lint/lint.yml
  .gitlab/ci/jobs/startup-test/startup-test.py
  .gitlab/ci/jobs/startup-test/startup-test.yml
  .gitlab/ci/jobs/update-containers.yml
  .gitlab/ci/jobs/update-translations.yml
  .gitlab/ci/mixins.yml
  testing/mozbase/mozinstall/mozinstall/mozinstall.py
  testing/mozbase/setup_development.py
  testing/mozharness/scripts/does_it_crash.py
Due: combine-en-US-translations, push-en-US-translations, py-black, py-ruff, yaml, file-whitespace, trojan-source, build-base-image

TB 41803: Add some developer tools for working on tor-browser.
  tools/base-browser/git-rebase-fixup-preprocessor
  tools/base-browser/tb-dev
Due: none

TB 41089: Add tor-browser build scripts + Makefile to tor-browser
  .gitignore
  tools/geckoview/.gitignore
  tools/geckoview/Makefile
  tools/geckoview/android-env-linux-template.sh
  tools/geckoview/android-env-macos-template.sh
  tools/geckoview/build-fenix.sh
  tools/geckoview/build-geckoview.sh
  tools/geckoview/clobber.sh
  tools/geckoview/config.sh
  tools/geckoview/jslint.sh
  tools/torbrowser/Makefile
  tools/torbrowser/browser-self-sign-macos.sh
  tools/torbrowser/build.sh
  tools/torbrowser/clobber.sh
  tools/torbrowser/config.sh
  tools/torbrowser/deploy.sh
  tools/torbrowser/fetch.sh
  tools/torbrowser/ide.sh
  tools/torbrowser/jslint.sh
Due: shellcheck

TB 11641: Disable remoting by default.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Add TorStrings module for localization
  browser/installer/package-manifest.in
  mobile/android/installer/package-manifest.in
  toolkit/modules/TorStrings.sys.mjs
  toolkit/modules/moz.build
  toolkit/moz.build
  toolkit/torbutton/chrome/locale/en-US/onionLocation.properties
  toolkit/torbutton/chrome/locale/en-US/settings.properties
  toolkit/torbutton/chrome/locale/en-US/torConnect.properties
  toolkit/torbutton/chrome/locale/en-US/torlauncher.properties
  toolkit/torbutton/jar.mn
  toolkit/torbutton/moz.build
Due: combine-en-US-translations, push-en-US-translations, eslint, py-black, file-whitespace

Tor Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/tor-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
  toolkit/locales/jar.mn
Due: combine-en-US-translations, push-en-US-translations, eslint, fluent-lint, file-whitespace

Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrate.py
  tools/torbrowser/l10n/migrations/__init__.py
  tools/torbrowser/l10n/migrations/bug-41333-new-about-tor.py
  tools/torbrowser/l10n/migrations/bug-41622-neterror.py
  tools/torbrowser/l10n/migrations/bug-41820-moz-message-bar-download-warning.py
  tools/torbrowser/l10n/migrations/bug-42202-crypto-safety.py
  tools/torbrowser/l10n/migrations/bug-42203-about-dialog.py
  tools/torbrowser/l10n/migrations/bug-42206-rulesets.py
  tools/torbrowser/l10n/migrations/bug-42207-settings.py
  tools/torbrowser/l10n/migrations/bug-42209-tor-circuit.py
  tools/torbrowser/l10n/migrations/bug-42210-download-warning.py
  tools/torbrowser/l10n/migrations/bug-42211-new-identity.py
  tools/torbrowser/l10n/migrations/bug-42212-onion-services.py
  tools/torbrowser/l10n/migrations/bug-42214-security-level.py
Due: py-black, py-ruff, file-whitespace, trojan-source
