Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile

BB 31740: Remove some unnecessary RemoteSettings instances
  browser/components/search/SearchSERPTelemetry.sys.mjs
  docshell/base/nsAboutRedirector.cpp
  netwerk/url-classifier/UrlClassifierFeatureBase.cpp
  netwerk/url-classifier/components.conf
  security/manager/ssl/RemoteSecuritySettings.sys.mjs
  services/settings/IDBHelpers.sys.mjs
  services/settings/dumps/main/moz.build
  services/settings/servicesSettings.manifest
  toolkit/components/antitracking/antitracking.manifest
  toolkit/components/antitracking/components.conf
  toolkit/components/search/SearchService.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41092: Add a RemoteSettings JSON dump for query-stripping
  services/settings/static-dumps/main/moz.build
  services/settings/static-dumps/main/query-stripping.json
Due: eslint, py-black

BB 42730: Patch RemoteSettings to use only local dumps as a data source
  browser/components/BrowserGlue.sys.mjs
  mobile/shared/chrome/geckoview/geckoview.js
  services/settings/Attachments.sys.mjs
  services/settings/RemoteSettingsClient.sys.mjs
  services/settings/dumps/gen_last_modified.py
  services/settings/remote-settings.sys.mjs
  toolkit/modules/AppConstants.sys.mjs
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

BB 28369: Stop shipping pingsender executable
  browser/app/macbuild/Contents/MacOS-files.in
  browser/installer/package-manifest.in
  browser/installer/windows/nsis/shared.nsh
  python/mozbuild/mozbuild/artifacts.py
  toolkit/components/telemetry/app/TelemetrySend.sys.mjs
  toolkit/components/telemetry/moz.build
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

BB 41635: Disable the Normandy component
  browser/components/BrowserGlue.sys.mjs
  toolkit/components/moz.build
Due: eslint, py-black

BB 30541: Disable WebGL readPixel() for web content
  dom/canvas/ClientWebGLContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42630: Disable LaterRun module.
  browser/modules/LaterRun.sys.mjs
Due: eslint

BB 41599: Always return an empty string as network ID
  netwerk/system/android/nsAndroidNetworkLinkService.cpp
  netwerk/system/linux/nsNetworkLinkService.cpp
  netwerk/system/mac/nsNetworkLinkService.mm
  netwerk/system/netlink/NetlinkService.cpp
  netwerk/system/win32/nsNotifyAddrListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42647: Make OS HTTP User-Agent OS spoofing configurable by pref
  netwerk/protocol/http/nsHttpHandler.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41327: Disable UrlbarProviderInterventions
  browser/components/urlbar/UrlbarProvidersManager.sys.mjs
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/moz.build
Due: eslint, py-black

BB 42037: Disable about:firefoxview page
  browser/base/content/browser.js
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 43140: Tighten up fonts on Linux.
  browser/fonts/fonts.conf
  browser/fonts/moz.build
  gfx/thebes/gfxFcPlatformFontList.cpp
  gfx/thebes/gfxPlatformFontList.cpp
  layout/base/nsLayoutUtils.cpp
  toolkit/xre/nsXREDirProvider.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41901: Hardcode normalized FontSubstitutes.
  gfx/thebes/StandardFonts-win10.inc
  gfx/thebes/gfxDWriteFontList.cpp
  gfx/thebes/gfxDWriteFontList.h
  gfx/thebes/gfxGDIFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Firefox preference overrides.
  .eslintignore
  .prettierignore
  browser/app/profile/001-base-profile.js
  browser/app/profile/firefox.js
  browser/installer/package-manifest.in
  browser/moz.build
  modules/libpref/init/all.js
Due: eslint, py-black

BB 43322: Customize the font visibility lists.
  gfx/thebes/StandardFonts-linux-upstream.inc
  gfx/thebes/StandardFonts-macos-bb.inc
  gfx/thebes/StandardFonts-macos-upstream.inc
  gfx/thebes/StandardFonts-win10-bb.inc
  gfx/thebes/StandardFonts-win10-upstream.inc
  gfx/thebes/gfxDWriteFontList.cpp
  gfx/thebes/gfxFcPlatformFontList.cpp
  gfx/thebes/gfxGDIFontList.cpp
  gfx/thebes/gfxMacPlatformFontList.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42562: Normalized the Accepted Languages on Android.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
Due: none

BB 30605: Honor privacy.spoof_english in Android
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
Due: eslint

BB 40171: Make WebRequest and GeckoWebExecutor First-Party aware
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebRequest.java
  widget/android/WebExecutorSupport.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 26345: Hide tracking protection UI
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/preferences/privacy.inc.xhtml
  browser/themes/shared/identity-block/identity-block.css
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 43109: Hide Firefox Relay from settings.
  browser/components/preferences/privacy.js
Due: eslint

BB 42777: Hide Website Privacy Preferences.
  browser/components/preferences/privacy.inc.xhtml
Due: eslint, file-whitespace

BB 42070: Hide "Use smooth scrolling" from settings
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

BB 18905: Hide unwanted items from help menu
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-safebrowsing.js
Due: eslint

BB 41739: Remove "Website appearance" from about:preferences.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

BB 43117: Hide "Always underline links" from settings.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

BB 42774: Always hide the third-pary certs UI.
  browser/components/preferences/privacy.js
Due: eslint

BB 43118: Hide feature recommendation (CFR) settings.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

BB 42773: Replace ~ with the original home.
  docshell/base/URIFixup.sys.mjs
Due: eslint

BB 9173: Change the default Firefox profile directory to be relative.
  browser/config/mozconfigs/base-browser
  moz.configure
  mozconfig-macos
  toolkit/xre/LauncherRegistryInfo.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsIXREDirProvider.idl
  toolkit/xre/nsXREDirProvider.cpp
  toolkit/xre/nsXREDirProvider.h
  widget/windows/WinTaskbar.cpp
  xpcom/io/nsAppFileLocationProvider.cpp
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 27604: Fix addon issues when moving the profile directory
  toolkit/mozapps/extensions/internal/XPIProvider.sys.mjs
Due: eslint

BB 13028: Prevent potential proxy bypass cases.
  security/nss/lib/certhigh/ocsp.c
  security/nss/lib/libpkix/pkix_pl_nss/module/pkix_pl_socket.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 40432: Prevent probing installed applications
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 40309: Avoid using regional OS locales
  intl/locale/LocaleService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42288: Allow language spoofing in status messages.
  browser/installer/package-manifest.in
  dom/locales/moz.build
  dom/xslt/xslt/txMozillaXSLTProcessor.cpp
  dom/xslt/xslt/txXSLTMsgsURL.h
  intl/strres/nsIStringBundle.idl
  intl/strres/nsStringBundle.cpp
  mobile/android/installer/package-manifest.in
  uriloader/base/nsDocLoader.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41791: Omit the source URL when copying page contents to the clipboard
  dom/base/nsCopySupport.cpp
  widget/windows/nsDataObj.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 33955: When copying an image only copy the image contents to the clipboard
  browser/base/content/browser-context.inc
Due: none

BB 42583: Modify moz-support-link for Base Browser.
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
Due: eslint

BB 43196: Remove the vendor name from media notifications on Linux.
  widget/gtk/MPRISServiceHandler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Base Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/base-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/base-browser.ftl
  toolkit/locales/jar.mn
  tools/lint/fluent-lint/exclusions.yml
Due: combine-en-US-translations, push-en-US-translations, eslint, yaml, fluent-lint, file-whitespace

BB 40283: Workaround for the file upload bug
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: none
