Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

combine-en-US-translations:
  stage: update-translations
  variables:
    TOR_BROWSER_COMBINED_FILES_JSON: combined-translation-files.json
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  ...

push-en-US-translations:
  stage: update-translations
  variables:
    TOR_BROWSER_COMBINED_FILES_JSON: combined-translation-files.json
    TOR_BROWSER_COMBINED_FILES_JSON_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/jobs/${COMBINE_TRANSLATIONS_JOB_ID}/artifacts/${TOR_BROWSER_COMBINED_FILES_JSON}
  needs:
  ...

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

TB 41736: Customize toolbar for tor-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

Temporary commit: manually place generated wasm files
  .eslintignore
  .prettierignore
  toolkit/components/lox/content/lox_wasm_bg.wasm
  toolkit/components/lox/lox_wasm.jsm
Due: eslint

TB 41728: Pin bridges.torproject.org domains to Let's Encrypt's root cert public key
  security/manager/ssl/StaticHPKPins.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

TB 41822: Unconditionally disable default browser UX in about:preferences
  browser/components/preferences/main.js
Due: eslint

TB 42660: Disable ProxySelector.openConnectionWithProxy and NOPify CrashReporter.sendCrashReport
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/ProxySelector.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/CrashReporter.java
Due: none

[android] TBA strings
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: combine-en-US-translations, push-en-US-translations, eslint

TB 43006: Disable RFP for Font Visibility on Android
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

TB 40005: [android] Modify Default toolbar menu
  mobile/android/android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/WebExtensionBrowserMenuBuilder.kt
Due: none

TB 34378: [android] Port external helper app prompting
  mobile/android/android-components/components/feature/app-links/build.gradle
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksFeature.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksUseCases.kt
  mobile/android/android-components/components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuCandidate.kt
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/content/Context.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/TorUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareController.kt
Due: none

TB 42191: [android] Temporary StrictMode relaxation to clear the thumbnail cache.
  mobile/android/android-components/components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/utils/ThumbnailDiskCache.kt
Due: none

TB 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/build.gradle
  mobile/android/android-components/components/feature/search/src/main/assets/search/list.json
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg-onion.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/startpage-onion.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/startpage.xml
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
  mobile/android/fenix/app/src/main/assets/searchplugins/reddit.xml
  mobile/android/fenix/app/src/main/assets/searchplugins/youtube.xml
Due: eslint

TB 40002: [android] Ensure system download manager is not used
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadsFeature.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadsFeatureTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/ProtectionsViewTest.kt
Due: eslint

[android] Modify Addon support
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  mobile/android/android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_fragment_dialog_addon_installed.xml
  mobile/android/android-components/samples/browser/src/main/res/layout/activity_installed_add_on_details.xml
Due: eslint

TB 40015: [android] Port padlock states for .onion services
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  mobile/android/android-components/components/feature/toolbar/src/main/java/mozilla/components/feature/toolbar/ToolbarPresenter.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  mobile/android/android-components/components/ui/icons/src/main/res/drawable/mozac_ic_onion.xml
Due: eslint

[android] Modify add-on support
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtension.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
  mobile/android/android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuNavigationMiddlewareTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtensionController.java
  mobile/shared/modules/geckoview/GeckoViewWebExtension.sys.mjs
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/extensions/components.conf
  toolkit/mozapps/extensions/internal/XPIInstall.sys.mjs
Due: eslint

TB 40023: [android] Stop PrivateNotificationService
  mobile/android/android-components/components/feature/privatemode/src/main/java/mozilla/components/feature/privatemode/notification/PrivateNotificationFeature.kt
Due: none

[android] Modify Tracking Protection configuration
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: none

TB 34439 [android]: Isolate Icon loader on Android.
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  mobile/android/android-components/components/browser/icons/src/main/java/mozilla/components/browser/icons/loader/HttpIconLoader.kt
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: none

TB 40032 [android]: Set usesCleartextTraffic as false
  mobile/android/fenix/app/src/main/AndroidManifest.xml
Due: eslint

[android] Disable features and functionality
  mobile/android/android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/SettingsTest.kt
  mobile/android/android-components/components/feature/accounts/build.gradle
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  mobile/android/android-components/components/feature/search/build.gradle
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SerpTelemetryRepository.kt
  mobile/android/android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetryTest.kt
  mobile/android/android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/SerpTelemetryRepositoryTest.kt
  mobile/android/android-components/components/support/remotesettings/src/main/java/mozilla/components/support/remotesettings/RemoteSettingsClient.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/beta/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/debug/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/main/AndroidManifest.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/intent/HomeDeepLinkIntentProcessor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/PrivateBrowsingDescriptionViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/PhoneFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsManagePhoneFeatureFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/shortcut/PwaOnboardingObserver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/xml/search_settings_preferences.xml
  mobile/android/fenix/app/src/main/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/nightly/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/release/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MetricsUtilsTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: eslint

TB 40185: [android] Use NimbusDisabled
  mobile/android/android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingController.kt
  mobile/android/android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingStorage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/BackgroundServices.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/NimbusComponents.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/FenixOnboarding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ReEngagementNotificationWorker.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/advanced/DefaultLocaleSettingsController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: none

[android] Modify build system
  .gitignore
  mobile/android/android-components/components/service/glean/src/main/java/mozilla/components/service/glean/private/MetricAliases.kt
  mobile/android/android-components/plugins/config/src/main/java/ConfigPlugin.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/proguard-rules.pro
  mobile/android/fenix/build.gradle
  mobile/android/fenix/tools/tba-fetch-deps.sh
  mobile/android/fenix/tools/tba-sign-devbuilds.sh
  mobile/android/shared-settings.gradle
Due: shellcheck

TB 40087 [android]: Implement a switch for spoof English.
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/advanced/DefaultLocaleSettingsController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/advanced/LocaleSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/layout/fragment_locale_settings.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
Due: eslint

TB 34403 [android]: Disable Normal mode by default.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkItemMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/HttpsOnlyFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TabsSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabLayoutMediator.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/private_browsing_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

TB 40016 [android]: Don't install WebCompat webext.
  mobile/android/fenix/.buildconfig.yml
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: yaml

TB 41972: [android] Disable Mozilla onboarding
  mobile/android/fenix/app/lint-baseline.xml
  mobile/android/fenix/app/onboarding.fml.yaml
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: eslint, yaml

TB 40026 [android]: Implement Security Level settings on Android.
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorSecurityLevelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/SecurityLevel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_security_level_preferences.xml
Due: eslint

TB 40041 [android]: Implement Tor Network Settings
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorBridgeConfigFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/QuickStartPreference.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsComposeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/ic_tor_config_bridge.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_tor_network_settings.xml
  mobile/android/fenix/app/src/main/res/layout/preference_quick_start.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_bridge_config_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

[android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/ConnectAssistUiState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
  mobile/android/fenix/app/src/main/res/drawable/browser_location.xml
  mobile/android/fenix/app/src/main/res/drawable/connect.xml
  mobile/android/fenix/app/src/main/res/drawable/connect_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/globe_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/progress_gradient.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
Due: eslint

TB 41878: [android] Add standalone Tor Bootstrap
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/assets/common/torrc-defaults
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBootstrapStatus.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBridgeTransports.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/res/drawable/tor_bootstrap_background_gradient.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
Due: eslint

TB 42089: [android] Remove ability to submit site support requests
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/cookiebanners/GeckoCookieBannersStorage.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/cookiebanners/ReportSiteDomainsRepository.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/cookiebanners/GeckoCookieBannersStorageTest.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/cookiebanners/ReportSiteDomainsRepositoryTest.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/cookiehandling/CookieBannersStorage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerDetailsController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerDetailsInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerHandlingDetailsView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannersStorageExt.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/trackingprotection/ProtectionsStore.kt
  mobile/android/fenix/app/src/main/res/layout/component_cookie_banner_details_panel.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/CookieBannerHandlingDetailsViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/DefaultCookieBannerDetailsControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/trackingprotection/ProtectionsStoreTest.kt
Due: eslint

TB 42655 [android]: Implement "New circuit for this site" on Android
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarMenu.kt
  mobile/android/fenix/app/src/main/res/drawable/new_circuit.xml
Due: eslint

fixup! TB 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.js
  browser/components/torpreferences/content/connectionPane.xhtml
  browser/components/torpreferences/content/torPreferences.css
Due: eslint, stylelint, file-whitespace

Revert "Temporary commit: run ./mach vendor rust before adding our changes."
  supply-chain/imports.lock
Due: none

Temporary commit: run ./mach vendor rust before adding our changes.
  supply-chain/imports.lock
Due: none

fixup! Lox integration
  toolkit/components/lox/Cargo.toml
  toolkit/components/lox/src/lib.rs
  toolkit/library/rust/shared/Cargo.toml
Due: rustfmt, file-whitespace, trojan-source

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile
