Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 40458: Implement .tor.onion aliases
  browser/app/profile/000-tor-browser.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/onionservices/OnionAliasStore.sys.mjs
  browser/components/onionservices/TorRequestWatch.sys.mjs
  browser/components/onionservices/moz.build
  browser/components/rulesets/RulesetsChild.sys.mjs
  browser/components/rulesets/RulesetsParent.sys.mjs
  browser/components/rulesets/content/aboutRulesets.css
  browser/components/rulesets/content/aboutRulesets.html
  browser/components/rulesets/content/aboutRulesets.js
  browser/components/rulesets/content/securedrop.svg
  browser/components/rulesets/jar.mn
  browser/components/rulesets/moz.build
  modules/libpref/Preferences.cpp
  modules/libpref/init/StaticPrefList.yaml
  netwerk/build/components.conf
  netwerk/build/nsNetCID.h
  netwerk/dns/IOnionAliasService.idl
  netwerk/dns/OnionAliasService.cpp
  netwerk/dns/OnionAliasService.h
  netwerk/dns/effective_tld_names.dat
  netwerk/dns/moz.build
  netwerk/socket/nsSOCKSIOLayer.cpp
  security/manager/ssl/SSLServerCertVerification.cpp
  security/manager/ssl/SSLServerCertVerification.h
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 11698: Incorporate Tor Browser Manual pages into Tor Browser
  browser/base/content/browser-menubar.inc
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41435: Add a Tor Browser migration function
  browser/components/BrowserGlue.sys.mjs
Due: eslint

fixup! Bug 41435: Add a Tor Browser migration function
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 41736: Customize toolbar for tor-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

Bug 42110: Add TorUIUtils module for common tor component methods.
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/modules/TorUIUtils.sys.mjs
  browser/modules/moz.build
Due: eslint, py-black

Bug 40701: Add security warning when downloading a file
  browser/components/downloads/DownloadsTorWarning.sys.mjs
  browser/components/downloads/content/contentAreaDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.xhtml
  browser/components/downloads/content/downloads.css
  browser/components/downloads/content/downloads.js
  browser/components/downloads/content/downloadsPanel.inc.xhtml
  browser/components/downloads/moz.build
  browser/components/places/content/places.css
  browser/components/places/content/places.js
  browser/components/places/content/places.xhtml
  browser/themes/shared/downloads/contentAreaDownloadsView.css
Due: eslint, stylelint, py-black, file-whitespace

Bug 41728: Pin bridges.torproject.org domains to Let's Encrypt's root cert public key
  security/manager/ssl/StaticHPKPins.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Customize moz-toggle for tor-browser.
  toolkit/content/widgets/moz-toggle/moz-toggle.mjs
Due: eslint

fixup! Temporary commit: manually place generated wasm files
  toolkit/components/lox/content/lox_wasm_bg.wasm
  toolkit/components/lox/lox_wasm.jsm
Due: eslint

Bug 41822: Unconditionally disable default browser UX in about:preferences
  browser/components/preferences/main.js
Due: eslint

Temporary commit: manually place generated wasm files
  .eslintignore
  .prettierignore
  toolkit/components/lox/content/lox_wasm_bg.wasm
  toolkit/components/lox/lox_wasm.jsm
Due: eslint

Bug 40005: [android] Modify Default toolbar menu
  mobile/android/android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/WebExtensionBrowserMenuBuilder.kt
Due: none

Bug 40002: [android] Ensure system download manager is not used
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadsFeature.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadsFeatureTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/ProtectionsViewTest.kt
Due: none

Bug 40007: [android] Port external helper app prompting
  mobile/android/android-components/components/feature/app-links/build.gradle
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksFeature.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksUseCases.kt
  mobile/android/android-components/components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuCandidate.kt
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/content/Context.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/TorUtils.kt
Due: none

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg-onion.xml
Due: eslint

Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/search/list.json
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg-onion.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/startpage-onion.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/startpage.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/yahoo.xml
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
Due: eslint

[android] Modify Addon support
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  mobile/android/android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_fragment_dialog_addon_installed.xml
  mobile/android/android-components/samples/browser/src/main/res/layout/activity_installed_add_on_details.xml
Due: eslint

Bug 40013: [android] Add option do overwrite timestamp in extension version
  mobile/android/shared-settings.gradle
Due: none

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/build.gradle
Due: none

Bug 40015: [android] Port padlock states for .onion services
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  mobile/android/android-components/components/feature/toolbar/src/main/java/mozilla/components/feature/toolbar/ToolbarPresenter.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  mobile/android/android-components/components/ui/icons/src/main/res/drawable/mozac_ic_onion.xml
Due: eslint

[android] Modify Tracking Protection configuration
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: none

[android] Add support for new GeckoView interfaces
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  mobile/android/android-components/components/browser/icons/src/main/java/mozilla/components/browser/icons/loader/HttpIconLoader.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: none

[android] Disable features and functionality
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonsManagerAdapter.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/beta/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/debug/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/main/AndroidManifest.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/intent/HomeDeepLinkIntentProcessor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/PrivateBrowsingDescriptionViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/PhoneFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsManagePhoneFeatureFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/shortcut/PwaOnboardingObserver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/nightly/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/release/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MetricsUtilsTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: eslint

Bug 40023: [android] Stop PrivateNotificationService
  mobile/android/android-components/components/feature/privatemode/src/main/java/mozilla/components/feature/privatemode/notification/PrivateNotificationFeature.kt
Due: none

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/AndroidManifest.xml
Due: eslint

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: none

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/xml/search_settings_preferences.xml
Due: eslint

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/SettingsTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: none

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/feature/accounts/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: none

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/feature/search/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: none

[android] Modify build system
  .gitignore
  mobile/android/android-components/components/service/glean/src/main/java/mozilla/components/service/glean/private/MetricAliases.kt
  mobile/android/android-components/plugins/config/src/main/java/ConfigPlugin.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/proguard-rules.pro
  mobile/android/fenix/build.gradle
  mobile/android/fenix/tools/tba-fetch-deps.sh
  mobile/android/fenix/tools/tba-sign-devbuilds.sh
Due: shellcheck

fixup! [android] Rename as Tor Browser
  mobile/android/fenix/app/src/beta/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/beta/res/drawable-hdpi/fenix_search_widget.webp
  mobile/android/fenix/app/src/main/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/main/res/drawable-hdpi/fenix_search_widget.webp
  mobile/android/fenix/app/src/nightly/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/nightly/res/drawable-hdpi/fenix_search_widget.webp
  mobile/android/fenix/app/src/release/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/release/res/drawable-hdpi/fenix_search_widget.webp
Due: none

Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/FenixOnboarding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ReEngagementNotificationWorker.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/advanced/DefaultLocaleSettingsController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: none

fixup! Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/BackgroundServices.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/NimbusComponents.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFMiddleware.kt
Due: none
