Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Add TorStrings module for localization
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
Due: file-whitespace

Bug 42739: Use the brand name for profile error messages.
  toolkit/xre/ProfileReset.cpp
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Add TorStrings module for localization
  toolkit/torbutton/chrome/locale/en-US/aboutTBUpdate.dtd
  toolkit/torbutton/jar.mn
Due: file-whitespace

fixup! Bug 16940: After update, load local change notes.
  browser/actors/AboutTBUpdateChild.sys.mjs
  browser/actors/AboutTBUpdateParent.sys.mjs
  browser/actors/moz.build
  browser/base/content/abouttbupdate/aboutTBUpdate.css
  browser/base/content/abouttbupdate/aboutTBUpdate.js
  browser/base/content/abouttbupdate/aboutTBUpdate.xhtml
  browser/base/content/browser.js
  browser/base/jar.mn
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 7494: Create local home page for TBB.
  browser/components/BrowserContentHandler.sys.mjs
Due: eslint

fixup! [android] Modify UI/UX
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: none

fixup! Adding issue and merge request templates
  .gitlab/issue_templates/QA - Desktop.md
Due: file-whitespace

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/savedKeysDialog.js
Due: eslint

fixup! [android] Modify UI/UX
  mobile/android/android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SessionAutocompleteProvider.kt
  mobile/android/android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SessionSuggestionProvider.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
Due: none

fixup! Lox integration
  toolkit/components/lox/Lox.sys.mjs
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/DomainFrontedRequests.sys.mjs
  toolkit/modules/Moat.sys.mjs
Due: eslint

fixup! Bug 42305: Add script to combine translation files across versions.
  tools/torbrowser/l10n/combine-translation-versions.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

dropme! Bug 32308: Use direct browser sizing for letterboxing.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 1556002 - Update initial window size and letterboxing stepping. r=tjr
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/resistfingerprinting/test/browser/browser_roundedWindow_open_max_inner.js
  browser/components/resistfingerprinting/test/browser/head.js
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, yaml

fixup! Bug 32308: Use direct browser sizing for letterboxing.
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

Bug 373 - reenable webrtc builds
  third_party/libwebrtc/modules/desktop_capture/win/wgc_capture_session.cc
  third_party/libwebrtc/modules/desktop_capture/win/wgc_capturer_win.cc
  third_party/libwebrtc/modules/desktop_capture/win/wgc_capturer_win.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40933: Add tor-launcher functionality
  toolkit/components/tor-launcher/TorProvider.sys.mjs
Due: eslint

fixup! Bug 40933: Add tor-launcher functionality
  toolkit/components/tor-launcher/TorControlPort.sys.mjs
  toolkit/components/tor-launcher/TorLauncherUtil.sys.mjs
  toolkit/components/tor-launcher/TorProcess.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

fixup! Bug 40933: Add tor-launcher functionality
  toolkit/components/tor-launcher/TorProcessAndroid.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorConnect.sys.mjs
Due: eslint

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
Due: none

fixup! Bug 42247: Android helpers for the TorProvider
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/TorConnectParent.sys.mjs
Due: eslint
