Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

fixup! Bug 41817: tor-browser semantic colors.
  toolkit/themes/shared/tor-colors.css
Due: stylelint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/builtinBridgeDialog.js
  browser/components/torpreferences/content/connectionPane.xhtml
  browser/components/torpreferences/content/provideBridgeDialog.js
  browser/components/torpreferences/content/requestBridgeDialog.js
Due: eslint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/themes/shared/tor-urlbar-button.css
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
Due: eslint, stylelint, file-whitespace

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
Due: none

Bug 40209: Implement Basic Crypto Safety
  browser/actors/CryptoSafetyChild.sys.mjs
  browser/actors/CryptoSafetyParent.sys.mjs
  browser/actors/moz.build
  browser/components/BrowserGlue.sys.mjs
  toolkit/content/license.html
  toolkit/modules/Bech32Decode.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black, file-whitespace

fixup! Bug 40209: Implement Basic Crypto Safety
  toolkit/content/license.html
Due: eslint, file-whitespace

Add purple tor version of the loading APNG.
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/tor-dark-loading.png
  toolkit/themes/shared/icons/tor-dark-loading@2x.png
  toolkit/themes/shared/icons/tor-light-loading.png
  toolkit/themes/shared/icons/tor-light-loading@2x.png
  tools/torbrowser/generate_tor_loading_png.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Bug 40209: Implement Basic Crypto Safety
  browser/actors/CryptoSafetyParent.sys.mjs
Due: eslint

Bug 41340: Enable TOR_BROWSER_NIGHTLY_BUILD features for dev and nightly builds
  build/moz.configure/init.configure
  intl/l10n/Localization.h
  modules/libpref/init/all.js
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

TB3: Tor Browser's official .mozconfigs.
  browser/config/mozconfigs/base-browser
  browser/config/mozconfigs/tor-browser
  browser/config/mozconfigs/tor-browser-android
  browser/moz.configure
  mobile/android/geckoview/build.gradle
  moz.configure
  mozconfig-android-aarch64
  mozconfig-android-all
  mozconfig-android-armv7
  mozconfig-android-x86
  mozconfig-android-x86_64
  mozconfig-linux-aarch64
  mozconfig-linux-arm
  mozconfig-linux-i686
  mozconfig-linux-x86_64
  mozconfig-linux-x86_64-asan
  mozconfig-linux-x86_64-dev
  mozconfig-macos
  mozconfig-macos-dev
  mozconfig-windows-i686
  mozconfig-windows-x86_64
Due: py-black, py-ruff

Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  .eslintignore
  .prettierignore
  browser/app/profile/000-tor-browser.js
  browser/installer/package-manifest.in
  browser/moz.build
  mobile/android/app/000-tor-browser-android.js
  mobile/android/app/geckoview-prefs.js
  mobile/android/app/moz.build
Due: eslint, py-black

Bug 13252: Customize profile management on macOS
  toolkit/xre/nsXREDirProvider.cpp
  toolkit/xre/nsXREDirProvider.h
  xpcom/io/CocoaFileUtils.mm
  xpcom/io/nsAppFileLocationProvider.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  browser/app/profile/000-tor-browser.js
Due: eslint

Lox integration
  dom/security/nsContentSecurityUtils.cpp
  toolkit/components/lox/Lox.sys.mjs
  toolkit/components/lox/jar.mn
  toolkit/components/lox/moz.build
  toolkit/components/moz.build
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40933: Add tor-launcher functionality
  browser/app/profile/000-tor-browser.js
  toolkit/components/tor-launcher/TorControlPort.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
Due: eslint

Bug 40933: Add tor-launcher functionality
  browser/components/BrowserGlue.sys.mjs
  browser/installer/package-manifest.in
  toolkit/components/moz.build
  toolkit/components/tor-launcher/TorBootstrapRequest.sys.mjs
  toolkit/components/tor-launcher/TorControlPort.sys.mjs
  toolkit/components/tor-launcher/TorLauncherUtil.sys.mjs
  toolkit/components/tor-launcher/TorParsers.sys.mjs
  toolkit/components/tor-launcher/TorProcess.sys.mjs
  toolkit/components/tor-launcher/TorProcessAndroid.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
  toolkit/components/tor-launcher/TorProviderBuilder.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/components.conf
  toolkit/components/tor-launcher/moz.build
  toolkit/components/tor-launcher/tor-launcher.manifest
Due: eslint, py-black

Bug 40597: Implement TorSettings module
  .eslintignore
  .prettierignore
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/content/jar.mn
  toolkit/content/pt_config.json
  toolkit/modules/BridgeDB.sys.mjs
  toolkit/modules/DomainFrontedRequests.sys.mjs
  toolkit/modules/Moat.sys.mjs
  toolkit/modules/TorConnect.sys.mjs
  toolkit/modules/TorSettings.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

fixup! Bug 40597: Implement TorSettings module
  browser/app/profile/000-tor-browser.js
  toolkit/modules/TorConnect.sys.mjs
  toolkit/modules/TorSettings.sys.mjs
Due: eslint

fixup! Lox integration
  browser/app/profile/000-tor-browser.js
  toolkit/components/lox/Lox.sys.mjs
Due: eslint

fixup! Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/navigator-toolbox.inc.xhtml
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
Due: eslint, file-whitespace

Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/themes/shared/icons/new_circuit.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/moz.build
Due: eslint, stylelint, py-black, file-whitespace

fixup! Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/app/profile/000-tor-browser.js
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/tor-circuit-flags/README.txt
  tools/torbrowser/update_emojis.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
Due: stylelint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/app/profile/000-tor-browser.js
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  browser/app/profile/000-tor-browser.js
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
  mobile/shared/modules/geckoview/GeckoViewContent.sys.mjs
  toolkit/modules/TorAndroidIntegration.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: none

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/shared/modules/geckoview/GeckoViewContent.sys.mjs
Due: eslint

Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/components/BrowserGlue.sys.mjs
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  dom/base/ContentAreaDropListener.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/modules/DragDropFilter.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

fixup! Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/app/profile/000-tor-browser.js
  toolkit/modules/DragDropFilter.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
