Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

Bug 40013: [android] Add option do overwrite timestamp in extension version
  mobile/android/shared-settings.gradle
Due: none

Bug 40015: [android] Port padlock states for .onion services
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  mobile/android/android-components/components/feature/toolbar/src/main/java/mozilla/components/feature/toolbar/ToolbarPresenter.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  mobile/android/android-components/components/ui/icons/src/main/res/drawable/mozac_ic_onion.xml
Due: eslint

[android] Modify Tracking Protection configuration
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: none

Bug 40023: [android] Stop PrivateNotificationService
  mobile/android/android-components/components/feature/privatemode/src/main/java/mozilla/components/feature/privatemode/notification/PrivateNotificationFeature.kt
Due: none

[android] Add support for new GeckoView interfaces
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  mobile/android/android-components/components/browser/icons/src/main/java/mozilla/components/browser/icons/loader/HttpIconLoader.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: none

[android] Disable features and functionality
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonsManagerAdapter.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/beta/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/debug/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/main/AndroidManifest.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/intent/HomeDeepLinkIntentProcessor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/PrivateBrowsingDescriptionViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/PhoneFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsManagePhoneFeatureFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/shortcut/PwaOnboardingObserver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/nightly/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/release/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MetricsUtilsTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: eslint

[android] Modify build system
  .gitignore
  mobile/android/android-components/components/service/glean/src/main/java/mozilla/components/service/glean/private/MetricAliases.kt
  mobile/android/android-components/components/service/location/.gitignore
  mobile/android/android-components/plugins/config/src/main/java/ConfigPlugin.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/proguard-rules.pro
  mobile/android/fenix/build.gradle
  mobile/android/fenix/tools/tba-fetch-deps.sh
  mobile/android/fenix/tools/tba-sign-devbuilds.sh
Due: shellcheck

fixup! [android] Rename as Tor Browser
  mobile/android/fenix/app/src/beta/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/debug/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/res/drawable-v23/splash_screen.xml
  mobile/android/fenix/app/src/main/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/main/res/values-v24/styles.xml
  mobile/android/fenix/app/src/main/res/values-v27/styles.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/nightly/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/release/res/drawable/animated_splash_screen.xml
Due: eslint

fixup! [android] Modify build system
  mobile/android/android-components/components/service/location/.gitignore
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/build.gradle
Due: none

Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/FenixOnboarding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ReEngagementNotificationWorker.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/advanced/DefaultLocaleSettingsController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
Due: none

[android] Add Security Level UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorSecurityLevelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/SecurityLevel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_security_level_preferences.xml
Due: eslint

Bug 41972: [android] Disable mozilla onboarding
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingDonateViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/res/values/styles.xml
Due: eslint

[android] Modify add-on support
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuNavigationMiddlewareTest.kt
Due: eslint

Bug 41878: [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorNetworkSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBootstrapStatus.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsComposeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/bootstrap/TorQuickStart.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/tor_bootstrap_background_gradient.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_network_settings_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

fixup! Bug 41878: [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: none

[android] fixup! Modify UI/UX and Remove ability to submit site support requests
  mobile/android/fenix/app/src/release/res/drawable-v24/ic_launcher_foreground.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/fenix/app/src/release/res/mipmap-hdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-mdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
Due: eslint

fixup! [android] Enable the connect assist experiments on alpha
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

[android] Enable the connect assist experiments on alpha
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
Due: eslint

[android] Delete unused media
  mobile/android/fenix/app/src/beta/ic_launcher_monochrome-playstore.png
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/view/ResearchSurfaceSurvey.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicroSurveyHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
  mobile/android/fenix/app/src/main/res/drawable-night/ic_logo_wordmark_normal.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_firefox.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_launcher_monochrome.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_scan.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_turn_on_sync.xml
  mobile/android/fenix/app/src/main/res/values-night-v27/styles.xml
  mobile/android/fenix/app/src/main/res/values-night/styles.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/nightly/ic_launcher_monochrome-playstore.png
  mobile/android/fenix/app/src/release/ic_launcher_monochrome-playstore.png
Due: eslint

Bug 42191: [android] Temporary StrictMode relaxation to clear the thumbnail cache.
  mobile/android/android-components/components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/utils/ThumbnailDiskCache.kt
Due: none

Bug 42195: [android] Fix "Whats new URL"
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/SupportUtilsTest.kt
Due: none

[android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/ConnectAssistUiState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/QuickStartPreference.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/browser_location.xml
  mobile/android/fenix/app/src/main/res/drawable/connect.xml
  mobile/android/fenix/app/src/main/res/drawable/connect_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/globe_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/progress_gradient.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
  mobile/android/fenix/app/src/main/res/layout/preference_quick_start.xml
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
Due: eslint

fixup! [android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
Due: eslint

fixup! [android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
Due: none

Bug 42652: [android] Pass the list of supported languages to GeckoView.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
Due: eslint

fixup! [android] Rename as Tor Browser
  mobile/android/fenix/app/src/beta/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/beta/res/drawable-hdpi/fenix_search_widget.webp
  mobile/android/fenix/app/src/main/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/main/res/drawable-hdpi/fenix_search_widget.webp
  mobile/android/fenix/app/src/nightly/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/nightly/res/drawable-hdpi/fenix_search_widget.webp
  mobile/android/fenix/app/src/release/res/drawable-hdpi/fenix_search_widget.png
  mobile/android/fenix/app/src/release/res/drawable-hdpi/fenix_search_widget.webp
Due: none

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/AndroidManifest.xml
Due: eslint

fixup! Bug 42472: Spoof timezone in XSLT.
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1891690: Return GMT when RFPTarget::JSDateTimeUTC is enabled. r=timhuang
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_exslt_timezone_load.js
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912129: Reduce time precision for EXSLT date time function. r=timhuang
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_exslt_time_precision.js
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
