Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/app/profile/000-tor-browser.js
Due: eslint

Bug 30237: Add v3 onion services client authentication prompt
  browser/base/content/browser.js
  browser/base/content/browser.xhtml
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/moz.build
  browser/components/onionservices/content/authNotificationIcon.inc.xhtml
  browser/components/onionservices/content/authPopup.inc.xhtml
  browser/components/onionservices/content/authPreferences.css
  browser/components/onionservices/content/authPreferences.inc.xhtml
  browser/components/onionservices/content/authPreferences.js
  browser/components/onionservices/content/authPrompt.js
  browser/components/onionservices/content/onionservices.css
  browser/components/onionservices/content/savedKeysDialog.js
  browser/components/onionservices/content/savedKeysDialog.xhtml
  browser/components/onionservices/jar.mn
  browser/components/onionservices/moz.build
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
  browser/themes/shared/notification-icons.css
  docshell/base/nsDocShell.cpp
  dom/ipc/BrowserParent.cpp
  dom/ipc/BrowserParent.h
  dom/ipc/PBrowser.ipdl
  js/xpconnect/src/xpc.msg
  netwerk/base/nsSocketTransport2.cpp
  netwerk/socket/nsSOCKSIOLayer.cpp
  toolkit/content/aboutNetError.mjs
  toolkit/content/aboutNetError.xhtml
  toolkit/modules/PopupNotifications.sys.mjs
  toolkit/themes/shared/aboutNetError.css
  xpcom/base/ErrorList.py
Due: eslint, stylelint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 21952: Implement Onion-Location
  browser/base/content/browser.js
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/base/content/popup-notifications.inc
  browser/components/BrowserGlue.sys.mjs
  browser/components/onionservices/OnionLocationChild.sys.mjs
  browser/components/onionservices/OnionLocationParent.sys.mjs
  browser/components/onionservices/content/onionlocation-urlbar.inc.xhtml
  browser/components/onionservices/content/onionlocation.css
  browser/components/onionservices/jar.mn
  browser/components/onionservices/moz.build
  browser/themes/shared/browser-shared.css
  dom/base/Document.cpp
  dom/base/Document.h
  dom/webidl/Document.webidl
  xpcom/ds/StaticAtoms.py
Due: eslint, stylelint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40458: Implement .tor.onion aliases
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/onionservices/OnionAliasStore.sys.mjs
  browser/components/onionservices/TorRequestWatch.sys.mjs
  browser/components/onionservices/moz.build
  browser/components/rulesets/RulesetsChild.sys.mjs
  browser/components/rulesets/RulesetsParent.sys.mjs
  browser/components/rulesets/content/aboutRulesets.css
  browser/components/rulesets/content/aboutRulesets.html
  browser/components/rulesets/content/aboutRulesets.js
  browser/components/rulesets/content/securedrop.svg
  browser/components/rulesets/jar.mn
  browser/components/rulesets/moz.build
  modules/libpref/Preferences.cpp
  modules/libpref/init/StaticPrefList.yaml
  netwerk/build/components.conf
  netwerk/build/nsNetCID.h
  netwerk/dns/IOnionAliasService.idl
  netwerk/dns/OnionAliasService.cpp
  netwerk/dns/OnionAliasService.h
  netwerk/dns/effective_tld_names.dat
  netwerk/dns/moz.build
  netwerk/socket/nsSOCKSIOLayer.cpp
  security/manager/ssl/SSLServerCertVerification.cpp
  security/manager/ssl/SSLServerCertVerification.h
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 11698: Incorporate Tor Browser Manual pages into Tor Browser
  browser/base/content/browser-menubar.inc
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/allDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.xhtml
  browser/components/downloads/content/downloads.css
  browser/components/downloads/content/downloads.js
  browser/components/downloads/content/downloadsPanel.inc.xhtml
  browser/components/places/content/places.css
  browser/components/places/content/places.js
  browser/components/places/content/places.xhtml
  browser/themes/shared/customizableui/panelUI-shared.css
  browser/themes/shared/downloads/contentAreaDownloadsView.css
  browser/themes/shared/downloads/downloads.inc.css
Due: eslint, stylelint, file-whitespace

Bug 42110: Add TorUIUtils module for common tor component methods.
  browser/base/content/browser.js
  browser/modules/TorUIUtils.sys.mjs
  browser/modules/moz.build
Due: eslint, py-black

Bug 41435: Add a Tor Browser migration function
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 41736: Customize toolbar for tor-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

fixup! Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/downloads.js
Due: eslint

Bug 41728: Pin bridges.torproject.org domains to Let's Encrypt's root cert public key
  security/manager/ssl/StaticHPKPins.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Customize moz-toggle for tor-browser.
  toolkit/content/widgets/moz-toggle/moz-toggle.mjs
Due: eslint

Temporary commit: manually place generated wasm files
  toolkit/components/lox/content/lox_wasm_bg.wasm
  toolkit/components/lox/lox_wasm.jsm
Due: eslint

Bug 41822: Unconditionally disable default browser UX in about:preferences
  browser/components/preferences/main.js
Due: eslint

TEMPORARY: Copy torbrowser_strings.xml to the 13.5 branch.
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

Bug 42308: Create README for tor-browser.
  README.md
  README.txt
Due: file-whitespace

Temporary commit: Disable CI in protected branches
  .gitlab/ci/lint.yml
Due: yaml

Bug 42774: Always hide the third-pary certs UI.
  browser/components/preferences/privacy.js
Due: eslint

Bug 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Backport Android Security Fixes.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
Due: file-whitespace

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

fixup! Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  tools/torbrowser/Makefile
Due: none

Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  .gitignore
  tools/geckoview/.gitignore
  tools/geckoview/Makefile
  tools/geckoview/android-env-linux-template.sh
  tools/geckoview/android-env-macos-template.sh
  tools/geckoview/build.sh
  tools/geckoview/clobber.sh
  tools/geckoview/config.sh
  tools/geckoview/fataar.py
  tools/geckoview/jslint.sh
  tools/geckoview/package-gradle.sh
  tools/torbrowser/Makefile
  tools/torbrowser/browser-self-sign-macos.sh
  tools/torbrowser/build.sh
  tools/torbrowser/clobber.sh
  tools/torbrowser/config.sh
  tools/torbrowser/deploy.sh
  tools/torbrowser/fetch.sh
  tools/torbrowser/ide.sh
  tools/torbrowser/jslint.sh
Due: py-black, py-ruff, shellcheck, file-whitespace, trojan-source

Bug 41803: Add some developer tools for working on tor-browser.
  tools/torbrowser/git-rebase-fixup-preprocessor
  tools/torbrowser/tb-dev
Due: none

Bug 11641: Disable remoting by default.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Add TorStrings module for localization
  browser/base/content/browser.xhtml
  toolkit/modules/TorStrings.sys.mjs
  toolkit/torbutton/chrome/locale/en-US/torbutton.dtd
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
Due: eslint, file-whitespace

Add TorStrings module for localization
  browser/base/content/browser.xhtml
  browser/installer/package-manifest.in
  mobile/android/installer/package-manifest.in
  toolkit/modules/TorStrings.sys.mjs
  toolkit/modules/moz.build
  toolkit/moz.build
  toolkit/torbutton/chrome/locale/en-US/aboutTBUpdate.dtd
  toolkit/torbutton/chrome/locale/en-US/brand.properties
  toolkit/torbutton/chrome/locale/en-US/branding/brand.ftl
  toolkit/torbutton/chrome/locale/en-US/onionLocation.properties
  toolkit/torbutton/chrome/locale/en-US/settings.properties
  toolkit/torbutton/chrome/locale/en-US/torConnect.properties
  toolkit/torbutton/chrome/locale/en-US/torbutton.dtd
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
  toolkit/torbutton/chrome/locale/en-US/torlauncher.properties
  toolkit/torbutton/jar.mn
  toolkit/torbutton/moz.build
Due: eslint, py-black, fluent-lint, file-whitespace

Tor Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/tor-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
  toolkit/locales/jar.mn
Due: eslint, fluent-lint, file-whitespace

fixup! Tor Browser strings
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: fluent-lint, file-whitespace

Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrate.py
  tools/torbrowser/l10n/migrations/__init__.py
  tools/torbrowser/l10n/migrations/bug-41333-new-about-tor.py
  tools/torbrowser/l10n/migrations/bug-41622-neterror.py
  tools/torbrowser/l10n/migrations/bug-42202-crypto-safety.py
  tools/torbrowser/l10n/migrations/bug-42203-about-dialog.py
  tools/torbrowser/l10n/migrations/bug-42206-rulesets.py
  tools/torbrowser/l10n/migrations/bug-42207-settings.py
  tools/torbrowser/l10n/migrations/bug-42209-tor-circuit.py
  tools/torbrowser/l10n/migrations/bug-42210-download-warning.py
  tools/torbrowser/l10n/migrations/bug-42211-new-identity.py
  tools/torbrowser/l10n/migrations/bug-42214-security-level.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrations/bug-41820-moz-message-bar-download-warning.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrations/bug-42212-onion-services.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 42583: Modify moz-support-link for Tor Browser.
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
Due: eslint

Bug 42305: Add script to combine translation files across versions.
  tools/torbrowser/l10n/combine-translation-versions.py
  tools/torbrowser/l10n/combine/__init__.py
  tools/torbrowser/l10n/combine/combine.py
  tools/torbrowser/l10n/combine/tests/README
  tools/torbrowser/l10n/combine/tests/__init__.py
  tools/torbrowser/l10n/combine/tests/test_android.py
  tools/torbrowser/l10n/combine/tests/test_dtd.py
  tools/torbrowser/l10n/combine/tests/test_fluent.py
  tools/torbrowser/l10n/combine/tests/test_properties.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 41817: tor-browser semantic colors.
  browser/themes/shared/browser-shared.css
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/tor-colors.css
Due: stylelint, file-whitespace

Bug 41917: Tor brand-specific styles.
  browser/themes/shared/browser-shared.css
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tor-branding.css
Due: stylelint, file-whitespace
