Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

Bug 41327: Disable UrlbarProviderInterventions
  browser/components/urlbar/UrlbarProvidersManager.sys.mjs
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/moz.build
Due: eslint, py-black

Bug 41043: Hardcode the UI font on Linux
  gfx/thebes/gfxFcPlatformFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Firefox preference overrides.
  .eslintignore
  browser/app/profile/001-base-profile.js
  browser/app/profile/firefox.js
  browser/installer/package-manifest.in
  browser/moz.build
  mobile/android/app/mobile.js
  taskcluster/ci/source-test/mozlint.yml
Due: eslint, py-black, yaml

Bug 41901: Hardcode normalized FontSubstitutes.
  gfx/thebes/StandardFonts-win10.inc
  gfx/thebes/gfxDWriteFontList.cpp
  gfx/thebes/gfxDWriteFontList.h
  gfx/thebes/gfxGDIFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 30605: Honor privacy.spoof_english in Android
  mobile/android/components/geckoview/GeckoViewStartup.jsm
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
Due: eslint

Bug 9173: Change the default Firefox profile directory to be relative.
  browser/config/mozconfigs/base-browser
  moz.configure
  mozconfig-macos
  toolkit/xre/LauncherRegistryInfo.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsIXREDirProvider.idl
  toolkit/xre/nsXREDirProvider.cpp
  toolkit/xre/nsXREDirProvider.h
  widget/windows/WinTaskbar.cpp
  xpcom/io/nsAppFileLocationProvider.cpp
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40171: Make WebRequest and GeckoWebExecutor First-Party aware
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebRequest.java
  widget/android/WebExecutorSupport.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42562: Normalized the Accepted Languages on Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
Due: none

Bug 26345: Hide tracking protection UI
  browser/base/content/browser-siteIdentity.js
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/themes/shared/preferences/privacy.css
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 13028: Prevent potential proxy bypass cases.
  security/nss/lib/certhigh/ocsp.c
  security/nss/lib/libpkix/pkix_pl_nss/module/pkix_pl_socket.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40309: Avoid using regional OS locales
  intl/locale/LocaleService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 27604: Fix addon issues when moving the profile directory
  toolkit/mozapps/extensions/internal/XPIProvider.jsm
Due: eslint

Bug 41791: Omit the source URL when copying page contents to the clipboard
  dom/base/nsCopySupport.cpp
  widget/windows/nsDataObj.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 33955: When copying an image only copy the image contents to the clipboard
  browser/base/content/browser-context.inc
  dom/base/nsCopySupport.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42288: Allow language spoofing in status messages.
  browser/installer/package-manifest.in
  dom/locales/moz.build
  dom/xslt/xslt/txMozillaXSLTProcessor.cpp
  dom/xslt/xslt/txXSLTMsgsURL.h
  intl/strres/nsIStringBundle.idl
  intl/strres/nsStringBundle.cpp
  mobile/android/installer/package-manifest.in
  uriloader/base/nsDocLoader.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40432: Prevent probing installed applications
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40283: Workaround for the file upload bug
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: none

Bug 41659: Add canonical color definitions to base-browser
  browser/themes/shared/browser-shared.css
  toolkit/themes/shared/browser-colors.css
  toolkit/themes/shared/minimal-toolkit.jar.inc.mn
Due: stylelint, file-whitespace

Bug 41369: Improve Firefox language settings for multi-lingual packages
  browser/base/content/browser.xhtml
  browser/base/content/languageNotification.js
  browser/base/jar.mn
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
Due: eslint, file-whitespace

Base Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/base-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/base-browser.ftl
  toolkit/locales/jar.mn
Due: eslint, fluent-lint, file-whitespace

Bug 41739: Remove "Website appearance" from about:preferences.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

Bug 18905: Hide unwanted items from help menu
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-safebrowsing.js
  browser/base/content/browser.js
Due: eslint, file-whitespace

Bug 42376: Pass the locale list when constructing l10n in datetimebox
  toolkit/content/widgets/datetimebox.js
Due: eslint

Bug 42019: Empty browser's clipboard on browser shutdown
  browser/app/profile/001-base-profile.js
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 42084: Ensure English spoofing works even if preferences are set out of order.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 41930: Remove the UI to customize accept_languages.
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, file-whitespace

Bug 41434: Letterboxing, improve logging.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 42428: Make RFP spoof the timezone of document.lastModified.
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41434: Letterboxing, preemptively apply margins in a global CSS rule to mitigate race conditions on newly created windows and tabs.
  browser/base/content/browser.css
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 42472: Spoof timezone in XSLT.
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 31064: Letterboxing, exempt browser extensions.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 32411: Letterboxing, exempt view-source: URIs.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 42574: Letterboxing, exempt pdf.js.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 41918: Option to reuse last window size when letterboxing is enabled.
  browser/app/profile/001-base-profile.js
  browser/components/BrowserGlue.sys.mjs
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
  toolkit/xre/nsAppRunner.cpp
  xpfe/appshell/AppWindow.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41631: Prevent weird initial window dimensions caused by subpixel computations
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 41916: Letterboxing preferences UI
  browser/components/preferences/jar.mn
  browser/components/preferences/letterboxing-middle-dark.svg
  browser/components/preferences/letterboxing-middle-light.svg
  browser/components/preferences/letterboxing-top-dark.svg
  browser/components/preferences/letterboxing-top-light.svg
  browser/components/preferences/letterboxing.css
  browser/components/preferences/letterboxing.inc.xhtml
  browser/components/preferences/letterboxing.js
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/preferences.xhtml
Due: eslint, stylelint, file-whitespace

Bug 32308: Use direct browser sizing for letterboxing.
  browser/actors/RFPHelperChild.sys.mjs
  browser/actors/RFPHelperParent.sys.mjs
  browser/actors/moz.build
  browser/app/profile/001-base-profile.js
  browser/base/content/browser.css
  browser/base/content/tabbrowser.js
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/modules/FinderParent.sys.mjs
Due: eslint, stylelint, py-black, file-whitespace

Bug 42528: Don't leak system scrollbar size on windows.
  widget/ScrollbarDrawingWin.cpp
  widget/ScrollbarDrawingWin11.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41695: Warn on window maximization without letterboxing in RFPHelper module
  browser/app/profile/001-base-profile.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 42443: Shrink window to match letterboxing size when the emtpy area is clicked.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
