Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Tweaks to the build system
  browser/app/moz.build
  browser/installer/package-manifest.in
  mobile/android/gradle/with_gecko_binaries.gradle
  python/mozbuild/mozbuild/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Base Browser's .mozconfigs.
  moz.configure
Due: py-black, py-ruff

Bug 29320: Replace the gnu target with gnullvm for Rust.
  build/moz.configure/init.configure
  build/moz.configure/rust.configure
Due: py-black, py-ruff

Bug 41108: Remove privileged macOS installation from 102
  toolkit/xre/MacRunFromDmgUtils.mm
Due: clang-format

Bug 41149: Re-enable DLL injection protection in all builds not just nightlies
  toolkit/xre/dllservices/mozglue/WindowsDllBlocklist.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 24796: Comment out excess permissions from GeckoView
  mobile/android/geckoview/src/main/AndroidManifest.xml
  mobile/android/moz.configure
Due: eslint, py-black, py-ruff

Bug 28125: Prevent non-Necko network connections
  mobile/android/exoplayer2/src/main/java/org/mozilla/thirdparty/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/media/GeckoMediaDrmBridgeV21.java
Due: none

Bug 12974: Disable NTLM and Negotiate HTTP Auth
  extensions/auth/nsHttpNegotiateAuth.cpp
  netwerk/protocol/http/nsHttpNTLMAuth.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40166: Disable security.certerrors.mitm.auto_enable_enterprise_roots
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 16285: Exclude ClearKey system for now
  browser/installer/package-manifest.in
Due: none

Bug 21431: Clean-up system extensions shipped in Firefox
  browser/components/BrowserGlue.sys.mjs
  browser/extensions/moz.build
  browser/installer/package-manifest.in
  browser/locales/Makefile.in
  browser/locales/jar.mn
Due: eslint, py-black

fixup! Bug 21431: Clean-up system extensions shipped in Firefox
  browser/extensions/moz.build
Due: py-black

Bug 33852: Clean up about:logins (LockWise) to avoid mentioning sync, etc.
  browser/components/aboutlogins/AboutLoginsParent.sys.mjs
  browser/components/aboutlogins/content/aboutLogins.css
  browser/components/aboutlogins/content/aboutLogins.mjs
  browser/components/aboutlogins/content/components/fxaccounts-button.css
Due: eslint, stylelint, file-whitespace

Bug 41457: Remove Mozilla permissions
  browser/app/permissions
Due: none

Bug 40002: Remove about:ion
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  services/sync/components.conf
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 26353: Prevent speculative connect that violated FPI.
  toolkit/components/remotebrowserutils/RemoteWebNavigation.sys.mjs
Due: eslint

Bug 31740: Remove some unnecessary RemoteSettings instances
  browser/components/search/SearchSERPTelemetry.sys.mjs
  docshell/base/nsAboutRedirector.cpp
  netwerk/url-classifier/UrlClassifierFeatureBase.cpp
  netwerk/url-classifier/components.conf
  security/manager/ssl/RemoteSecuritySettings.sys.mjs
  services/settings/IDBHelpers.sys.mjs
  services/settings/dumps/main/moz.build
  services/settings/remote-settings.sys.mjs
  services/settings/servicesSettings.manifest
  toolkit/components/antitracking/antitracking.manifest
  toolkit/components/antitracking/components.conf
  toolkit/components/search/SearchService.sys.mjs
  toolkit/modules/IgnoreLists.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 31740: Remove some unnecessary RemoteSettings instances
  browser/components/search/SearchSERPTelemetry.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
Due: eslint

Bug 41092: Add a RemoteSettings JSON dump for query-stripping
  services/settings/static-dumps/main/moz.build
  services/settings/static-dumps/main/query-stripping.json
Due: eslint, py-black

Bug 41635: Disable the Normandy component
  browser/components/BrowserGlue.sys.mjs
  toolkit/components/moz.build
Due: eslint, py-black

Bug 30541: Disable WebGL readPixel() for web content
  dom/canvas/ClientWebGLContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 28369: Stop shipping pingsender executable
  browser/app/macbuild/Contents/MacOS-files.in
  browser/installer/package-manifest.in
  browser/installer/windows/nsis/shared.nsh
  python/mozbuild/mozbuild/artifacts.py
  toolkit/components/telemetry/app/TelemetrySend.sys.mjs
  toolkit/components/telemetry/moz.build
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 41568: Disable LaterRun
  browser/components/BrowserContentHandler.sys.mjs
Due: eslint

Bug 40717: Hide Windows SSO in settings
  browser/themes/shared/preferences/preferences.css
Due: stylelint, file-whitespace

Bug 41599: Always return an empty string as network ID
  netwerk/system/android/nsAndroidNetworkLinkService.cpp
  netwerk/system/linux/nsNetworkLinkService.cpp
  netwerk/system/mac/nsNetworkLinkService.mm
  netwerk/system/netlink/NetlinkService.cpp
  netwerk/system/win32/nsNotifyAddrListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41327: Disable UrlbarProviderInterventions
  browser/components/urlbar/UrlbarProvidersManager.sys.mjs
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/moz.build
Due: eslint, py-black

fixup! Bug 41327: Disable UrlbarProviderInterventions
  browser/components/urlbar/UrlbarUtils.sys.mjs
Due: eslint

Bug 42037: Disable about:firefoxview page
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Firefox preference overrides.
  .eslintignore
  browser/app/profile/001-base-profile.js
  browser/app/profile/firefox.js
  browser/installer/package-manifest.in
  browser/moz.build
Due: eslint, py-black

fixup! Firefox preference overrides.
  .prettierignore
Due: none

Bug 41043: Hardcode the UI font on Linux
  gfx/thebes/gfxFcPlatformFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41901: Hardcode normalized FontSubstitutes.
  gfx/thebes/StandardFonts-win10.inc
  gfx/thebes/gfxDWriteFontList.cpp
  gfx/thebes/gfxDWriteFontList.h
  gfx/thebes/gfxGDIFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 30605: Honor privacy.spoof_english in Android
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
Due: eslint

Bug 42562: Normalized the Accepted Languages on Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
Due: none

Bug 40171: Make WebRequest and GeckoWebExecutor First-Party aware
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebRequest.java
  widget/android/WebExecutorSupport.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 26345: Hide tracking protection UI
  browser/base/content/browser-siteIdentity.js
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/themes/shared/preferences/privacy.css
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 9173: Change the default Firefox profile directory to be relative.
  browser/config/mozconfigs/base-browser
  moz.configure
  mozconfig-macos
  toolkit/xre/LauncherRegistryInfo.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsIXREDirProvider.idl
  toolkit/xre/nsXREDirProvider.cpp
  toolkit/xre/nsXREDirProvider.h
  widget/windows/WinTaskbar.cpp
  xpcom/io/nsAppFileLocationProvider.cpp
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 9173: Change the default Firefox profile directory to be relative.
  moz.configure
Due: py-black, py-ruff

Bug 27604: Fix addon issues when moving the profile directory
  toolkit/mozapps/extensions/internal/XPIProvider.sys.mjs
Due: eslint

Bug 13028: Prevent potential proxy bypass cases.
  security/nss/lib/certhigh/ocsp.c
  security/nss/lib/libpkix/pkix_pl_nss/module/pkix_pl_socket.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
