Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

build-base-image:
  stage: update-container-images
  interruptible: true
  image: containers.torproject.org/tpo/tpa/base-images/podman:bookworm
  script:
  - export TAG="${CI_REGISTRY_IMAGE}/base:latest"
  - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fixup! Lox integration
  toolkit/components/lox/Lox.sys.mjs
Due: eslint

Bug 40597: Implement TorSettings module
  .eslintignore
  .prettierignore
  browser/app/profile/000-tor-browser.js
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/content/jar.mn
  toolkit/content/pt_config.json
  toolkit/modules/BridgeDB.sys.mjs
  toolkit/modules/DomainFrontedRequests.sys.mjs
  toolkit/modules/Moat.sys.mjs
  toolkit/modules/TorConnect.sys.mjs
  toolkit/modules/TorSettings.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/Moat.sys.mjs
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/DomainFrontedRequests.sys.mjs
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/DomainFrontedRequests.sys.mjs
  toolkit/modules/Moat.sys.mjs
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorConnect.sys.mjs
Due: eslint

Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/app/profile/000-tor-browser.js
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/themes/shared/icons/new_circuit.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/moz.build
Due: eslint, stylelint, py-black, file-whitespace

Bug 42247: Android helpers for the TorProvider
  browser/app/profile/000-tor-browser.js
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
  mobile/shared/modules/geckoview/GeckoViewContent.sys.mjs
  toolkit/modules/TorAndroidIntegration.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
Due: none

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
  browser/components/torcircuit/content/torCircuitPanel.inc.xhtml
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint, stylelint, file-whitespace

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

fixup! Bug 42247: Android helpers for the TorProvider
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/app/profile/000-tor-browser.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  dom/base/ContentAreaDropListener.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/modules/DragDropFilter.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 25741: TBA: Disable GeckoNetworkManager
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
Due: none

Bug 40807: Added QRCode.js to toolkit/modules
  toolkit/content/license.html
  toolkit/modules/QRCode.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/builtinBridgeDialog.js
  browser/components/torpreferences/content/connectionPane.js
  browser/components/torpreferences/content/provideBridgeDialog.js
  browser/components/torpreferences/content/requestBridgeDialog.js
Due: eslint

Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/modules/URILoadingHelper.sys.mjs
  browser/themes/shared/browser-shared.css
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tor-urlbar-button.css
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
  dom/base/nsGlobalWindowOuter.cpp
  toolkit/actors/AboutHttpsOnlyErrorParent.sys.mjs
  toolkit/actors/NetErrorParent.sys.mjs
  toolkit/components/httpsonlyerror/content/errorpage.js
  toolkit/components/moz.build
  toolkit/components/torconnect/TorConnectChild.sys.mjs
  toolkit/components/torconnect/TorConnectParent.sys.mjs
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/components/torconnect/content/arrow-right.svg
  toolkit/components/torconnect/content/bridge.svg
  toolkit/components/torconnect/content/connection-failure.svg
  toolkit/components/torconnect/content/connection-location.svg
  toolkit/components/torconnect/content/tor-connect-broken.svg
  toolkit/components/torconnect/content/tor-connect.svg
  toolkit/components/torconnect/content/tor-not-connected-to-connected-animated.svg
  toolkit/components/torconnect/content/torConnectTitlebarStatus.css
  toolkit/components/torconnect/content/torConnectTitlebarStatus.js
  toolkit/components/torconnect/content/torConnectUrlbarButton.js
  toolkit/components/torconnect/jar.mn
  toolkit/components/torconnect/moz.build
  toolkit/content/.eslintrc.js
  toolkit/content/aboutNetError.mjs
  toolkit/modules/ActorManagerParent.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.js
  browser/components/torpreferences/content/loxInviteDialog.js
  browser/components/torpreferences/content/provideBridgeDialog.js
  browser/components/torpreferences/content/provideBridgeDialog.xhtml
  browser/components/torpreferences/content/torPreferences.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/TorConnectParent.sys.mjs
Due: eslint

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  toolkit/components/torconnect/TorConnectChild.sys.mjs
  toolkit/components/torconnect/TorConnectParent.sys.mjs
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/components/torconnect/content/torConnectTitlebarStatus.js
  toolkit/components/torconnect/content/torConnectUrlbarButton.js
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint

Temporary changes to about:torconnect for Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
Due: eslint, stylelint, file-whitespace

Bug 7494: Create local home page for TBB.
  browser/base/content/browser-places.js
  browser/base/content/browser.js
  browser/base/content/utilityOverlay.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorMessage.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/HomepageOverride.sys.mjs
  browser/components/abouttor/content/1f4e3-megaphone.svg
  browser/components/abouttor/content/26a1-high-voltage.svg
  browser/components/abouttor/content/2728-sparkles.svg
  browser/components/abouttor/content/2764-red-heart.svg
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/dax-logo.svg
  browser/components/abouttor/jar.mn
  browser/components/abouttor/moz.build
  browser/components/moz.build
  browser/components/newtab/AboutNewTabService.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/modules/HomePage.sys.mjs
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Temporary changes to about:torconnect for Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.js
Due: eslint, stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/BrowserContentHandler.sys.mjs
Due: eslint

Bug 12647: Support symlinks in the updater.
  config/createprecomplete.py
  toolkit/mozapps/update/updater/updater.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
Due: py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41668: Tweaks to the Base Browser updater for Tor Browser
  browser/components/BrowserContentHandler.sys.mjs
  browser/confvars.sh
  config/createprecomplete.py
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsXREDirProvider.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
  widget/gtk/WidgetUtilsGtk.cpp
Due: eslint, py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 41668: Tweaks to the Base Browser updater for Tor Browser
  gfx/thebes/gfxFcPlatformFontList.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
Due: shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 32658: Create a new MAR signing key
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
  toolkit/mozapps/update/updater/release_primary.der
  toolkit/mozapps/update/updater/release_secondary.der
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile
