Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Base Browser strings
  toolkit/locales/en-US/toolkit/global/base-browser.ftl
Due: fluent-lint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionCategory.inc.xhtml
Due: eslint, file-whitespace

fixup! Tor Browser strings
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: fluent-lint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
Due: stylelint, file-whitespace

fixup! Bug 40309: Avoid using regional OS locales
  intl/locale/LocaleService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevelPanel.inc.xhtml
Due: eslint, file-whitespace

fixup! Add CI for Base Browser
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/scripts/helpers.py
  .gitlab/ci/setup.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

fixup! Bug 40209: Implement Basic Crypto Safety
  toolkit/content/license.html
Due: eslint, file-whitespace

fixup! Bug 40807: Added QRCode.js to toolkit/modules
  toolkit/content/license.html
Due: eslint, file-whitespace

fixup! Bug 40701: Add security warning when downloading a file
  browser/themes/shared/downloads/downloads.inc.css
Due: stylelint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

fixup! Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/downloadsPanel.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevelPanel.css
  browser/components/securitylevel/content/securityLevelPanel.inc.xhtml
Due: eslint, stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/browser-window.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/bridgemoji/annotations.json
  browser/components/torpreferences/content/bridgemoji/svgs/README.txt
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/tor-circuit-flags/README.txt
  tools/torbrowser/update_emojis.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Bug 26345: Hide tracking protection UI
  browser/base/content/browser-siteIdentity.js
  browser/themes/shared/preferences/privacy.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 26345: Hide tracking protection UI
  browser/components/preferences/privacy.inc.xhtml
  browser/themes/shared/identity-block/identity-block.css
Due: eslint, stylelint, file-whitespace

Bug 42774: Always hide the third-pary certs UI.
  browser/components/preferences/privacy.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/mail.svg
  browser/components/torpreferences/content/torPreferences.css
  browser/components/torpreferences/jar.mn
Due: stylelint, file-whitespace

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevel.js
  browser/components/securitylevel/content/securityLevelPreferences.css
  browser/components/securitylevel/content/securityLevelPreferences.inc.xhtml
Due: eslint, stylelint, file-whitespace

[android] Add Security Level UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorSecurityLevelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/SecurityLevel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_security_level_preferences.xml
Due: eslint

fixup! [android] Enable the connect assist experiments on alpha
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

[android] fixup! Modify UI/UX and Remove ability to submit site support requests
  mobile/android/fenix/app/src/release/res/drawable-v24/ic_launcher_foreground.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/fenix/app/src/release/res/mipmap-hdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-mdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
Due: eslint

[android] Disable features and functionality
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonsManagerAdapter.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/beta/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/debug/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/main/AndroidManifest.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/intent/HomeDeepLinkIntentProcessor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/PrivateBrowsingDescriptionViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/PhoneFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/sitepermissions/SitePermissionsManagePhoneFeatureFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/ShareFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/shortcut/PwaOnboardingObserver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/nightly/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/release/res/xml/shortcuts.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MetricsUtilsTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
Due: eslint

Bug 40013: [android] Add option do overwrite timestamp in extension version
  mobile/android/shared-settings.gradle
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/build.gradle
Due: none

[android] Modify Addon support
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/amo/AMOAddonsProvider.kt
  mobile/android/android-components/components/feature/addons/src/main/res/layout/mozac_feature_addons_fragment_dialog_addon_installed.xml
  mobile/android/android-components/samples/browser/src/main/res/layout/activity_installed_add_on_details.xml
Due: eslint
