Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

fixup! Bug 4234: Use the Firefox Update Process for Base Browser.
  tools/update-packaging/common.sh
Due: shellcheck

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

fixup! Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

fixup! Bug 40933: Add tor-launcher functionality
  toolkit/components/tor-launcher/TorProvider.sys.mjs
Due: eslint

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/xml/search_settings_preferences.xml
Due: eslint

fixup! [android] Delete unused media
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/share/viewholders/AppViewHolderTest.kt
Due: none

fixup! Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/BackgroundServices.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/NimbusComponents.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/share/SaveToPDFMiddleware.kt
Due: none

fixup! Lox integration
  toolkit/components/lox/jar.mn
Due: none

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorSettings.sys.mjs
Due: eslint

fixup! [android] Add Tor integration and UI
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarMenu.kt
  mobile/android/fenix/app/src/main/res/drawable/new_circuit.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

Bug 43117: Hide "Always underline links" from settings.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
Due: stylelint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
Due: stylelint, file-whitespace

Revert "Add CI for Base Browser"
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/scripts/run_linters.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Revert "Add CI for Tor Browser"
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

fixup! Bug 7494: Create local home page for TBB.
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
Due: eslint, stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/onion-pattern.svg
  browser/components/abouttor/jar.mn
Due: eslint, stylelint, file-whitespace

Bug 43087: Add onion-pattern to be used on Tor pages.
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/onion-pattern.css
  toolkit/themes/shared/onion-pattern.svg
Due: stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/onion-pattern.svg
  toolkit/components/torconnect/jar.mn
Due: eslint, stylelint, file-whitespace

fixup! Bug 18905: Hide unwanted items from help menu
  browser/base/content/browser-menubar.inc
Due: none

Bug 43109: Hide Firefox Relay from settings.
  browser/components/preferences/privacy.js
Due: eslint

fixup! Bug 42027: Base Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 42777: Hide Website Privacy Preferences.
  browser/components/preferences/privacy.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 40925: Implemented the Security Level component
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
