Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Add CI for Base Browser
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/setup.yml
Due: yaml

fixup! Add CI for Base Browser
  .gitlab/ci/lint.yml
Due: yaml

fixup! Bug 42660: Disable ProxySelector.openConnectionWithProxy and NOPify CrashReporter.sendCrashReport
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/CrashReporter.java
Due: none

fixup! [android] Modify add-on support
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/extensions/internal/XPIInstall.sys.mjs
Due: eslint

fixup! Bug 42716: Disable unwanted about: pages
  docshell/base/nsAboutRedirector.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Add CI for Base Browser
  .gitlab-ci.yml
Due: yaml

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

Bug 1829029: clean up memory reporting for CacheFileIOManager r=necko-reviewers,valentin, a=RyanVM
  netwerk/cache2/CacheFileIOManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914521 - Make nsPartChannel inherit the content disposition of the multipart response a=RyanVM
  netwerk/streamconv/converters/nsMultiMixedConv.cpp
  netwerk/streamconv/converters/nsMultiMixedConv.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919809 - Always clear mArgumentStorage in Console's Unlink. a=RyanVM
  dom/console/Console.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920423, a=RyanVM
  toolkit/content/widgets/popupnotification.js
  toolkit/themes/shared/popupnotification.css
Due: eslint, stylelint, file-whitespace

Bug 1923706 - Pass by value, not reference in CamerasChild::AllocateCapture. a=RyanVM
  dom/media/systemservices/CamerasChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924154 - Disallow too small record a=RyanVM
  dom/push/PushCrypto.sys.mjs
Due: eslint

amend! Bug 41043: Hardcode the UI font on Linux
  browser/fonts/fonts.conf
  browser/fonts/moz.build
  gfx/thebes/gfxFcPlatformFontList.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 41668: Tweaks to the Base Browser updater for Tor Browser
  gfx/thebes/gfxFcPlatformFontList.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
Due: shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40283: Workaround for the file upload bug
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: none

fixup! Bug 40171: Make WebRequest and GeckoWebExecutor First-Party aware
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebRequest.java
Due: none

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
Due: none

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/Moat.sys.mjs
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/DomainFrontedRequests.sys.mjs
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

fixup! Bug 14631: Improve profile access error messages.
  toolkit/locales/en-US/chrome/mozapps/profile/profileSelection.properties
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42739: Use the brand name for profile error messages.
  toolkit/xre/ProfileReset.cpp
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
