Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1844827 - Update the cookie test expectations for iframe samesite r=cookie-reviewers,valentin a=RyanVM
  testing/web-platform/meta/cookies/samesite/setcookie-navigation.https.html.ini
Due: test-manifest

Bug 1835987 - Change RFP-spoofed TZ to Atlantic/Reykjavik. r=tjr
  browser/components/resistfingerprinting/test/browser/browser_timezone.js
  js/src/jit-test/tests/resist-fingerprinting/timezone.js
  js/src/vm/DateTime.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1850200 - Add delay to HTTPS-Only "Continue to HTTPS Site" button r=freddyb
  toolkit/components/httpsonlyerror/content/errorpage.html
  toolkit/components/httpsonlyerror/content/errorpage.js
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, file-whitespace

Bug 1850072: Initialize RecordedDrawTargetCreation::mHasExistingData. r=jrmuizel
  gfx/2d/RecordedEventImpl.h
  gfx/2d/RecordingTypes.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1845752. r=ckerschb
  toolkit/components/search/OpenSearchEngine.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/SearchUtils.sys.mjs
  toolkit/components/search/tests/xpcshell/data/iconsRedirect.sjs
  toolkit/components/search/tests/xpcshell/test_opensearch_icons_invalid.js
  toolkit/components/search/tests/xpcshell/test_webextensions_install.js
Due: eslint

Bug 1849186 - Add a preference not to expose the content title in the window title. r=Gijs,tabbrowser-reviewers,dao
  browser/app/profile/firefox.js
  browser/base/content/tabbrowser.js
  browser/components/privatebrowsing/test/browser/browser_privatebrowsing_windowtitle.js
Due: eslint

Bug 1860020 - Remove the assertion on the value of toolkit.telemetry.enabled. r=KrisWright,chutten
  modules/libpref/Preferences.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1865238 - Use One UI Sans KR VF for Korean sans-serif font on Android r=jfkthame
  modules/libpref/init/all.js
Due: eslint

Bug 1851618 - Allow removing packaged locales from requestedLocales. r=settings-reviewers,eemeli,Gijs
  browser/components/preferences/dialogs/browserLanguages.js
  browser/components/preferences/tests/browser_browser_languages_subdialog.js
Due: eslint

Bug 1875306 - Localize numbers in the underflow and overflow error messages. r=emilio
  dom/html/input/NumericInputTypes.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1871109 - generateHash in Manifest.sys.mjs should use sha256 r=peterv, a=dmeehan
  dom/manifest/Manifest.sys.mjs
  dom/manifest/test/browser_Manifest_install.js
Due: eslint

Bug 1873526: Refactor the restriction override list from a big if statement to a list r=KrisWright
  modules/libpref/Preferences.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1875248 - Check for network error preventing ExternalHelperAppService before DONT_RETARGET, r=smaug
  uriloader/base/nsURILoader.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1881037 - Part 1: Stop showing unknown protocol error pages for web-triggered loads, r=smaug,necko-reviewers,kershaw, a=dsmith
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  netwerk/ipc/DocumentLoadListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1880374 - Disable DNS prefetching if document nodePrincipal is systemPrincipal r=valentin
  dom/html/HTMLDNSPrefetch.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1880988 - Apply spoof English to the default detail summary. r=emilio
  dom/html/HTMLDetailsElement.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1886598 - Struct with Pointer member may not be memmove-able. r=gfx-reviewers,lsalzman
  gfx/thebes/gfxPlatformFontList.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1885258: Hidden fonts should obey the allow list r=jfkthame
  gfx/thebes/gfxPlatformFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1885101: Match screen and window properties with top window for ScreenRect, ScreenAvailRect and WindowOuterSize. r=timhuang,emilio
  docshell/base/BrowsingContext.h
  docshell/base/CanonicalBrowsingContext.cpp
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/nsScreen.cpp
  dom/base/nsScreen.h
  layout/base/nsPresContext.cpp
  layout/base/nsPresContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1883396 - Exit fullscreen when two Escape keyup events occur in a short time; r=smaug
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1886222 - Start reload by calling reload in the parent. r=Gijs,canadahonk,smaug, a=dsmith (esr128->esr115 backport)
  browser/actors/BrowserTabChild.sys.mjs
  browser/base/content/browser.js
  docshell/shistory/nsISHistory.idl
Due: eslint, file-whitespace

Bug 1892449 - Set network.http.digest_auth_cnonce_length to 16, a=dmeehan
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1892052 - Do not persist custom network requests on PBM. r=devtools-reviewers,bomsy,nchevobbe
  devtools/client/netmonitor/src/components/new-request/HTTPCustomRequestPanel.js
  devtools/client/netmonitor/test/browser_net_new_request_panel_persisted_content.js
  devtools/client/netmonitor/test/head.js
Due: eslint

Bug 1890204 - Ensure font entry's unitsPerEm and font extents are initialized when gfxFont is created. r=gfx-reviewers,lsalzman
  gfx/thebes/gfxFont.cpp
  gfx/thebes/gfxFontEntry.cpp
  gfx/thebes/gfxFontEntry.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1902983 - Don't use bailout data after iterating Wasm frames. a=RyanVM
  js/src/jit-test/tests/ion/bug1902983.js
  js/src/jit/JSJitFrameIter.cpp
  js/src/jit/JSJitFrameIter.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899180. If a channel is not nsIPrivateBrowsingChannel and has no load context, use the private browsing field from it's origin attributes. r=necko-reviewers,anti-tracking-reviewers,valentin
  toolkit/components/antitracking/StoragePrincipalHelper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1892046 - Add origin attributes to about:reader requests. r=reader-mode-reviewers,cmkm
  toolkit/components/reader/AboutReader.sys.mjs
  toolkit/components/reader/ReaderMode.sys.mjs
Due: eslint

Bug 1900523 - Don't use bailout data for JSJitToWasm frames. r=iain
  js/src/jit-test/tests/ion/bug1900523.js
  js/src/jit/JSJitFrameIter.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1909099 - Always clean up old session restore and sync log files. r=markh,sessionstore-reviewers,dao
  services/common/logmanager.sys.mjs
Due: eslint

Bug 1904011 - Ignore finalized scripts when iterating code covarage tables r=iain
  js/src/gc/Zone.cpp
  js/src/jit-test/tests/debug/bug-1904011.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1907726 - Make sure WebTransportSessionProxy::NotifyDatagramReceived is called after OnStopRequest, a=RyanVM
  netwerk/protocol/webtransport/WebTransportSessionProxy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911745 - Unify BrowsingContext flag coherency checks, r=mccr8
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916659, a=diannaS
  browser/base/content/test/tabPrompts/browser_confirmFolderUpload.js
  browser/components/prompts/PromptCollection.sys.mjs
  dom/filesystem/tests/script_promptHandler.js
Due: eslint

Bug 1914106 - Deal with insertRule edge-case. r=jwatt a=RyanVM
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/ShadowRoot.cpp
  dom/base/ShadowRoot.h
  layout/style/ServoStyleSet.cpp
  layout/style/ServoStyleSet.h
  layout/style/StyleSheet.cpp
  testing/web-platform/tests/css/cssom/insertRule-import-trailing-garbage-crash.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912471 - Disallow deserializing structured clone buffers with transferables more than once r=iain, a=dsmith
  js/public/StructuredClone.h
  js/public/friend/ErrorNumbers.msg
  js/src/jit-test/tests/structured-clone/transferable-cleanup.js
  js/src/vm/StructuredClone.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915249: Add more nodiscard. a=RyanVM
  js/src/jit/IonAnalysis.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1829029: clean up memory reporting for CacheFileIOManager r=necko-reviewers,valentin, a=RyanVM
  netwerk/cache2/CacheFileIOManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
