Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Rename jobs
  .gitlab-ci.yml
Due: yaml

fixup! Bug 42019: Empty browser's clipboard on browser shutdown
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 1436226: Ignore user prefs and hardware support for media capabilities when RFPTarget::MediaCapabilities is enabled. r=tjr,media-playback-reviewers,padenot
  dom/media/eme/MediaKeySystemAccess.cpp
  dom/media/mediacapabilities/MediaCapabilities.cpp
  dom/media/mediasource/MediaSource.cpp
  dom/media/mediasource/MediaSource.h
  dom/media/mediasource/SourceBuffer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorConnect.sys.mjs
Due: eslint

Bug 43006: Disable RFP for Font Visibility on Android
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/authPrompt.js
Due: eslint

Bug 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Backport Android Security Fixes.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
Due: file-whitespace

Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  .eslintignore
  .gitignore
  tools/geckoview/.gitignore
  tools/geckoview/Makefile
  tools/geckoview/android-env-linux-template.sh
  tools/geckoview/android-env-macos-template.sh
  tools/geckoview/build.sh
  tools/geckoview/clobber.sh
  tools/geckoview/config.sh
  tools/geckoview/fataar.py
  tools/geckoview/jslint.sh
  tools/geckoview/package-gradle.sh
  tools/torbrowser/Makefile
  tools/torbrowser/browser-self-sign-macos.sh
  tools/torbrowser/build.sh
  tools/torbrowser/clobber.sh
  tools/torbrowser/config.sh
  tools/torbrowser/deploy.sh
  tools/torbrowser/fetch.sh
  tools/torbrowser/ide.sh
  tools/torbrowser/jslint.sh
Due: eslint, py-black, py-ruff, shellcheck, file-whitespace, trojan-source

Bug 41803: Add some developer tools for working on tor-browser.
  tools/torbrowser/git-rebase-fixup-preprocessor
  tools/torbrowser/tb-dev
Due: none

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

Bug 42308: Create README for tor-browser.
  README.md
  README.txt
Due: file-whitespace

Bug 11641: Disable remoting by default.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Add TorStrings module for localization
  browser/base/content/browser.xhtml
  browser/installer/package-manifest.in
  mobile/android/installer/package-manifest.in
  toolkit/modules/TorStrings.sys.mjs
  toolkit/modules/moz.build
  toolkit/moz.build
  toolkit/torbutton/chrome/locale/en-US/aboutTBUpdate.dtd
  toolkit/torbutton/chrome/locale/en-US/brand.properties
  toolkit/torbutton/chrome/locale/en-US/branding/brand.ftl
  toolkit/torbutton/chrome/locale/en-US/onionLocation.properties
  toolkit/torbutton/chrome/locale/en-US/settings.properties
  toolkit/torbutton/chrome/locale/en-US/torConnect.properties
  toolkit/torbutton/chrome/locale/en-US/torbutton.dtd
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
  toolkit/torbutton/chrome/locale/en-US/torlauncher.properties
  toolkit/torbutton/jar.mn
  toolkit/torbutton/moz.build
Due: eslint, py-black, fluent-lint, file-whitespace

Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrate.py
  tools/torbrowser/l10n/migrations/__init__.py
  tools/torbrowser/l10n/migrations/bug-41333-new-about-tor.py
  tools/torbrowser/l10n/migrations/bug-41622-neterror.py
  tools/torbrowser/l10n/migrations/bug-42202-crypto-safety.py
  tools/torbrowser/l10n/migrations/bug-42203-about-dialog.py
  tools/torbrowser/l10n/migrations/bug-42206-rulesets.py
  tools/torbrowser/l10n/migrations/bug-42207-settings.py
  tools/torbrowser/l10n/migrations/bug-42209-tor-circuit.py
  tools/torbrowser/l10n/migrations/bug-42210-download-warning.py
  tools/torbrowser/l10n/migrations/bug-42211-new-identity.py
  tools/torbrowser/l10n/migrations/bug-42214-security-level.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Tor Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/tor-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
  toolkit/locales/jar.mn
Due: eslint, fluent-lint, file-whitespace

Add purple tor version of the loading APNG.
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/tor-dark-loading.png
  toolkit/themes/shared/icons/tor-dark-loading@2x.png
  toolkit/themes/shared/icons/tor-light-loading.png
  toolkit/themes/shared/icons/tor-light-loading@2x.png
  tools/torbrowser/generate_tor_loading_png.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 41917: Tor brand-specific styles.
  browser/themes/shared/browser-shared.css
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tor-branding.css
Due: stylelint, file-whitespace

Bug 42305: Add script to combine translation files across versions.
  tools/torbrowser/l10n/combine-translation-versions.py
  tools/torbrowser/l10n/combine/__init__.py
  tools/torbrowser/l10n/combine/combine.py
  tools/torbrowser/l10n/combine/tests/README
  tools/torbrowser/l10n/combine/tests/__init__.py
  tools/torbrowser/l10n/combine/tests/test_android.py
  tools/torbrowser/l10n/combine/tests/test_dtd.py
  tools/torbrowser/l10n/combine/tests/test_fluent.py
  tools/torbrowser/l10n/combine/tests/test_properties.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 42583: Modify moz-support-link for Tor Browser.
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
Due: eslint

Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  .eslintignore
  browser/app/profile/000-tor-browser.js
  browser/installer/package-manifest.in
  browser/moz.build
  mobile/android/app/000-tor-browser-android.js
  mobile/android/app/geckoview-prefs.js
  mobile/android/app/moz.build
  taskcluster/ci/source-test/mozlint.yml
Due: eslint, py-black, yaml

TB3: Tor Browser's official .mozconfigs.
  browser/config/mozconfigs/base-browser
  browser/config/mozconfigs/tor-browser
  browser/config/mozconfigs/tor-browser-android
  browser/moz.configure
  mobile/android/geckoview/build.gradle
  moz.configure
  mozconfig-android-aarch64
  mozconfig-android-all
  mozconfig-android-armv7
  mozconfig-android-x86
  mozconfig-android-x86_64
  mozconfig-linux-aarch64
  mozconfig-linux-arm
  mozconfig-linux-i686
  mozconfig-linux-x86_64
  mozconfig-linux-x86_64-asan
  mozconfig-linux-x86_64-dev
  mozconfig-macos
  mozconfig-macos-dev
  mozconfig-windows-i686
  mozconfig-windows-x86_64
Due: py-black, py-ruff

Bug 40209: Implement Basic Crypto Safety
  browser/actors/CryptoSafetyChild.jsm
  browser/actors/CryptoSafetyParent.jsm
  browser/actors/moz.build
  browser/components/BrowserGlue.sys.mjs
  toolkit/content/license.html
  toolkit/modules/Bech32Decode.jsm
  toolkit/modules/moz.build
Due: eslint, py-black, file-whitespace

Bug 41340: Enable TOR_BROWSER_NIGHTLY_BUILD features for dev and nightly builds
  build/moz.configure/init.configure
  intl/l10n/Localization.h
  modules/libpref/init/all.js
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40933: Add tor-launcher functionality
  browser/components/BrowserGlue.sys.mjs
  browser/installer/package-manifest.in
  toolkit/components/moz.build
  toolkit/components/tor-launcher/TorBootstrapRequest.sys.mjs
  toolkit/components/tor-launcher/TorControlPort.sys.mjs
  toolkit/components/tor-launcher/TorLauncherUtil.sys.mjs
  toolkit/components/tor-launcher/TorParsers.sys.mjs
  toolkit/components/tor-launcher/TorProcess.sys.mjs
  toolkit/components/tor-launcher/TorProcessAndroid.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
  toolkit/components/tor-launcher/TorProviderBuilder.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/components.conf
  toolkit/components/tor-launcher/moz.build
  toolkit/components/tor-launcher/tor-launcher.manifest
Due: eslint, py-black

Bug 13252: Customize profile management on macOS
  toolkit/xre/nsXREDirProvider.cpp
  toolkit/xre/nsXREDirProvider.h
  xpcom/io/CocoaFileUtils.mm
  xpcom/io/nsAppFileLocationProvider.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Lox integration
  dom/security/nsContentSecurityUtils.cpp
  toolkit/components/lox/Lox.sys.mjs
  toolkit/components/lox/jar.mn
  toolkit/components/lox/moz.build
  toolkit/components/moz.build
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  browser/app/profile/000-tor-browser.js
Due: eslint

Bug 40597: Implement TorSettings module
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/content/jar.mn
  toolkit/content/pt_config.json
  toolkit/modules/BridgeDB.sys.mjs
  toolkit/modules/DomainFrontedRequests.sys.mjs
  toolkit/modules/Moat.sys.mjs
  toolkit/modules/TorConnect.sys.mjs
  toolkit/modules/TorSettings.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 42247: Android helpers for the TorProvider
  mobile/android/components/geckoview/GeckoViewStartup.jsm
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
  mobile/android/modules/geckoview/GeckoViewContent.sys.mjs
  toolkit/modules/TorAndroidIntegration.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/themes/shared/icons/new_circuit.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
  mobile/android/components/geckoview/GeckoViewStartup.jsm
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/moz.build
Due: eslint, stylelint, py-black, file-whitespace

Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/components/BrowserGlue.sys.mjs
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  dom/base/ContentAreaDropListener.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/modules/DragDropFilter.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 25741: TBA: Disable GeckoNetworkManager
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
Due: none
