Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 42110: Add TorUIUtils module for common tor component methods.
  browser/base/content/browser.js
  browser/modules/TorUIUtils.sys.mjs
  browser/modules/moz.build
Due: eslint, py-black

fixup! Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/allDownloadsView.js
  browser/components/downloads/content/downloads.js
Due: eslint

Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/allDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.xhtml
  browser/components/downloads/content/downloads.css
  browser/components/downloads/content/downloads.js
  browser/components/downloads/content/downloadsPanel.inc.xhtml
  browser/components/places/content/places.css
  browser/components/places/content/places.js
  browser/components/places/content/places.xhtml
  browser/themes/shared/customizableui/panelUI-shared.css
  browser/themes/shared/downloads/contentAreaDownloadsView.css
  browser/themes/shared/downloads/downloads.inc.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 42110: Add TorUIUtils module for common tor component methods.
  browser/base/content/browser.js.globals
Due: none

Bug 41736: Customize toolbar for tor-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

Bug 41728: Pin bridges.torproject.org domains to Let's Encrypt's root cert public key
  security/manager/ssl/StaticHPKPins.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41822: Unconditionally disable default browser UX in about:preferences
  browser/components/preferences/main.js
Due: eslint

Customize moz-toggle for tor-browser.
  toolkit/content/widgets/moz-toggle/moz-toggle.mjs
Due: eslint

fixup! Temporary commit: manually place generated wasm files
  .eslintignore
  .prettierignore
Due: eslint

fixup! Bug 41822: Unconditionally disable default browser UX in about:preferences
  browser/components/preferences/main.js
Due: eslint

Temporary commit: manually place generated wasm files
  toolkit/components/lox/content/lox_wasm_bg.wasm
  toolkit/components/lox/lox_wasm.jsm
Due: eslint

Bug 42616: Remove VideoCaptureTest.kt.
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/VideoCaptureTest.kt
Due: none

Bug 42835: Create an actor to filter file data transfers
  toolkit/actors/FilesFilterChild.sys.mjs
  toolkit/actors/FilesFilterParent.sys.mjs
  toolkit/actors/moz.build
  toolkit/modules/ActorManagerParent.sys.mjs
Due: eslint, py-black

Bug 1899180. If a channel is not nsIPrivateBrowsingChannel and has no load context, use the private browsing field from it's origin attributes. r=necko-reviewers,anti-tracking-reviewers,valentin
  toolkit/components/antitracking/StoragePrincipalHelper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904011 - Ignore finalized scripts when iterating code covarage tables r=iain
  js/src/gc/Zone.cpp
  js/src/jit-test/tests/debug/bug-1904011.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899180. If a channel is not nsIPrivateBrowsingChannel and has no load context, use the private browsing field from it's origin attributes. r=necko-reviewers,anti-tracking-reviewers,valentin
  image/test/browser/browser.toml
  image/test/browser/browser_bug1899180.js
  image/test/browser/helper1899180.html
  toolkit/components/antitracking/StoragePrincipalHelper.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1908344 - Improve prompts showing a=dmeehan - BP, tor-browser#43005
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
Due: none

fixup! Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  tools/torbrowser/Makefile
Due: none

fixup! Bug 1908344 - Improve prompts showing a=dmeehan - BP, tor-browser#43005
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
Due: none

fixup! Bug 7494: Create local home page for TBB.
  browser/base/content/browser-places.js
Due: eslint

fixup! Bug 40925: Implemented the Security Level component
  browser/themes/shared/customizableui/panelUI-shared.css
Due: stylelint, file-whitespace

fixup! Bug 40701: Add security warning when downloading a file
  browser/themes/shared/customizableui/panelUI-shared.css
Due: stylelint, file-whitespace

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
Due: eslint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

fixup! Adding issue and merge request templates
  .gitlab/issue_templates/QA - Android.md
  .gitlab/issue_templates/QA - Desktop.md
Due: file-whitespace

fixup! Customize moz-toggle for tor-browser.
  toolkit/content/widgets/moz-toggle/moz-toggle.mjs
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevel.js
  browser/components/securitylevel/content/securityLevelButton.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
Due: stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/content/aboutTorConnect.css
Due: stylelint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

fixup! Bug 42683: Create script to generate issue triage csv file from bugzilla query and git logs
  tools/torbrowser/generate-bugzilla-triage-csv.sh
Due: shellcheck

fixup! Bug 42347: Add a notification for dropped OS version support.
  browser/base/content/browser.xhtml
  browser/base/content/droppedSupportNotification.js
  browser/base/jar.mn
Due: eslint, file-whitespace
