Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 40309: Avoid using regional OS locales
  intl/locale/LocaleService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40432: Prevent probing installed applications
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 33955: When copying an image only copy the image contents to the clipboard
  browser/base/content/browser-context.inc
Due: none

Bug 41791: Omit the source URL when copying page contents to the clipboard
  dom/base/nsCopySupport.cpp
  widget/windows/nsDataObj.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42288: Allow language spoofing in status messages.
  browser/installer/package-manifest.in
  dom/locales/moz.build
  dom/xslt/xslt/txMozillaXSLTProcessor.cpp
  dom/xslt/xslt/txXSLTMsgsURL.h
  intl/strres/nsIStringBundle.idl
  intl/strres/nsStringBundle.cpp
  mobile/android/installer/package-manifest.in
  uriloader/base/nsDocLoader.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 42288: Allow language spoofing in status messages.
  dom/xslt/xslt/txMozillaXSLTProcessor.cpp
  intl/strres/nsStringBundle.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41659: Add canonical color definitions to base-browser
  browser/themes/shared/browser-shared.css
  toolkit/themes/shared/browser-colors.css
  toolkit/themes/shared/minimal-toolkit.jar.inc.mn
Due: stylelint, file-whitespace

fixup! Bug 41659: Add canonical color definitions to base-browser
  toolkit/themes/shared/browser-colors.css
Due: stylelint, file-whitespace

Base Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/base-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/base-browser.ftl
  toolkit/locales/jar.mn
Due: eslint, fluent-lint, file-whitespace

fixup! Base Browser strings
  tools/lint/fluent-lint/exclusions.yml
Due: yaml, fluent-lint

Bug 41369: Improve Firefox language settings for multi-lingual packages
  browser/base/content/browser.xhtml
  browser/base/content/languageNotification.js
  browser/base/jar.mn
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
Due: eslint, file-whitespace

Bug 40283: Workaround for the file upload bug
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: none

Bug 18905: Hide unwanted items from help menu
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-init.js
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-safebrowsing.js
Due: eslint, file-whitespace

Bug 41739: Remove "Website appearance" from about:preferences.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

Bug 42019: Empty browser's clipboard on browser shutdown
  browser/app/profile/001-base-profile.js
  browser/components/BrowserGlue.sys.mjs
Due: eslint

fixup! Bug 42019: Empty browser's clipboard on browser shutdown
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 42084: Ensure English spoofing works even if preferences are set out of order.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 41930: Remove the UI to customize accept_languages.
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, file-whitespace

Bug 42472: Spoof timezone in XSLT.
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 31064: Letterboxing, exempt browser extensions.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 41434: Letterboxing, preemptively apply margins in a global CSS rule to mitigate race conditions on newly created windows and tabs.
  browser/base/content/browser.css
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 41434: Letterboxing, improve logging.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 32411: Letterboxing, exempt view-source: URIs.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 42574: Letterboxing, exempt pdf.js.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 41631: Prevent weird initial window dimensions caused by subpixel computations
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 32308: Use direct browser sizing for letterboxing.
  browser/actors/RFPHelperChild.sys.mjs
  browser/actors/RFPHelperParent.sys.mjs
  browser/actors/moz.build
  browser/app/profile/001-base-profile.js
  browser/base/content/browser.css
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/tabbrowser/content/tabbrowser.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/modules/FinderParent.sys.mjs
Due: eslint, stylelint, py-black, file-whitespace

Bug 41918: Option to reuse last window size when letterboxing is enabled.
  browser/app/profile/001-base-profile.js
  browser/components/BrowserGlue.sys.mjs
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
  toolkit/xre/nsAppRunner.cpp
  xpfe/appshell/AppWindow.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41916: Letterboxing preferences UI
  browser/components/preferences/jar.mn
  browser/components/preferences/letterboxing-middle-dark.svg
  browser/components/preferences/letterboxing-middle-light.svg
  browser/components/preferences/letterboxing-top-dark.svg
  browser/components/preferences/letterboxing-top-light.svg
  browser/components/preferences/letterboxing.css
  browser/components/preferences/letterboxing.inc.xhtml
  browser/components/preferences/letterboxing.js
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/preferences.xhtml
Due: eslint, stylelint, file-whitespace

fixup! Bug 41918: Option to reuse last window size when letterboxing is enabled.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 42528: Don't leak system scrollbar size on windows.
  widget/ScrollbarDrawingWin.cpp
  widget/ScrollbarDrawingWin11.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41695: Warn on window maximization without letterboxing in RFPHelper module
  browser/app/profile/001-base-profile.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 42443: Shrink window to match letterboxing size when the emtpy area is clicked.
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

fixup! Bug 31575: Disable Firefox Home (Activity Stream)
  browser/base/content/browser.js.globals
Due: none

Bug 31575: Disable Firefox Home (Activity Stream)
  browser/base/content/browser.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/newtab/AboutNewTabService.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/components/preferences/home.js
  browser/modules/HomePage.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 4234: Use the Firefox Update Process for Base Browser.
  browser/app/Makefile.in
  browser/base/content/aboutDialog.js
  browser/base/content/aboutDialog.xhtml
  browser/base/moz.build
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/customizableui/content/panelUI.inc.xhtml
  browser/components/preferences/main.js
  browser/config/mozconfigs/base-browser
  browser/confvars.sh
  browser/installer/Makefile.in
  browser/installer/package-manifest.in
  build/application.ini.in
  build/moz.build
  build/moz.configure/init.configure
  build/moz.configure/update-programs.configure
  mozconfig-linux-x86_64-dev
  toolkit/modules/AppConstants.sys.mjs
  toolkit/modules/UpdateUtils.sys.mjs
  toolkit/modules/moz.build
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateServiceStub.sys.mjs
  toolkit/mozapps/update/common/updatehelper.cpp
  toolkit/mozapps/update/updater/launchchild_osx.mm
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/MacLaunchHelper.h
  toolkit/xre/MacLaunchHelper.mm
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsUpdateDriver.cpp
  toolkit/xre/nsXREDirProvider.cpp
  tools/update-packaging/common.sh
Due: eslint, py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42061: Create an alpha update channel.
  browser/base/content/aboutDialog-appUpdater.js
  browser/base/content/aboutDialog.js
  browser/components/preferences/main.js
  devtools/client/aboutdebugging/src/actions/runtimes.js
  toolkit/mozapps/extensions/test/browser/head.js
  toolkit/mozapps/extensions/test/xpcshell/head_addons.js
  toolkit/mozapps/update/updater/moz.build
Due: eslint, py-black

fixup! Bug 4234: Use the Firefox Update Process for Base Browser.
  browser/components/BrowserContentHandler.sys.mjs
  build/moz.configure/update-programs.configure
  toolkit/.eslintrc.js
Due: eslint, py-black, py-ruff

Bug 41682: Add base-browser nightly mar signing key
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
Due: none

Bug 41603: Customize the creation of MOZ_SOURCE_URL
  build/variables.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Bug 42438: Tweaks to the migration wizard.
  browser/components/migration/ChromeMigrationUtils.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
