Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarMenu.kt
  mobile/android/fenix/app/src/main/res/drawable/new_circuit.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

[android] Add Tor integration and UI
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/assets/common/torrc-defaults
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingDonateViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorBridgeConfigFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorNetworkSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBridgeTransports.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/bootstrap/TorQuickStart.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/ic_onion_pattern.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_tor_config_bridge.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_tor_network_settings.xml
  mobile/android/fenix/app/src/main/res/drawable/rounded_corners.xml
  mobile/android/fenix/app/src/main/res/drawable/tor_bootstrap_background_gradient.xml
  mobile/android/fenix/app/src/main/res/drawable/tor_onboarding_donate_gradient.xml
  mobile/android/fenix/app/src/main/res/drawable/tor_onboarding_donate_rounded_corners.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/attrs.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_bridge_config_preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_network_settings_preferences.xml
Due: eslint

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
Due: eslint

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: none

fixup! [android] Modify UI/UX
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: none

fixup! [android] Modify UI/UX
  mobile/android/fenix/.buildconfig.yml
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: yaml

[android] Modify add-on support
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuNavigationMiddlewareTest.kt
Due: eslint

fixup! [android] Modify add-on support
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtension.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
  mobile/android/android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtensionController.java
Due: none

[android] Add Security Level UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorSecurityLevelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/SecurityLevel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_security_level_preferences.xml
Due: eslint

Bug 41878: [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorNetworkSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBootstrapStatus.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsComposeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/bootstrap/TorQuickStart.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/tor_bootstrap_background_gradient.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_network_settings_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

Bug 41972: [android] Disable mozilla onboarding
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingDonateViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/res/values/styles.xml
Due: eslint

[android] Enable the connect assist experiments on alpha
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
Due: eslint

[android] fixup! Modify UI/UX and Remove ability to submit site support requests
  mobile/android/fenix/app/src/release/res/drawable-v24/ic_launcher_foreground.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/fenix/app/src/release/res/mipmap-hdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-mdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
Due: eslint

[android] Delete unused media
  mobile/android/fenix/app/src/beta/ic_launcher_monochrome-playstore.png
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/view/ResearchSurfaceSurvey.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicroSurveyHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
  mobile/android/fenix/app/src/main/res/drawable-night/ic_logo_wordmark_normal.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_firefox.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_launcher_monochrome.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_scan.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_turn_on_sync.xml
  mobile/android/fenix/app/src/main/res/values-night-v27/styles.xml
  mobile/android/fenix/app/src/main/res/values-night/styles.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/nightly/ic_launcher_monochrome-playstore.png
  mobile/android/fenix/app/src/release/ic_launcher_monochrome-playstore.png
Due: eslint

Bug 42191: [android] Temporary StrictMode relaxation to clear the thumbnail cache.
  mobile/android/android-components/components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/utils/ThumbnailDiskCache.kt
Due: none

fixup! [android] Enable the connect assist experiments on alpha
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
Due: none

fixup! [android] Delete unused media
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/share/viewholders/AppViewHolderTest.kt
Due: none

Bug 42195: [android] Fix "Whats new URL"
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/SupportUtilsTest.kt
Due: none

Bug 42652: [android] Pass the list of supported languages to GeckoView.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
Due: none

[android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/ConnectAssistUiState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/QuickStartPreference.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/browser_location.xml
  mobile/android/fenix/app/src/main/res/drawable/connect.xml
  mobile/android/fenix/app/src/main/res/drawable/connect_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/globe_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/progress_gradient.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
  mobile/android/fenix/app/src/main/res/layout/preference_quick_start.xml
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
Due: eslint

Bug 43098: Year End Campaign 2024.
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/yec-2024-browse.svg
  browser/components/abouttor/content/yec-2024-fonts.css
  browser/components/abouttor/content/yec-2024-heart.svg
  browser/components/abouttor/content/yec-2024-search.svg
  browser/components/abouttor/content/yec-2024-speak.svg
  browser/components/abouttor/jar.mn
  toolkit/content/license.html
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

fixup! Omnibox: Add DDG, Startpage, Disconnect, Youtube, Twitter; remove Amazon, eBay, bing
  browser/components/search/extensions/twitter/favicon.ico
  browser/components/search/extensions/twitter/manifest.json
  browser/components/search/extensions/yahoo/favicon.ico
  browser/components/search/extensions/yahoo/manifest.json
  browser/components/search/extensions/youtube/favicon.ico
  browser/components/search/extensions/youtube/manifest.json
  toolkit/components/search/SearchService.sys.mjs
Due: eslint

Bug 43125: Extend the 13.5 EOL expiry date for tor-browser.
  browser/base/content/droppedSupportNotification.js
Due: eslint

fixup! Bug 41435: Add a Tor Browser migration function
  browser/components/BrowserGlue.sys.mjs
Due: eslint

fixup! Tor Browser strings
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: fluent-lint, file-whitespace

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/telemetry/SerpTelemetryRepository.kt
  mobile/android/android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/BaseSearchTelemetryTest.kt
  mobile/android/android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/SerpTelemetryRepositoryTest.kt
  mobile/android/android-components/components/support/remotesettings/src/main/java/mozilla/components/support/remotesettings/RemoteSettingsClient.kt
Due: none

fixup! Bug 41803: Add some developer tools for working on tor-browser.
  tools/base-browser/git-rebase-fixup-preprocessor
  tools/base-browser/tb-dev
Due: none

fixup! Bug 43098: Year End Campaign 2024.
  browser/components/abouttor/content/aboutTor.js
Due: eslint

Bug 42832: Download spam prevention exemption for browser extensions.
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 4234: Use the Firefox Update Process for Base Browser.
  toolkit/mozapps/update/UpdateService.sys.mjs
Due: eslint

fixup! Bug 19121: reinstate the update.xml hash check
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateTelemetry.sys.mjs
  toolkit/mozapps/update/nsIUpdateService.idl
Due: eslint, file-whitespace
