Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

Bug 1881037 - Part 1: Stop showing unknown protocol error pages for web-triggered loads, r=smaug,necko-reviewers,kershaw, a=dsmith
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  netwerk/ipc/DocumentLoadListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916659, a=diannaS
  browser/base/content/test/tabPrompts/browser_confirmFolderUpload.js
  browser/components/prompts/PromptCollection.sys.mjs
  dom/filesystem/tests/script_promptHandler.js
Due: eslint

Bug 1915249: Add more nodiscard. a=RyanVM
  js/src/jit/IonAnalysis.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914106 - Deal with insertRule edge-case. r=jwatt a=RyanVM
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/ShadowRoot.cpp
  dom/base/ShadowRoot.h
  layout/style/ServoStyleSet.cpp
  layout/style/ServoStyleSet.h
  layout/style/StyleSheet.cpp
  testing/web-platform/tests/css/cssom/insertRule-import-trailing-garbage-crash.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912471 - Disallow deserializing structured clone buffers with transferables more than once r=iain, a=dsmith
  js/public/StructuredClone.h
  js/public/friend/ErrorNumbers.msg
  js/src/jit-test/tests/structured-clone/transferable-cleanup.js
  js/src/vm/StructuredClone.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911745 - Unify BrowsingContext flag coherency checks, r=mccr8
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1907726 - Make sure WebTransportSessionProxy::NotifyDatagramReceived is called after OnStopRequest, a=RyanVM
  netwerk/protocol/webtransport/WebTransportSessionProxy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug_43099: 2024 YEC
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeScreenViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/heart.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_green_browse.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_purple_speak.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_red_search.xml
  mobile/android/fenix/app/src/main/res/font/spacegrotesk_bold.ttf
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

fixup! Bug 42305: Add script to combine translation files across versions.
  tools/torbrowser/l10n/combine-translation-versions.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

Bug 1906024 - Format download file names better a=diannaS
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  mobile/android/android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/kotlin/StringTest.kt
Due: none

Bug 1906024 - Format download file names a=diannaS
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
Due: none

fixup! [android] Modify UI/UX
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/ActionModeCallback.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorBridgeConfigFragment.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/BasicSelectionActionDelegate.java
Due: none

Bug 42716: Disable unwanted about: pages
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
  toolkit/content/jar.mn
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42660: Disable ProxySelector.openConnectionWithProxy and NOPify CrashReporter.sendCrashReport
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/ProxySelector.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/CrashReporter.java
Due: none

fixup! Orfox: Centralized proxy applied to AbstractCommunicator and BaseResources.
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/ProxySelector.java
Due: none

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

Bug 1918009 - Fix the RFP-spoofed User-Agent header. r=tjr
  browser/components/resistfingerprinting/test/browser/browser_navigator.js
  browser/components/resistfingerprinting/test/browser/browser_navigator_iframes.js
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918202: Spoof orientation based on screen size. r=tjr
  dom/base/ScreenOrientation.cpp
  dom/base/nsGlobalWindowInner.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1607032: Spoof screen orientation and angle to primary values. r=tjr,geckoview-reviewers,owlish
  dom/base/ScreenOrientation.cpp
  dom/base/nsGlobalWindowInner.cpp
  dom/base/test/chrome/bug418986-1.js
  hal/android/AndroidHal.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Base Browser's .mozconfigs.
  browser/config/mozconfigs/base-browser-android
  mozconfig-android-all
Due: none

fixup! TB3: Tor Browser's official .mozconfigs.
  mozconfig-android-all
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
