Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 42037: Disable about:firefoxview page
  browser/base/content/browser.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 43098: Year End Campaign 2024.
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/yec-2024-browse.svg
  browser/components/abouttor/content/yec-2024-fonts.css
  browser/components/abouttor/content/yec-2024-heart.svg
  browser/components/abouttor/content/yec-2024-search.svg
  browser/components/abouttor/content/yec-2024-speak.svg
  browser/components/abouttor/jar.mn
  toolkit/content/license.html
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg-onion.xml
Due: eslint

Bug 42831: Remove the shopping components.
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/shopping/jar.mn
  browser/components/shopping/moz.build
  toolkit/components/shopping/jar.mn
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: none

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/build.gradle
Due: none

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/feature/search/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: none

fixup! [android] Modify UI/UX
  mobile/android/fenix/.buildconfig.yml
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: yaml

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/feature/accounts/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: none

fixup! Bug 40925: Implemented the Security Level component
  dom/base/nsNodeInfoManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 18905: Hide unwanted items from help menu
  browser/base/content/appmenu-viewcache.inc.xhtml
Due: eslint, file-whitespace

Bug 1919363 - Only show one app menu "new window" item in permanent private browsing. r=mconley
  browser/base/content/browser.js
  browser/base/content/test/general/browser_private_browsing_window.js
Due: eslint

fixup! Bug 18905: Hide unwanted items from help menu
  browser/base/content/browser-init.js
Due: eslint

Bug 42070: Hide "Use smooth scrolling" from settings
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 42027: Base Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 1834307: Check RFPTarget::CSSPrefersReducedMotion in nsLayoutUtils::IsSmoothScrollingEnabled. r=tjr
  layout/base/nsLayoutUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1834307: Change StaticPrefs::general_smoothScroll() calls with nsLayoutUtils::IsSmoothScrollingEnabled. r=tjr
  gfx/layers/apz/src/APZInputBridge.cpp
  gfx/layers/apz/src/APZPublicUtils.cpp
  gfx/layers/apz/src/GenericScrollAnimation.cpp
  gfx/layers/apz/src/WheelScrollAnimation.cpp
  layout/xul/nsSliderFrame.cpp
  widget/cocoa/nsChildView.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 43125: Extend the 13.5 EOL expiry date for tor-browser.
  browser/base/content/droppedSupportNotification.js
Due: eslint

fixup! Tor Browser strings
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: fluent-lint, file-whitespace

Bug 42832: Download spam prevention exemption for browser extensions.
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42308: Create README for tor-browser.
  README.md
  README.txt
Due: file-whitespace

Bug 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Backport Android Security Fixes.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
Due: file-whitespace

Bug 41803: Add some developer tools for working on tor-browser.
  tools/torbrowser/git-rebase-fixup-preprocessor
  tools/torbrowser/tb-dev
Due: none

Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  .eslintignore
  .gitignore
  tools/geckoview/.gitignore
  tools/geckoview/Makefile
  tools/geckoview/android-env-linux-template.sh
  tools/geckoview/android-env-macos-template.sh
  tools/geckoview/build.sh
  tools/geckoview/clobber.sh
  tools/geckoview/config.sh
  tools/geckoview/fataar.py
  tools/geckoview/jslint.sh
  tools/geckoview/package-gradle.sh
  tools/torbrowser/Makefile
  tools/torbrowser/browser-self-sign-macos.sh
  tools/torbrowser/build.sh
  tools/torbrowser/clobber.sh
  tools/torbrowser/config.sh
  tools/torbrowser/deploy.sh
  tools/torbrowser/fetch.sh
  tools/torbrowser/ide.sh
  tools/torbrowser/jslint.sh
Due: eslint, py-black, py-ruff, shellcheck, file-whitespace, trojan-source

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

Tor Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/tor-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
  toolkit/locales/jar.mn
Due: eslint, fluent-lint, file-whitespace

Bug 11641: Disable remoting by default.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Add TorStrings module for localization
  browser/base/content/browser.xhtml
  browser/installer/package-manifest.in
  mobile/android/installer/package-manifest.in
  toolkit/modules/TorStrings.sys.mjs
  toolkit/modules/moz.build
  toolkit/moz.build
  toolkit/torbutton/chrome/locale/en-US/aboutTBUpdate.dtd
  toolkit/torbutton/chrome/locale/en-US/brand.properties
  toolkit/torbutton/chrome/locale/en-US/branding/brand.ftl
  toolkit/torbutton/chrome/locale/en-US/onionLocation.properties
  toolkit/torbutton/chrome/locale/en-US/settings.properties
  toolkit/torbutton/chrome/locale/en-US/torConnect.properties
  toolkit/torbutton/chrome/locale/en-US/torbutton.dtd
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
  toolkit/torbutton/chrome/locale/en-US/torlauncher.properties
  toolkit/torbutton/jar.mn
  toolkit/torbutton/moz.build
Due: eslint, py-black, fluent-lint, file-whitespace

Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrate.py
  tools/torbrowser/l10n/migrations/__init__.py
  tools/torbrowser/l10n/migrations/bug-41333-new-about-tor.py
  tools/torbrowser/l10n/migrations/bug-41622-neterror.py
  tools/torbrowser/l10n/migrations/bug-42202-crypto-safety.py
  tools/torbrowser/l10n/migrations/bug-42203-about-dialog.py
  tools/torbrowser/l10n/migrations/bug-42206-rulesets.py
  tools/torbrowser/l10n/migrations/bug-42207-settings.py
  tools/torbrowser/l10n/migrations/bug-42209-tor-circuit.py
  tools/torbrowser/l10n/migrations/bug-42210-download-warning.py
  tools/torbrowser/l10n/migrations/bug-42211-new-identity.py
  tools/torbrowser/l10n/migrations/bug-42214-security-level.py
Due: py-black, py-ruff, file-whitespace, trojan-source
