Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

build-base-image:
  stage: update-container-images
  interruptible: true
  image: containers.torproject.org/tpo/tpa/base-images/podman:bookworm
  script:
  - export TAG="${CI_REGISTRY_IMAGE}/base:latest"
  - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fixup! Bug 43140: Tighten up fonts on Linux.
  gfx/thebes/gfxFcPlatformFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1909099 - Always clean up old session restore and sync log files. r=markh,sessionstore-reviewers,dao
  toolkit/modules/LogManager.sys.mjs
Due: eslint

Bug 1899180. If a channel is not nsIPrivateBrowsingChannel and has no load context, use the private browsing field from it's origin attributes. r=necko-reviewers,anti-tracking-reviewers,valentin
  image/test/browser/browser.toml
  image/test/browser/browser_bug1899180.js
  image/test/browser/helper1899180.html
  toolkit/components/antitracking/StoragePrincipalHelper.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1908344 - Improve prompts showing a=dmeehan - BP, tor-browser#43005
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
Due: none

Bug 1904011 - Ignore finalized scripts when iterating code covarage tables r=iain
  js/src/gc/Zone.cpp
  js/src/jit-test/tests/debug/bug-1904011.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1436462 - Use "Open in new private window" for bookmarks when in PBM. r=places-reviewers,mak
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  browser/components/places/content/placesContextMenu.inc.xhtml
  browser/components/places/tests/browser/browser_bookmark_context_menu_contents.js
  browser/components/places/tests/browser/head.js
Due: eslint, file-whitespace

Bug 1862537 - Do not try to go back when it's a initial load r=android-reviewers,harrisono, a=pascalc
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
Due: none

Bug 1834307: Check RFPTarget::CSSPrefersReducedMotion in nsLayoutUtils::IsSmoothScrollingEnabled. r=tjr
  layout/base/nsLayoutUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1834307: Change StaticPrefs::general_smoothScroll() calls with nsLayoutUtils::IsSmoothScrollingEnabled. r=tjr
  gfx/layers/apz/src/APZInputBridge.cpp
  gfx/layers/apz/src/APZPublicUtils.cpp
  gfx/layers/apz/src/GenericScrollAnimation.cpp
  gfx/layers/apz/src/WheelScrollAnimation.cpp
  layout/xul/nsSliderFrame.cpp
  widget/cocoa/nsChildView.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919363 - Only show one app menu "new window" item in permanent private browsing. r=mconley
  browser/base/content/browser.js
  browser/base/content/test/general/browser_private_browsing_window.js
Due: eslint

Bug 1906024 - Format download file names better a=diannaS
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  mobile/android/android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/kotlin/StringTest.kt
Due: none

Bug 1911745 - Unify BrowsingContext flag coherency checks, r=mccr8
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1906024 - Format download file names a=diannaS
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
Due: none

Bug 1607032: Spoof screen orientation and angle to primary values. r=tjr,geckoview-reviewers,owlish
  dom/base/ScreenOrientation.cpp
  dom/base/nsGlobalWindowInner.cpp
  dom/base/test/chrome/bug418986-1.js
  hal/android/AndroidHal.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918009 - Fix the RFP-spoofed User-Agent header. r=tjr
  browser/components/resistfingerprinting/test/browser/browser_navigator.js
  browser/components/resistfingerprinting/test/browser/browser_navigator_iframes.js
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1501744 [Linux] Fill PointerEvents on the Gtk backend r=emilio
  widget/gtk/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1436226: Ignore user prefs and hardware support for media capabilities when RFPTarget::MediaCapabilities is enabled. r=tjr,media-playback-reviewers,padenot
  dom/media/eme/MediaKeySystemAccess.cpp
  dom/media/mediacapabilities/MediaCapabilities.cpp
  dom/media/mediasource/MediaSource.cpp
  dom/media/mediasource/MediaSource.h
  dom/media/mediasource/SourceBuffer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923264 - Discard unsupported updates in selectUpdate. r=bytesized,nalexander
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/tests/data/sharedUpdateXML.js
  toolkit/mozapps/update/tests/unit_aus_update/mixedUnsupported.js
  toolkit/mozapps/update/tests/unit_aus_update/xpcshell.toml
Due: eslint

Bug 1922204: fixup square spoofed orientation. r=tjr
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918202: Spoof orientation based on screen size. r=tjr
  dom/base/ScreenOrientation.cpp
  dom/base/nsGlobalWindowInner.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1909396 - Remove HTTPS-Only exception button in iframes r=freddyb,fluent-reviewers
  dom/ipc/WindowGlobalParent.cpp
  dom/security/test/https-only/browser.toml
  dom/security/test/https-only/browser_iframe_buttons.js
  dom/security/test/https-only/file_iframe_buttons.html
  toolkit/components/httpsonlyerror/content/errorpage.html
  toolkit/components/httpsonlyerror/content/errorpage.js
  toolkit/locales/en-US/toolkit/about/aboutHttpsOnlyError.ftl
Due: eslint, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1836921 - Improve dialogs a=dmeehan
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
  mobile/android/android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragmentTest.kt
Due: none

Bug 1556002 - Update initial window size and letterboxing stepping. r=tjr
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/resistfingerprinting/test/browser/browser_roundedWindow_open_max_inner.js
  browser/components/resistfingerprinting/test/browser/head.js
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, yaml

Bug 1776646 - Support EXTRA_IS_SENSITIVE for clipboard. r=geckoview-reviewers,owlish
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/Clipboard.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoInputConnection.java
  widget/android/nsClipboard.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914797 - Part 1 + 2 + partial backout (details below)
  mobile/android/android-components/components/feature/session/src/main/java/mozilla/components/feature/session/SessionUseCases.kt
  mobile/android/android-components/components/feature/session/src/test/java/mozilla/components/feature/session/SessionUseCasesTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CrashReportingTest.kt
Due: file-whitespace

fixup! Bug 40933: Add tor-launcher functionality
  toolkit/components/tor-launcher/TorLauncherUtil.sys.mjs
  toolkit/components/tor-launcher/TorProcess.sys.mjs
Due: eslint

fixup! Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  tools/geckoview/Makefile
  tools/geckoview/android-env-linux-template.sh
  tools/geckoview/android-env-macos-template.sh
  tools/geckoview/build-fenix.sh
  tools/geckoview/build-geckoview.sh
  tools/geckoview/clobber.sh
  tools/geckoview/config.sh
  tools/geckoview/fataar.py
  tools/geckoview/package-gradle.sh
Due: py-black, py-ruff, shellcheck, file-whitespace, trojan-source

fixup! [android] Modify build system
  mobile/android/fenix/tools/tba-sign-devbuilds.sh
Due: shellcheck

Bug 43340: Fetch aarch64 alphas for linux aarch64 dev builds
  tools/torbrowser/fetch.sh
Due: shellcheck

Bug 43340: Use the correct vendor in linux aarch64 dev builds
  tools/torbrowser/Makefile
Due: none

Bug 43340: Add mozconfig-linux-aarch64-dev
  mozconfig-linux-aarch64-dev
Due: none

Revert "Bug 43098: Year End Campaign 2024."
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/yec-2024-browse.svg
  browser/components/abouttor/content/yec-2024-fonts.css
  browser/components/abouttor/content/yec-2024-heart.svg
  browser/components/abouttor/content/yec-2024-search.svg
  browser/components/abouttor/content/yec-2024-speak.svg
  browser/components/abouttor/jar.mn
  toolkit/content/license.html
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

Revert "Bug 43099: 2024 YEC"
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeScreenViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/heart.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_green_browse.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_purple_speak.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_red_search.xml
  mobile/android/fenix/app/src/main/res/font/spacegrotesk_bold.ttf
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

fixup! Bug 31740: Remove some unnecessary RemoteSettings instances
  services/settings/dumps/main/moz.build
Due: py-black

fixup! Tor Browser strings
  browser/branding/tb-alpha/locales/en-US/brand.ftl
  browser/branding/tb-alpha/locales/en-US/brand.properties
  browser/branding/tb-alpha/locales/jar.mn
  browser/branding/tb-nightly/locales/en-US/brand.ftl
  browser/branding/tb-nightly/locales/en-US/brand.properties
  browser/branding/tb-nightly/locales/jar.mn
  browser/branding/tb-release/locales/en-US/brand.ftl
  browser/branding/tb-release/locales/en-US/brand.properties
  browser/branding/tb-release/locales/jar.mn
Due: fluent-lint, localization, file-whitespace

fixup! Add TorStrings module for localization
  toolkit/torbutton/chrome/locale/en-US/brand.properties
  toolkit/torbutton/chrome/locale/en-US/branding/brand.ftl
  toolkit/torbutton/jar.mn
Due: fluent-lint, file-whitespace

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile
