Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1914521 - Make nsPartChannel inherit the content disposition of the multipart response a=RyanVM
  netwerk/streamconv/converters/nsMultiMixedConv.cpp
  netwerk/streamconv/converters/nsMultiMixedConv.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919809 - Always clear mArgumentStorage in Console's Unlink. a=RyanVM
  dom/console/Console.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924154 - Disallow too small record a=RyanVM
  dom/push/PushCrypto.sys.mjs
Due: eslint

Bug 1920423, a=RyanVM
  toolkit/content/widgets/popupnotification.js
  toolkit/themes/shared/popupnotification.css
Due: eslint, stylelint, file-whitespace

Bug 1923706 - Pass by value, not reference in CamerasChild::AllocateCapture. a=RyanVM
  dom/media/systemservices/CamerasChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41483: Remove the firefox override for appstrings.properties
  browser/base/jar.mn
  browser/locales/en-US/chrome/overrides/appstrings.properties
  browser/locales/jar.mn
Due: file-whitespace

Bug 41454: Move focus after calling openPreferences for a sub-category.
  browser/components/preferences/preferences.js
Due: eslint

Bug 41459: WebRTC fails to build under mingw (Part 1)
  js/src/old-configure.in
  old-configure.in
Due: none

Bug 42194: Fix blank net error page on failed DNS resolution with active proxy.
  toolkit/actors/NetErrorChild.sys.mjs
Due: eslint

Bug 41459: WebRTC fails to build under mingw (Part 4)
  netwerk/sctp/src/moz.build
  netwerk/sctp/src/netinet/sctp_cc_functions.c
  netwerk/sctp/src/netinet/sctp_indata.c
  netwerk/sctp/src/netinet/sctp_input.c
  netwerk/sctp/src/netinet/sctp_output.c
  netwerk/sctp/src/netinet/sctp_usrreq.c
  netwerk/sctp/src/netinet/sctputil.c
  netwerk/sctp/src/user_mbuf.c
  netwerk/sctp/src/user_socket.c
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41459: WebRTC fails to build under mingw (Part 2)
  third_party/libwebrtc/modules/audio_coding/codecs/isac/main/source/os_specific_inline.h
  third_party/libwebrtc/modules/desktop_capture/desktop_capture_types.h
  third_party/libwebrtc/modules/desktop_capture/win/desktop_capture_utils.cc
  third_party/libwebrtc/modules/video_capture/windows/device_info_ds.h
  third_party/libwebrtc/rtc_base/platform_thread_types.cc
  third_party/libwebrtc/rtc_base/socket.h
  third_party/libwebrtc/rtc_base/system/file_wrapper.cc
  third_party/libwebrtc/rtc_base/win/create_direct3d_device.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41459: WebRTC fails to build under mingw (Part 3)
  third_party/sipcc/cpr_win_types.h
  third_party/sipcc/sdp_token.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42835: Create an actor to filter file data transfers
  toolkit/actors/FilesFilterChild.sys.mjs
  toolkit/actors/FilesFilterParent.sys.mjs
  toolkit/actors/moz.build
  toolkit/modules/ActorManagerParent.sys.mjs
Due: eslint, py-black

Bug 41459: WebRTC fails to build under mingw (Part 6)
  dom/media/systemservices/video_engine/desktop_device_info.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41459: WebRTC fails to build under mingw (Part 5)
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/sdp/RsdparsaSdpAttributeList.cpp
  dom/media/webrtc/transport/nrinterfaceprioritizer.cpp
  dom/media/webrtc/transport/sigslot.h
  dom/media/webrtc/transport/test/ice_unittest.cpp
  dom/media/webrtc/transport/third_party/nICEr/src/net/local_addr.c
  dom/media/webrtc/transport/third_party/nICEr/src/net/local_addr.h
  dom/media/webrtc/transport/third_party/nICEr/src/stun/addrs-netlink.c
  dom/media/webrtc/transport/third_party/nICEr/src/stun/addrs-win32.c
  dom/media/webrtc/transport/third_party/nICEr/src/stun/addrs.c
  dom/media/webrtc/transport/third_party/nrappkit/src/log/r_log.c
  dom/media/webrtc/transport/third_party/nrappkit/src/registry/registry.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41854: Allow overriding download spam protection.
  browser/components/downloads/DownloadSpamProtection.sys.mjs
  toolkit/components/downloads/DownloadCore.sys.mjs
  toolkit/components/downloads/DownloadIntegration.sys.mjs
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Adding issue and merge request templates
  .gitlab/issue_templates/Emergency Security Issue.md
  .gitlab/issue_templates/bug.md
  .gitlab/merge_request_templates/default.md
Due: file-whitespace

Tweaks to the build system
  browser/app/moz.build
  browser/installer/package-manifest.in
  mobile/android/gradle/with_gecko_binaries.gradle
  python/mozbuild/mozbuild/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Base Browser's .mozconfigs.
  browser/config/mozconfigs/base-browser
  browser/config/mozconfigs/base-browser-android
  browser/confvars.sh
  browser/moz.configure
  mobile/android/basebrowser.configure
  mobile/android/confvars.sh
  mobile/android/moz.configure
  moz.configure
  mozconfig-android-aarch64
  mozconfig-android-all
  mozconfig-android-armv7
  mozconfig-android-x86
  mozconfig-android-x86_64
  mozconfig-linux-aarch64
  mozconfig-linux-arm
  mozconfig-linux-i686
  mozconfig-linux-x86_64
  mozconfig-linux-x86_64-asan
  mozconfig-linux-x86_64-dev
  mozconfig-macos
  mozconfig-macos-dev
  mozconfig-windows-i686
  mozconfig-windows-x86_64
  security/moz.build
  security/nss/lib/ssl/Makefile
  toolkit/modules/AppConstants.sys.mjs
Due: eslint, py-black, py-ruff, shellcheck

Bug 41108: Remove privileged macOS installation from 102
  toolkit/xre/MacRunFromDmgUtils.mm
Due: clang-format

Bug 28125: Prevent non-Necko network connections
  mobile/android/exoplayer2/src/main/java/org/mozilla/thirdparty/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/media/GeckoMediaDrmBridgeV21.java
Due: none

Bug 41149: Re-enable DLL injection protection in all builds not just nightlies
  toolkit/xre/dllservices/mozglue/WindowsDllBlocklist.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 24796: Comment out excess permissions from GeckoView
  mobile/android/geckoview/src/main/AndroidManifest.xml
  mobile/android/moz.configure
Due: eslint, py-black, py-ruff

Bug 12974: Disable NTLM and Negotiate HTTP Auth
  extensions/auth/nsHttpNegotiateAuth.cpp
  netwerk/protocol/http/nsHttpNTLMAuth.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 21431: Clean-up system extensions shipped in Firefox
  browser/components/BrowserGlue.sys.mjs
  browser/extensions/moz.build
  browser/installer/package-manifest.in
  browser/locales/Makefile.in
  browser/locales/jar.mn
Due: eslint, py-black

Bug 16285: Exclude ClearKey system for now
  browser/installer/package-manifest.in
Due: none

Bug 40166: Disable security.certerrors.mitm.auto_enable_enterprise_roots
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 33852: Clean up about:logins (LockWise) to avoid mentioning sync, etc.
  browser/components/aboutlogins/AboutLoginsParent.sys.mjs
  browser/components/aboutlogins/content/aboutLogins.css
  browser/components/aboutlogins/content/aboutLogins.mjs
  browser/components/aboutlogins/content/components/fxaccounts-button.css
Due: eslint, stylelint, file-whitespace

Bug 41457: Remove Mozilla permissions
  browser/app/permissions
Due: none

Bug 26353: Prevent speculative connect that violated FPI.
  toolkit/components/remotebrowserutils/RemoteWebNavigation.sys.mjs
Due: eslint

Bug 40002: Remove about:ion
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  services/sync/components.conf
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41092: Add a RemoteSettings JSON dump for query-stripping
  services/settings/static-dumps/main/moz.build
  services/settings/static-dumps/main/query-stripping.json
Due: eslint, py-black

Bug 41635: Disable the Normandy component
  browser/components/BrowserGlue.sys.mjs
  toolkit/components/moz.build
Due: eslint, py-black

Bug 31740: Remove some unnecessary RemoteSettings instances
  browser/components/search/SearchSERPTelemetry.sys.mjs
  docshell/base/nsAboutRedirector.cpp
  netwerk/url-classifier/UrlClassifierFeatureBase.cpp
  netwerk/url-classifier/components.conf
  security/manager/ssl/RemoteSecuritySettings.sys.mjs
  services/settings/IDBHelpers.jsm
  services/settings/dumps/main/moz.build
  services/settings/dumps/security-state/moz.build
  services/settings/remote-settings.sys.mjs
  services/settings/servicesSettings.manifest
  toolkit/components/antitracking/antitracking.manifest
  toolkit/components/antitracking/components.conf
  toolkit/components/search/SearchService.sys.mjs
  toolkit/modules/IgnoreLists.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 30541: Disable WebGL readPixel() for web content
  dom/canvas/ClientWebGLContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40717: Hide Windows SSO in settings
  browser/themes/shared/preferences/preferences.css
Due: stylelint, file-whitespace

Bug 41599: Always return an empty string as network ID
  netwerk/system/android/nsAndroidNetworkLinkService.cpp
  netwerk/system/linux/nsNetworkLinkService.cpp
  netwerk/system/mac/nsNetworkLinkService.mm
  netwerk/system/netlink/NetlinkService.cpp
  netwerk/system/win32/nsNotifyAddrListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41568: Disable LaterRun
  browser/components/BrowserContentHandler.sys.mjs
Due: eslint

Bug 28369: Stop shipping pingsender executable
  browser/app/macbuild/Contents/MacOS-files.in
  browser/installer/package-manifest.in
  browser/installer/windows/nsis/shared.nsh
  python/mozbuild/mozbuild/artifacts.py
  toolkit/components/telemetry/app/TelemetrySend.sys.mjs
  toolkit/components/telemetry/moz.build
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 42037: Disable about:firefoxview page
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
