Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

fixup! Bug 40925: Implemented the Security Level component
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
Due: eslint

fixup! Bug 42027: Base Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
Due: eslint

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! [android] Modify add-on support
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtension.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
  mobile/android/android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtensionController.java
Due: none

fixup! [android] Enable the connect assist experiments on alpha
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
Due: none

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

fixup! Bug 42027: Base Browser migration procedures.
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
Due: eslint

fixup! Bug 40209: Implement Basic Crypto Safety
  browser/actors/CryptoSafetyChild.sys.mjs
  browser/actors/CryptoSafetyParent.sys.mjs
Due: eslint

Bug 43118: Hide feature recommendation (CFR) settings.
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 41435: Add a Tor Browser migration function
  browser/components/BrowserGlue.sys.mjs
Due: eslint

fixup! Omnibox: Add DDG, Startpage, Disconnect, Youtube, Twitter; remove Amazon, eBay, bing
  browser/components/search/extensions/twitter/favicon.ico
  browser/components/search/extensions/twitter/manifest.json
  browser/components/search/extensions/yahoo/favicon.ico
  browser/components/search/extensions/yahoo/manifest.json
  browser/components/search/extensions/youtube/favicon.ico
  browser/components/search/extensions/youtube/manifest.json
  toolkit/components/search/SearchService.sys.mjs
Due: eslint

fixup! [android] Disable features and functionality
  mobile/android/android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/SettingsTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: none

fixup! Bug 40925: Implemented the Security Level component
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/UseCases.kt
Due: none

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg-onion.xml
Due: eslint

Bug 1902996 - Improve messaging for fullscreen notifications. r=android-reviewers,gl
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/FullScreenNotification.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/FullScreenNotificationDialog.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/GestureNavUtils.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/dialog/FullScreenNotificationTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/res/layout/full_screen_notification_dialog.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/browser/integration/FullScreenIntegration.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
  mobile/android/focus-android/app/src/main/res/layout/dialog_full_screen_notification.xml
  mobile/android/focus-android/app/src/main/res/values/strings.xml
  mobile/android/focus-android/app/src/test/java/org/mozilla/focus/browser/integration/FullScreenIntegrationTest.kt
Due: eslint, file-whitespace

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

Bug 43072: Add aria label and description to moz-message-bar.
  toolkit/content/widgets/moz-message-bar/moz-message-bar.mjs
  toolkit/content/widgets/notificationbox.js
Due: eslint

squash! Bug 41043: Hardcode the UI font on Linux
  gfx/thebes/gfxPlatformFontList.cpp
  layout/base/nsLayoutUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! [android] Modify UI/UX
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: none

Bug 1862537 - Do not try to go back when it's a initial load r=android-reviewers,harrisono, a=pascalc
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
Due: none

Bug 1436462 - Use "Open in new private window" for bookmarks when in PBM. r=places-reviewers,mak
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  browser/components/places/content/placesContextMenu.inc.xhtml
  browser/components/places/tests/browser/browser_bookmark_context_menu_contents.js
  browser/components/places/tests/browser/head.js
Due: eslint, file-whitespace

Bug 42220: Allow for more file types to be forced-inline.
  modules/libpref/init/StaticPrefList.yaml
  uriloader/base/nsURILoader.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 42037: Disable about:firefoxview page
  browser/base/content/browser.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
