Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile

fixup! Bug 42305: Add script to combine translation files across versions.
  tools/torbrowser/l10n/combine-translation-versions.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/res/layout/fenix_snackbar.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  toolkit/content/pt_config.json
Due: eslint

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

fixup! [android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

Bug 1909625 - Ignore CSS zoom and text zoom for canvas. r=gfx-reviewers,lsalzman
  dom/canvas/CanvasRenderingContext2D.cpp
  servo/components/style/properties/cascade.rs
  servo/components/style/properties/properties.mako.rs
  servo/components/style/values/computed/box.rs
  servo/components/style/values/specified/length.rs
  servo/ports/geckolib/glue.rs
  testing/web-platform/tests/css/css-viewport/zoom/canvas-ref.html
  testing/web-platform/tests/css/css-viewport/zoom/canvas.html
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918454 - Prevent divide by zero when inverting effective zoom. r=firefox-style-system-reviewers,layout-reviewers,boris
  servo/components/style/properties/properties.mako.rs
  servo/components/style/values/computed/box.rs
  testing/web-platform/tests/css/css-viewport/zoom/textarea-very-small-zoom-crash.html
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1935621 - Fix virtual environment sysconfig path calculation r=firefox-build-system-reviewers,ahochheiden
  python/mach/mach/site.py
Due: py-black, py-ruff, file-whitespace, trojan-source

dropme! Add verification statement for BrowserStack support
  README.md
Due: file-whitespace

BB 41454: Move focus after calling openPreferences for a sub-category.
  browser/components/preferences/preferences.js
Due: eslint

BB 42194: Fix blank net error page on failed DNS resolution with active proxy.
  toolkit/actors/NetErrorChild.sys.mjs
Due: eslint

BB 43072: Add aria label and description to moz-message-bar.
  toolkit/content/widgets/moz-message-bar/moz-message-bar.mjs
  toolkit/content/widgets/notificationbox.js
Due: eslint

BB 42739: Use the brand name for profile error messages.
  toolkit/xre/ProfileReset.cpp
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41483: Remove the firefox override for appstrings.properties
  browser/base/jar.mn
  browser/locales/en-US/chrome/overrides/appstrings.properties
  browser/locales/jar.mn
Due: file-whitespace

BB 41459: WebRTC fails to build under mingw (Part 2)
  third_party/libwebrtc/modules/audio_coding/codecs/isac/main/source/os_specific_inline.h
  third_party/libwebrtc/modules/desktop_capture/desktop_capture_types.h
  third_party/libwebrtc/modules/desktop_capture/win/desktop_capture_utils.cc
  third_party/libwebrtc/modules/video_capture/windows/device_info_ds.h
  third_party/libwebrtc/rtc_base/platform_thread_types.cc
  third_party/libwebrtc/rtc_base/socket.h
  third_party/libwebrtc/rtc_base/system/file_wrapper.cc
  third_party/libwebrtc/rtc_base/win/create_direct3d_device.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 43101: Deep link to the startup security warning explanation.
  security/sandbox/common/SandboxUtils.sys.mjs
Due: eslint

BB 41459: WebRTC fails to build under mingw (Part 3)
  third_party/sipcc/cpr_win_types.h
  third_party/sipcc/sdp_token.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41459: WebRTC fails to build under mingw (Part 4)
  netwerk/sctp/src/moz.build
  netwerk/sctp/src/netinet/sctp_cc_functions.c
  netwerk/sctp/src/netinet/sctp_indata.c
  netwerk/sctp/src/netinet/sctp_input.c
  netwerk/sctp/src/netinet/sctp_output.c
  netwerk/sctp/src/netinet/sctp_usrreq.c
  netwerk/sctp/src/netinet/sctputil.c
  netwerk/sctp/src/user_mbuf.c
  netwerk/sctp/src/user_socket.c
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41459: WebRTC fails to build under mingw (Part 1)
  js/src/old-configure.in
  old-configure.in
Due: none

BB 41459: WebRTC fails to build under mingw (Part 6)
  dom/media/systemservices/video_engine/desktop_device_info.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42758: Fix WebRTC build errors.
  third_party/libwebrtc/modules/desktop_capture/win/wgc_capture_session.cc
  third_party/libwebrtc/modules/desktop_capture/win/wgc_capturer_win.cc
  third_party/libwebrtc/modules/desktop_capture/win/wgc_capturer_win.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41459: WebRTC fails to build under mingw (Part 5)
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/sdp/RsdparsaSdpAttributeList.cpp
  dom/media/webrtc/transport/nrinterfaceprioritizer.cpp
  dom/media/webrtc/transport/sigslot.h
  dom/media/webrtc/transport/test/ice_unittest.cpp
  dom/media/webrtc/transport/third_party/nICEr/src/net/local_addr.c
  dom/media/webrtc/transport/third_party/nICEr/src/net/local_addr.h
  dom/media/webrtc/transport/third_party/nICEr/src/stun/addrs-netlink.c
  dom/media/webrtc/transport/third_party/nICEr/src/stun/addrs-win32.c
  dom/media/webrtc/transport/third_party/nICEr/src/stun/addrs.c
  dom/media/webrtc/transport/third_party/nrappkit/src/log/r_log.c
  dom/media/webrtc/transport/third_party/nrappkit/src/registry/registry.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41854: Allow overriding download spam protection.
  browser/components/downloads/DownloadSpamProtection.sys.mjs
  toolkit/components/downloads/DownloadCore.sys.mjs
  toolkit/components/downloads/DownloadIntegration.sys.mjs
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42835: Create an actor to filter file data transfers
  toolkit/actors/FilesFilterChild.sys.mjs
  toolkit/actors/FilesFilterParent.sys.mjs
  toolkit/actors/moz.build
  toolkit/modules/ActorManagerParent.sys.mjs
Due: eslint, py-black

BB 42220: Allow for more file types to be forced-inline.
  modules/libpref/init/StaticPrefList.yaml
  uriloader/base/nsURILoader.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42832: Download spam prevention exemption for browser extensions.
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 42728: Modify ./mach lint to skip unused linters
  python/mozlint/mozlint/cli.py
Due: py-black, py-ruff, file-whitespace, trojan-source

BB 42683: Create script to generate issue triage csv file from bugzilla query and git logs
  tools/torbrowser/generate-bugzilla-triage-csv.sh
Due: shellcheck

Adding issue and merge request templates
  .gitlab/issue_templates/Emergency Security Issue.md
  .gitlab/issue_templates/QA - Android.md
  .gitlab/issue_templates/QA - Desktop.md
  .gitlab/issue_templates/bug.md
  .gitlab/merge_request_templates/Rebase.md
  .gitlab/merge_request_templates/default.md
Due: file-whitespace
