Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

build-base-image:
  stage: update-container-images
  interruptible: true
  image: containers.torproject.org/tpo/tpa/base-images/podman:bookworm
  script:
  - export TAG="${CI_REGISTRY_IMAGE}/base:latest"
  - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

[android] Modify add-on support
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtension.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
  mobile/android/android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuNavigationMiddlewareTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtensionController.java
  mobile/shared/modules/geckoview/GeckoViewWebExtension.sys.mjs
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/extensions/components.conf
  toolkit/mozapps/extensions/internal/XPIInstall.sys.mjs
Due: eslint

Bug 41972: [android] Disable mozilla onboarding
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingDonateViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/res/values/styles.xml
Due: eslint

Bug 41878: [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorNetworkSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBootstrapStatus.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsComposeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/bootstrap/TorQuickStart.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/tor_bootstrap_background_gradient.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_network_settings_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

[android] fixup! Modify UI/UX and Remove ability to submit site support requests
  mobile/android/fenix/app/src/release/res/drawable-v24/ic_launcher_foreground.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/fenix/app/src/release/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/fenix/app/src/release/res/mipmap-hdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-mdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  mobile/android/fenix/app/src/release/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
Due: eslint

Bug 42191: [android] Temporary StrictMode relaxation to clear the thumbnail cache.
  mobile/android/android-components/components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/utils/ThumbnailDiskCache.kt
Due: none

[android] Enable the connect assist experiments on alpha
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
Due: eslint

fixup! [android] Enable the connect assist experiments on alpha
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

Bug 42195: [android] Fix "Whats new URL"
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/SupportUtilsTest.kt
Due: none

Bug 42660: Disable ProxySelector.openConnectionWithProxy and NOPify CrashReporter.sendCrashReport
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/ProxySelector.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/CrashReporter.java
Due: none

Bug 42652: [android] Pass the list of supported languages to GeckoView.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
Due: none

[android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/ConnectAssistUiState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/QuickStartPreference.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/browser_location.xml
  mobile/android/fenix/app/src/main/res/drawable/connect.xml
  mobile/android/fenix/app/src/main/res/drawable/connect_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/globe_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/progress_gradient.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
  mobile/android/fenix/app/src/main/res/layout/preference_quick_start.xml
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
Due: eslint

Bug 43099: 2024 YEC
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeScreenViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/heart.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_green_browse.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_purple_speak.xml
  mobile/android/fenix/app/src/main/res/drawable/illo_red_search.xml
  mobile/android/fenix/app/src/main/res/font/spacegrotesk_bold.ttf
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

Bug 43098: Year End Campaign 2024.
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/yec-2024-browse.svg
  browser/components/abouttor/content/yec-2024-fonts.css
  browser/components/abouttor/content/yec-2024-heart.svg
  browser/components/abouttor/content/yec-2024-search.svg
  browser/components/abouttor/content/yec-2024-speak.svg
  browser/components/abouttor/jar.mn
  toolkit/content/license.html
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 43006: Disable RFP for Font Visibility on Android
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1842187 a=dmeehan
  toolkit/components/downloads/DownloadUIHelper.sys.mjs
Due: eslint

Bug 29745: Limit remote access to content accessible resources
  caps/nsScriptSecurityManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1836921 - Improve dialogs a=dmeehan
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
  mobile/android/android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragmentTest.kt
Due: none

Bug 1909396 - Remove HTTPS-Only exception button in iframes r=freddyb,fluent-reviewers
  dom/ipc/WindowGlobalParent.cpp
  dom/security/test/https-only/browser.toml
  dom/security/test/https-only/browser_iframe_buttons.js
  dom/security/test/https-only/file_iframe_buttons.html
  toolkit/components/httpsonlyerror/content/errorpage.html
  toolkit/components/httpsonlyerror/content/errorpage.js
  toolkit/locales/en-US/toolkit/about/aboutHttpsOnlyError.ftl
Due: eslint, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1776646 - Support EXTRA_IS_SENSITIVE for clipboard. r=geckoview-reviewers,owlish
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/Clipboard.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoInputConnection.java
  widget/android/nsClipboard.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914797 - Part 1 + 2 + partial backout (details below)
  mobile/android/android-components/components/feature/session/src/main/java/mozilla/components/feature/session/SessionUseCases.kt
  mobile/android/android-components/components/feature/session/src/test/java/mozilla/components/feature/session/SessionUseCasesTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CrashReportingTest.kt
Due: file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionSettingsDialog.xhtml
Due: eslint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionSettingsDialog.xhtml
  browser/components/torpreferences/content/requestBridgeDialog.js
  browser/components/torpreferences/content/requestBridgeDialog.xhtml
  browser/components/torpreferences/content/torPreferences.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionSettingsDialog.js
Due: eslint

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Add CI for Tor Browser
  .gitlab/ci/containers/base/Containerfile
Due: build-base-image

fixup! Adding issue and merge request templates
  .gitlab/merge_request_templates/Rebase.md
Due: file-whitespace

fixup! Bug 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Legacy.md
Due: file-whitespace

fixup! Bug 43140: Tighten up fonts on Linux.
  gfx/thebes/gfxFcPlatformFontList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile
