Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Lox integration
  toolkit/components/lox/jar.mn
Due: none

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorSettings.sys.mjs
Due: eslint

Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/app/profile/000-tor-browser.js
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/themes/shared/icons/new_circuit.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/moz.build
Due: eslint, stylelint, py-black, file-whitespace

fixup! Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
Due: stylelint, file-whitespace

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

Bug 42247: Android helpers for the TorProvider
  browser/app/profile/000-tor-browser.js
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
  mobile/shared/modules/geckoview/GeckoViewContent.sys.mjs
  toolkit/modules/TorAndroidIntegration.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/app/profile/000-tor-browser.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  dom/base/ContentAreaDropListener.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/modules/DragDropFilter.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 25741: TBA: Disable GeckoNetworkManager
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
Due: none

Orfox: Centralized proxy applied to AbstractCommunicator and BaseResources.
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/ProxySelector.java
Due: none

Bug 40807: Added QRCode.js to toolkit/modules
  toolkit/content/license.html
  toolkit/modules/QRCode.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black, file-whitespace

Bug 14631: Improve profile access error messages.
  toolkit/locales/en-US/chrome/mozapps/profile/profileSelection.properties
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/modules/URILoadingHelper.sys.mjs
  browser/themes/shared/browser-shared.css
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tor-urlbar-button.css
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
  dom/base/nsGlobalWindowOuter.cpp
  toolkit/actors/AboutHttpsOnlyErrorParent.sys.mjs
  toolkit/actors/NetErrorParent.sys.mjs
  toolkit/components/httpsonlyerror/content/errorpage.js
  toolkit/components/moz.build
  toolkit/components/torconnect/TorConnectChild.sys.mjs
  toolkit/components/torconnect/TorConnectParent.sys.mjs
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/components/torconnect/content/arrow-right.svg
  toolkit/components/torconnect/content/bridge.svg
  toolkit/components/torconnect/content/connection-failure.svg
  toolkit/components/torconnect/content/connection-location.svg
  toolkit/components/torconnect/content/onion-pattern.svg
  toolkit/components/torconnect/content/tor-connect-broken.svg
  toolkit/components/torconnect/content/tor-connect.svg
  toolkit/components/torconnect/content/tor-not-connected-to-connected-animated.svg
  toolkit/components/torconnect/content/torConnectTitlebarStatus.css
  toolkit/components/torconnect/content/torConnectTitlebarStatus.js
  toolkit/components/torconnect/content/torConnectUrlbarButton.js
  toolkit/components/torconnect/jar.mn
  toolkit/components/torconnect/moz.build
  toolkit/content/.eslintrc.js
  toolkit/content/aboutNetError.mjs
  toolkit/modules/ActorManagerParent.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/builtinBridgeDialog.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/onion-pattern.svg
  toolkit/components/torconnect/jar.mn
Due: eslint, stylelint, file-whitespace

Temporary changes to about:torconnect for Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/modules/TorConnect.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 7494: Create local home page for TBB.
  browser/base/content/browser-places.js
  browser/base/content/browser.js
  browser/base/content/utilityOverlay.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorMessage.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/HomepageOverride.sys.mjs
  browser/components/abouttor/content/1f4e3-megaphone.svg
  browser/components/abouttor/content/26a1-high-voltage.svg
  browser/components/abouttor/content/2728-sparkles.svg
  browser/components/abouttor/content/2764-red-heart.svg
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/dax-logo.svg
  browser/components/abouttor/content/onion-pattern.svg
  browser/components/abouttor/jar.mn
  browser/components/abouttor/moz.build
  browser/components/moz.build
  browser/components/newtab/AboutNewTabService.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/modules/HomePage.sys.mjs
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
Due: stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/content/aboutTor.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
Due: eslint, stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/onion-pattern.svg
  browser/components/abouttor/jar.mn
Due: eslint, stylelint, file-whitespace

Bug 12647: Support symlinks in the updater.
  config/createprecomplete.py
  toolkit/mozapps/update/updater/updater.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
Due: py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41668: Tweaks to the Base Browser updater for Tor Browser
  browser/components/BrowserContentHandler.sys.mjs
  browser/confvars.sh
  config/createprecomplete.py
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsXREDirProvider.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
  widget/gtk/WidgetUtilsGtk.cpp
Due: eslint, py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 19121: reinstate the update.xml hash check
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateTelemetry.sys.mjs
  toolkit/mozapps/update/nsIUpdateService.idl
Due: eslint, file-whitespace

Bug 19121: reinstate the update.xml hash check
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateTelemetry.sys.mjs
  toolkit/mozapps/update/nsIUpdateService.idl
Due: eslint, file-whitespace

Bug 32658: Create a new MAR signing key
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
  toolkit/mozapps/update/updater/release_primary.der
  toolkit/mozapps/update/updater/release_secondary.der
Due: none

Bug 16940: After update, load local change notes.
  browser/actors/AboutTBUpdateChild.sys.mjs
  browser/actors/AboutTBUpdateParent.sys.mjs
  browser/actors/moz.build
  browser/base/content/abouttbupdate/aboutTBUpdate.css
  browser/base/content/abouttbupdate/aboutTBUpdate.js
  browser/base/content/abouttbupdate/aboutTBUpdate.xhtml
  browser/base/content/browser.js
  browser/base/jar.mn
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42891: Set the bundled search engine for Tor Browser.
  browser/components/search/extensions/ddg-onion/favicon.ico
  browser/components/search/extensions/ddg-onion/manifest.json
  browser/components/search/extensions/ddg/manifest.json
  browser/components/search/extensions/startpage-onion/favicon.png
  browser/components/search/extensions/startpage-onion/manifest.json
  browser/components/search/extensions/startpage/favicon.png
  browser/components/search/extensions/startpage/manifest.json
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/content/duckduckgo.ico
  toolkit/components/search/content/startpage.png
  toolkit/components/search/content/torBrowserSearchEngineIcons.json
  toolkit/components/search/content/torBrowserSearchEngines.json
  toolkit/components/search/content/wikipedia.ico
  toolkit/components/search/jar.mn
  toolkit/components/search/moz.build
Due: eslint, py-black

Bug 40073: Disable remote Public Suffix List fetching
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 23247: Communicating security expectations for .onion
  browser/base/content/browser-siteIdentity.js
  browser/base/content/pageinfo/pageInfo.xhtml
  browser/base/content/pageinfo/security.js
  browser/components/extensions/schemas/chrome_settings_overrides.json
  browser/themes/shared/identity-block/identity-block.css
  devtools/client/netmonitor/src/components/SecurityState.js
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsGlobalWindowOuter.cpp
  dom/ipc/WindowGlobalActor.cpp
  dom/ipc/WindowGlobalChild.cpp
  dom/security/nsMixedContentBlocker.cpp
  dom/websocket/WebSocket.cpp
  mobile/shared/modules/geckoview/GeckoViewProgress.sys.mjs
  netwerk/base/nsNetUtil.cpp
  netwerk/protocol/http/HttpBaseChannel.cpp
  security/certverifier/CertVerifier.cpp
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/SSLServerCertVerification.cpp
  security/manager/ssl/nsSecureBrowserUI.cpp
  security/nss/lib/mozpkix/include/pkix/Result.h
  security/nss/lib/mozpkix/include/pkix/pkixnss.h
Due: eslint, stylelint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 41906: Hide DNS over HTTPS preferences.
  browser/components/preferences/privacy.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 23247: Communicating security expectations for .onion
  browser/base/content/pageinfo/security.js
Due: eslint

Bug 21952: Implement Onion-Location
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/base/content/popup-notifications.inc
  browser/components/BrowserGlue.sys.mjs
  browser/components/onionservices/OnionLocationChild.sys.mjs
  browser/components/onionservices/OnionLocationParent.sys.mjs
  browser/components/onionservices/content/onionlocation-urlbar.inc.xhtml
  browser/components/onionservices/content/onionlocation.css
  browser/components/onionservices/jar.mn
  browser/components/onionservices/moz.build
  browser/themes/shared/browser-shared.css
  dom/base/Document.cpp
  dom/base/Document.h
  dom/webidl/Document.webidl
  xpcom/ds/StaticAtoms.py
Due: eslint, stylelint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 30237: Add v3 onion services client authentication prompt
  browser/app/profile/000-tor-browser.js
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/moz.build
  browser/components/onionservices/content/authNotificationIcon.inc.xhtml
  browser/components/onionservices/content/authPopup.inc.xhtml
  browser/components/onionservices/content/authPreferences.css
  browser/components/onionservices/content/authPreferences.inc.xhtml
  browser/components/onionservices/content/authPreferences.js
  browser/components/onionservices/content/authPrompt.js
  browser/components/onionservices/content/onionservices.css
  browser/components/onionservices/content/savedKeysDialog.js
  browser/components/onionservices/content/savedKeysDialog.xhtml
  browser/components/onionservices/jar.mn
  browser/components/onionservices/moz.build
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
  browser/themes/shared/notification-icons.css
  docshell/base/nsDocShell.cpp
  dom/ipc/BrowserParent.cpp
  dom/ipc/BrowserParent.h
  dom/ipc/PBrowser.ipdl
  js/xpconnect/src/xpc.msg
  netwerk/base/nsSocketTransport2.cpp
  netwerk/socket/nsSOCKSIOLayer.cpp
  toolkit/content/.eslintrc.js
  toolkit/content/aboutNetError.html
  toolkit/content/aboutNetError.mjs
  toolkit/modules/PopupNotifications.sys.mjs
  toolkit/themes/shared/aboutNetError.css
  xpcom/base/ErrorList.py
Due: eslint, stylelint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
