Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

Bug 40209: Implement Basic Crypto Safety
  browser/actors/CryptoSafetyChild.jsm
  browser/actors/CryptoSafetyParent.jsm
  browser/actors/moz.build
  browser/components/BrowserGlue.sys.mjs
  toolkit/content/license.html
  toolkit/modules/Bech32Decode.jsm
  toolkit/modules/moz.build
Due: eslint, py-black, file-whitespace

Bug 41917: Tor brand-specific styles.
  browser/themes/shared/browser-shared.css
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tor-branding.css
Due: stylelint, file-whitespace

Add purple tor version of the loading APNG.
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/tor-dark-loading.png
  toolkit/themes/shared/icons/tor-dark-loading@2x.png
  toolkit/themes/shared/icons/tor-light-loading.png
  toolkit/themes/shared/icons/tor-light-loading@2x.png
  tools/torbrowser/generate_tor_loading_png.py
Due: py-black, py-ruff, file-whitespace, trojan-source

TB3: Tor Browser's official .mozconfigs.
  browser/config/mozconfigs/base-browser
  browser/config/mozconfigs/tor-browser
  browser/config/mozconfigs/tor-browser-android
  browser/moz.configure
  mobile/android/geckoview/build.gradle
  moz.configure
  mozconfig-android-aarch64
  mozconfig-android-all
  mozconfig-android-armv7
  mozconfig-android-x86
  mozconfig-android-x86_64
  mozconfig-linux-aarch64
  mozconfig-linux-arm
  mozconfig-linux-i686
  mozconfig-linux-x86_64
  mozconfig-linux-x86_64-asan
  mozconfig-linux-x86_64-dev
  mozconfig-macos
  mozconfig-macos-dev
  mozconfig-windows-i686
  mozconfig-windows-x86_64
Due: py-black, py-ruff

Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  .eslintignore
  browser/app/profile/000-tor-browser.js
  browser/installer/package-manifest.in
  browser/moz.build
  mobile/android/app/000-tor-browser-android.js
  mobile/android/app/geckoview-prefs.js
  mobile/android/app/moz.build
  taskcluster/ci/source-test/mozlint.yml
Due: eslint, py-black, yaml

Bug 41340: Enable TOR_BROWSER_NIGHTLY_BUILD features for dev and nightly builds
  build/moz.configure/init.configure
  intl/l10n/Localization.h
  modules/libpref/init/all.js
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 13252: Customize profile management on macOS
  toolkit/xre/nsXREDirProvider.cpp
  toolkit/xre/nsXREDirProvider.h
  xpcom/io/CocoaFileUtils.mm
  xpcom/io/nsAppFileLocationProvider.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  browser/app/profile/000-tor-browser.js
Due: eslint

Bug 40933: Add tor-launcher functionality
  browser/components/BrowserGlue.sys.mjs
  browser/installer/package-manifest.in
  toolkit/components/moz.build
  toolkit/components/tor-launcher/TorBootstrapRequest.sys.mjs
  toolkit/components/tor-launcher/TorControlPort.sys.mjs
  toolkit/components/tor-launcher/TorLauncherUtil.sys.mjs
  toolkit/components/tor-launcher/TorParsers.sys.mjs
  toolkit/components/tor-launcher/TorProcess.sys.mjs
  toolkit/components/tor-launcher/TorProcessAndroid.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
  toolkit/components/tor-launcher/TorProviderBuilder.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/components.conf
  toolkit/components/tor-launcher/moz.build
  toolkit/components/tor-launcher/tor-launcher.manifest
Due: eslint, py-black

Bug 40597: Implement TorSettings module
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/content/jar.mn
  toolkit/content/pt_config.json
  toolkit/modules/BridgeDB.sys.mjs
  toolkit/modules/DomainFrontedRequests.sys.mjs
  toolkit/modules/Moat.sys.mjs
  toolkit/modules/TorConnect.sys.mjs
  toolkit/modules/TorSettings.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/themes/shared/icons/new_circuit.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
  mobile/android/components/geckoview/GeckoViewStartup.jsm
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
  toolkit/components/tor-launcher/TorStartupService.sys.mjs
  toolkit/components/tor-launcher/moz.build
Due: eslint, stylelint, py-black, file-whitespace

Lox integration
  dom/security/nsContentSecurityUtils.cpp
  toolkit/components/lox/Lox.sys.mjs
  toolkit/components/lox/jar.mn
  toolkit/components/lox/moz.build
  toolkit/components/moz.build
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/tor-circuit-flags/README.txt
  tools/torbrowser/update_emojis.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 42247: Android helpers for the TorProvider
  mobile/android/components/geckoview/GeckoViewStartup.jsm
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/Prefs.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/androidlegacysettings/TorLegacyAndroidSettings.java
  mobile/android/modules/geckoview/GeckoViewContent.sys.mjs
  toolkit/modules/TorAndroidIntegration.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Bug 14631: Improve profile access error messages.
  toolkit/locales/en-US/chrome/mozapps/profile/profileSelection.properties
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 25741: TBA: Disable GeckoNetworkManager
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntime.java
Due: none

Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/components/BrowserGlue.sys.mjs
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/controller.js
  dom/base/ContentAreaDropListener.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/modules/DragDropFilter.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black

Orfox: Centralized proxy applied to AbstractCommunicator and BaseResources.
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/ProxySelector.java
Due: none

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/mail.svg
  browser/components/torpreferences/content/torPreferences.css
  browser/components/torpreferences/jar.mn
Due: stylelint, file-whitespace

Bug 40807: Added QRCode.js to toolkit/modules
  toolkit/content/license.html
  toolkit/modules/QRCode.sys.mjs
  toolkit/modules/moz.build
Due: eslint, py-black, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/bridgemoji/annotations.json
  browser/components/torpreferences/content/bridgemoji/svgs/README.txt
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/base/content/browser.js
  browser/base/content/browser.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/modules/URILoadingHelper.sys.mjs
  browser/themes/shared/browser-shared.css
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tor-urlbar-button.css
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
  dom/base/nsGlobalWindowOuter.cpp
  toolkit/actors/AboutHttpsOnlyErrorParent.sys.mjs
  toolkit/actors/NetErrorParent.sys.mjs
  toolkit/components/httpsonlyerror/content/errorpage.js
  toolkit/components/moz.build
  toolkit/components/torconnect/TorConnectChild.sys.mjs
  toolkit/components/torconnect/TorConnectParent.sys.mjs
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/components/torconnect/content/arrow-right.svg
  toolkit/components/torconnect/content/bridge.svg
  toolkit/components/torconnect/content/connection-failure.svg
  toolkit/components/torconnect/content/connection-location.svg
  toolkit/components/torconnect/content/onion-pattern.svg
  toolkit/components/torconnect/content/tor-connect-broken.svg
  toolkit/components/torconnect/content/tor-connect.svg
  toolkit/components/torconnect/content/tor-not-connected-to-connected-animated.svg
  toolkit/components/torconnect/content/torConnectTitlebarStatus.css
  toolkit/components/torconnect/content/torConnectTitlebarStatus.js
  toolkit/components/torconnect/content/torConnectUrlbarButton.js
  toolkit/components/torconnect/jar.mn
  toolkit/components/torconnect/moz.build
  toolkit/content/aboutNetError.mjs
  toolkit/modules/ActorManagerParent.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/browser-window.js
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/content/aboutTorConnect.css
Due: stylelint, file-whitespace

Temporary changes to about:torconnect for Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/modules/TorConnect.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 7494: Create local home page for TBB.
  browser/base/content/browser-places.js
  browser/base/content/browser.js
  browser/base/content/utilityOverlay.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/AboutTorMessage.sys.mjs
  browser/components/abouttor/AboutTorParent.sys.mjs
  browser/components/abouttor/HomepageOverride.sys.mjs
  browser/components/abouttor/content/1f4e3-megaphone.svg
  browser/components/abouttor/content/26a1-high-voltage.svg
  browser/components/abouttor/content/2728-sparkles.svg
  browser/components/abouttor/content/2764-red-heart.svg
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.html
  browser/components/abouttor/content/aboutTor.js
  browser/components/abouttor/content/dax-logo.svg
  browser/components/abouttor/content/onion-pattern.svg
  browser/components/abouttor/jar.mn
  browser/components/abouttor/moz.build
  browser/components/moz.build
  browser/components/newtab/AboutNewTabService.jsm
  browser/components/preferences/home.inc.xhtml
  browser/modules/HomePage.jsm
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 12620: TorBrowser regression tests
  run-tbb-tests
  tbb-tests-ignore.txt
  tbb-tests/browser.ini
  tbb-tests/browser_tor_TB4.js
  tbb-tests/browser_tor_bug2950.js
  tbb-tests/mochitest.ini
  tbb-tests/moz.build
  tbb-tests/test_tor_bug2874.html
  toolkit/toolkit.mozbuild
Due: eslint, py-black, file-whitespace, test-manifest

Bug 41668: Tweaks to the Base Browser updater for Tor Browser
  browser/components/BrowserContentHandler.sys.mjs
  browser/confvars.sh
  config/createprecomplete.py
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsXREDirProvider.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
  widget/gtk/WidgetUtilsGtk.cpp
Due: eslint, py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 32658: Create a new MAR signing key
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
  toolkit/mozapps/update/updater/release_primary.der
  toolkit/mozapps/update/updater/release_secondary.der
Due: none

Bug 19121: reinstate the update.xml hash check
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateTelemetry.sys.mjs
  toolkit/mozapps/update/nsIUpdateService.idl
Due: eslint, file-whitespace

Bug 12647: Support symlinks in the updater.
  config/createprecomplete.py
  toolkit/mozapps/update/updater/updater.cpp
  tools/update-packaging/common.sh
  tools/update-packaging/make_full_update.sh
  tools/update-packaging/make_incremental_update.sh
Due: py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 16940: After update, load local change notes.
  browser/actors/AboutTBUpdateChild.jsm
  browser/actors/AboutTBUpdateParent.jsm
  browser/actors/moz.build
  browser/base/content/abouttbupdate/aboutTBUpdate.css
  browser/base/content/abouttbupdate/aboutTBUpdate.js
  browser/base/content/abouttbupdate/aboutTBUpdate.xhtml
  browser/base/content/browser.js
  browser/base/jar.mn
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40073: Disable remote Public Suffix List fetching
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 41906: Hide DNS over HTTPS preferences.
  browser/components/preferences/privacy.inc.xhtml
Due: eslint, file-whitespace

Bug 23247: Communicating security expectations for .onion
  browser/base/content/browser-siteIdentity.js
  browser/base/content/pageinfo/security.js
  browser/components/extensions/schemas/chrome_settings_overrides.json
  browser/themes/shared/identity-block/identity-block.css
  devtools/client/netmonitor/src/components/SecurityState.js
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsGlobalWindowOuter.cpp
  dom/html/HTMLFormElement.cpp
  dom/ipc/WindowGlobalActor.cpp
  dom/ipc/WindowGlobalChild.cpp
  dom/security/nsMixedContentBlocker.cpp
  dom/websocket/WebSocket.cpp
  mobile/android/modules/geckoview/GeckoViewProgress.sys.mjs
  netwerk/protocol/http/HttpBaseChannel.cpp
  security/certverifier/CertVerifier.cpp
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/SSLServerCertVerification.cpp
  security/manager/ssl/nsSecureBrowserUI.cpp
  security/nss/lib/mozpkix/include/pkix/Result.h
  security/nss/lib/mozpkix/include/pkix/pkixnss.h
Due: eslint, stylelint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
