Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorConnect.sys.mjs
Due: eslint

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
Due: stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/AboutTorChild.sys.mjs
  browser/components/abouttor/content/aboutTor.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 19121: reinstate the update.xml hash check
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateTelemetry.sys.mjs
  toolkit/mozapps/update/nsIUpdateService.idl
Due: eslint, file-whitespace

fixup! Bug 4234: Use the Firefox Update Process for Base Browser.
  toolkit/mozapps/update/UpdateService.sys.mjs
Due: eslint

Bug 43092: Disable wayland by default in Base Browser.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 31740: Remove some unnecessary RemoteSettings instances
  services/settings/remote-settings.sys.mjs
  toolkit/modules/IgnoreLists.sys.mjs
Due: eslint

Bug 42730: Patch RemoteSettings to use only local dumps as a data source
  browser/components/BrowserGlue.sys.mjs
  mobile/shared/chrome/geckoview/geckoview.js
  services/settings/Attachments.sys.mjs
  services/settings/RemoteSettingsClient.sys.mjs
  services/settings/dumps/gen_last_modified.py
  services/settings/remote-settings.sys.mjs
  toolkit/modules/AppConstants.sys.mjs
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/builtinBridgeDialog.js
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

fixup! [android] Disable features and functionality
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: none

fixup! Bug 23247: Communicating security expectations for .onion
  browser/base/content/pageinfo/security.js
Due: eslint

fixup! Bug 41568: Disable LaterRun
  browser/components/BrowserContentHandler.sys.mjs
Due: eslint

Bug 42630: Disable LaterRun module.
  browser/modules/LaterRun.sys.mjs
Due: eslint

fixup! Bug 32308: Use direct browser sizing for letterboxing.
  toolkit/themes/shared/findbar.css
Due: stylelint, file-whitespace

Bug 1885101: Match screen and window properties with top window for ScreenRect, ScreenAvailRect and WindowOuterSize. r=timhuang,emilio
  docshell/base/BrowsingContext.h
  docshell/base/CanonicalBrowsingContext.cpp
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/nsScreen.cpp
  dom/base/nsScreen.h
  layout/base/nsPresContext.cpp
  layout/base/nsPresContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1760806 - WebCrypto: ECDH and ECDSA JWK import to check that the crv in params and crv in alg are the same r=keeler
  dom/crypto/WebCryptoTask.cpp
  dom/crypto/test/test-vectors.js
  dom/crypto/test/test_WebCrypto_ECDH.html
  dom/crypto/test/test_WebCrypto_ECDSA.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1909099 - Always clean up old session restore and sync log files. r=markh,sessionstore-reviewers,dao
  toolkit/modules/LogManager.sys.mjs
Due: eslint

Bug 1909099 - Always clean up old session restore and sync log files. r=markh,sessionstore-reviewers,dao
  services/common/logmanager.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
