Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! [android] Enable the connect assist experiments on alpha
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

fixup! Bug 40597: Implement TorSettings module
  toolkit/modules/TorConnect.sys.mjs
Due: eslint

fixup! Temporary changes to about:torconnect for Android.
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
Due: none

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
Due: none

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  toolkit/components/torconnect/TorConnectChild.sys.mjs
  toolkit/components/torconnect/TorConnectParent.sys.mjs
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/components/torconnect/content/torConnectTitlebarStatus.js
  toolkit/components/torconnect/content/torConnectUrlbarButton.js
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/builtinBridgeDialog.js
  browser/components/torpreferences/content/connectionPane.js
  browser/components/torpreferences/content/provideBridgeDialog.js
  browser/components/torpreferences/content/requestBridgeDialog.js
Due: eslint

fixup! Bug 40458: Implement .tor.onion aliases
  browser/components/rulesets/RulesetsParent.sys.mjs
Due: eslint

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/TorConnectParent.sys.mjs
Due: eslint

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.js
  browser/components/torpreferences/content/loxInviteDialog.js
  browser/components/torpreferences/content/provideBridgeDialog.js
  browser/components/torpreferences/content/provideBridgeDialog.xhtml
  browser/components/torpreferences/content/torPreferences.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/authPopup.inc.xhtml
  browser/components/onionservices/content/authPreferences.css
  browser/components/onionservices/content/authPrompt.js
  browser/components/onionservices/content/savedKeysDialog.js
  browser/components/onionservices/content/savedKeysDialog.xhtml
Due: eslint, stylelint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
  browser/components/torcircuit/content/torCircuitPanel.inc.xhtml
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint, stylelint, file-whitespace

fixup! Adding issue and merge request templates
  .gitlab/merge_request_templates/default.md
Due: file-whitespace

fixup! Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/containers/base/Containerfile
  .gitlab/ci/docker/base/Dockerfile
  .gitlab/ci/update-containers.yml
Due: yaml

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
  browser/components/abouttor/content/aboutTor.js
Due: eslint, stylelint, file-whitespace

Bug 1644383 - add mutexs to avoid data race. r=media-playback-reviewers,padenot
  dom/media/ipc/RemoteMediaDataDecoder.cpp
  dom/media/ipc/RemoteMediaDataDecoder.h
  dom/media/platforms/wrappers/MediaChangeMonitor.cpp
  dom/media/platforms/wrappers/MediaChangeMonitor.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1743329 - Use nsMenuPopupFrame in GetVisiblePopups(); r=smaug
  layout/base/nsCaret.cpp
  layout/base/nsLayoutUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1743329 - Release pointer lock when xul popup is open; r=smaug,pbz
  browser/base/content/test/popupNotifications/browser_popupNotification_security_delay.js
  dom/base/PointerLockManager.cpp
  dom/base/PointerLockManager.h
  dom/ipc/BrowserChild.cpp
  dom/ipc/BrowserChild.h
  dom/ipc/BrowserParent.cpp
  dom/ipc/PBrowser.ipdl
  layout/xul/nsXULPopupManager.cpp
  layout/xul/nsXULPopupManager.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1743329 - Handle ESC key to release pointer lock in parent process; r=smaug
  layout/base/PresShell.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1819160 - Map Android ids to doc/accessible id pairs. r=Jamie
  accessible/android/SessionAccessibility.cpp
  accessible/android/SessionAccessibility.h
  accessible/ipc/DocAccessibleParent.cpp
  accessible/ipc/DocAccessibleParent.h
  accessible/ipc/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1743329: apply code formatting via Lando
  layout/xul/nsXULPopupManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1760806 - WebCrypto: ECDH and ECDSA JWK import to check that the crv in params and crv in alg are the same r=keeler
  dom/crypto/WebCryptoTask.cpp
  dom/crypto/test/test-vectors.js
  dom/crypto/test/test_WebCrypto_ECDH.html
  dom/crypto/test/test_WebCrypto_ECDSA.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1787790: Normalize system fonts with RFP on. r=emilio
  gfx/thebes/gfxPlatformFontList.cpp
  layout/base/nsLayoutUtils.cpp
  layout/reftests/font-matching/reftest.list
  layout/reftests/font-matching/system-font-rfp-ref.html
  layout/reftests/font-matching/system-font-rfp.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1853731 - Use html:img for message-bar-icon. r=Gijs,dao,settings-reviewers,desktop-theme-reviewers,sfoster
  browser/components/places/metadataViewer/interactionsViewer.html
  browser/components/preferences/dialogs/browserLanguages.xhtml
  toolkit/themes/shared/in-content/common-shared.css
Due: eslint, stylelint, file-whitespace

Bug 1830629: Remove unnecessary checks for pdf.js for RFP. r=tjr
  dom/base/nsGlobalWindowInner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1854117 - Sort the DLL blocklist flags. r=mossop,win-reviewers,gstoll
  toolkit/xre/dllservices/mozglue/gen_dll_blocklist_defs.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1849129: Prevent exceptions caused by extensions from interrupting the SearchService initialization. r=search-reviewers,Standard8
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/tests/xpcshell/test_webextensions_startup_duplicate.js
  toolkit/components/search/tests/xpcshell/xpcshell.ini
Due: eslint, test-manifest

Bug 1832523 - Allow using NSS to sign and verify MAR signatures. r=application-update-reviewers,glandium,bytesized
  build/moz.configure/update-programs.configure
  modules/libmar/tool/mar.c
  modules/libmar/tool/moz.build
  modules/libmar/verify/moz.build
  toolkit/mozapps/update/updater/updater-common.build
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/moz.build
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1738426 - Ignoring status 206 and vary header checking for opaque response in Cache API. r=asuth
  dom/cache/TypeUtils.cpp
  testing/web-platform/meta/service-workers/cache-storage/cache-put.https.any.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1828259 - Close XUL popup when entering/exiting fullscreen; r=smaug
  xpfe/appshell/AppWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1819497 - Don't race on static bool for initialization. r=gfx-reviewers,aosmond
  dom/canvas/WebGLContextExtensions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1802057 - Block the following characters from use in the cookie name in the cookie string: 0x3B (semi-colon), 0x3D (equals), and 0x7F (del) r=dveditz,cookie-reviewers
  netwerk/cookie/CookieCommons.cpp
  testing/web-platform/meta/cookies/name/name-ctl.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1844827 - Added checks for sub-document navigations from cross-site to same-site in third-party checks when setting a cookie. r=cookie-reviewers,valentin,bvandersloot a=RyanVM
  modules/libpref/init/StaticPrefList.yaml
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/CookieServiceChild.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1879952 - Fix test expectations with samesite=lax turned on r=tschuster
  testing/web-platform/meta/cookies/samesite/setcookie-navigation.https.html.ini
Due: test-manifest
