Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

fixup! Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrations/bug-41820-moz-message-bar-download-warning.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Tor Browser strings
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: fluent-lint, file-whitespace

fixup! Bug 40701: Add security warning when downloading a file
  browser/components/downloads/DownloadsTorWarning.sys.mjs
  browser/components/downloads/content/allDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.js
  browser/components/downloads/content/contentAreaDownloadsView.xhtml
  browser/components/downloads/content/downloads.css
  browser/components/downloads/content/downloads.js
  browser/components/downloads/content/downloadsPanel.inc.xhtml
  browser/components/downloads/moz.build
  browser/components/places/content/places.js
  browser/components/places/content/places.xhtml
  browser/themes/shared/downloads/downloads.inc.css
Due: eslint, stylelint, py-black, file-whitespace

fixup! Bug 42835: Create an actor to filter file data transfers
  toolkit/actors/FilesFilterChild.sys.mjs
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

fixup! Bug 40166: Disable security.certerrors.mitm.auto_enable_enterprise_roots
  browser/components/BrowserGlue.sys.mjs
Due: eslint

fixup! Firefox preference overrides.
  modules/libpref/init/all.js
Due: eslint

fixup! Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/navigator-toolbox.inc.xhtml
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
Due: eslint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint

fixup! Bug 40209: Implement Basic Crypto Safety
  browser/actors/CryptoSafetyParent.sys.mjs
Due: eslint

Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/shared/modules/geckoview/GeckoViewContent.sys.mjs
Due: eslint

fixup! Bug 41916: Letterboxing preferences UI
  browser/components/preferences/letterboxing.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/authPreferences.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevelPreferences.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.xhtml
  browser/components/torpreferences/content/provideBridgeDialog.xhtml
Due: eslint, file-whitespace

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: none

fixup! Bug 16940: After update, load local change notes.
  browser/base/content/abouttbupdate/aboutTBUpdate.css
  browser/base/content/abouttbupdate/aboutTBUpdate.js
Due: eslint, stylelint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
Due: stylelint, file-whitespace

fixup! Bug 40458: Implement .tor.onion aliases
  browser/components/rulesets/content/aboutRulesets.css
Due: stylelint, file-whitespace

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/torCircuitPanel.css
Due: stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/content/aboutTorConnect.css
Due: stylelint, file-whitespace

Bug 42308: Create README for tor-browser.
  README.md
  README.txt
Due: file-whitespace

Bug 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Backport Android Security Fixes.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
Due: file-whitespace

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

Bug 41089: Add tor-browser build scripts + Makefile to tor-browser
  .eslintignore
  .gitignore
  tools/geckoview/.gitignore
  tools/geckoview/Makefile
  tools/geckoview/android-env-linux-template.sh
  tools/geckoview/android-env-macos-template.sh
  tools/geckoview/build.sh
  tools/geckoview/clobber.sh
  tools/geckoview/config.sh
  tools/geckoview/fataar.py
  tools/geckoview/jslint.sh
  tools/geckoview/package-gradle.sh
  tools/torbrowser/Makefile
  tools/torbrowser/browser-self-sign-macos.sh
  tools/torbrowser/build.sh
  tools/torbrowser/clobber.sh
  tools/torbrowser/config.sh
  tools/torbrowser/deploy.sh
  tools/torbrowser/fetch.sh
  tools/torbrowser/ide.sh
  tools/torbrowser/jslint.sh
Due: eslint, py-black, py-ruff, shellcheck, file-whitespace, trojan-source

Bug 41803: Add some developer tools for working on tor-browser.
  tools/torbrowser/git-rebase-fixup-preprocessor
  tools/torbrowser/tb-dev
Due: none

Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrate.py
  tools/torbrowser/l10n/migrations/__init__.py
  tools/torbrowser/l10n/migrations/bug-41333-new-about-tor.py
  tools/torbrowser/l10n/migrations/bug-41622-neterror.py
  tools/torbrowser/l10n/migrations/bug-42202-crypto-safety.py
  tools/torbrowser/l10n/migrations/bug-42203-about-dialog.py
  tools/torbrowser/l10n/migrations/bug-42206-rulesets.py
  tools/torbrowser/l10n/migrations/bug-42207-settings.py
  tools/torbrowser/l10n/migrations/bug-42209-tor-circuit.py
  tools/torbrowser/l10n/migrations/bug-42210-download-warning.py
  tools/torbrowser/l10n/migrations/bug-42211-new-identity.py
  tools/torbrowser/l10n/migrations/bug-42214-security-level.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Tor Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/tor-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
  toolkit/locales/jar.mn
Due: eslint, fluent-lint, file-whitespace

Add TorStrings module for localization
  browser/base/content/browser.xhtml
  browser/installer/package-manifest.in
  mobile/android/installer/package-manifest.in
  toolkit/modules/TorStrings.sys.mjs
  toolkit/modules/moz.build
  toolkit/moz.build
  toolkit/torbutton/chrome/locale/en-US/aboutTBUpdate.dtd
  toolkit/torbutton/chrome/locale/en-US/brand.properties
  toolkit/torbutton/chrome/locale/en-US/branding/brand.ftl
  toolkit/torbutton/chrome/locale/en-US/onionLocation.properties
  toolkit/torbutton/chrome/locale/en-US/settings.properties
  toolkit/torbutton/chrome/locale/en-US/torConnect.properties
  toolkit/torbutton/chrome/locale/en-US/torbutton.dtd
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
  toolkit/torbutton/chrome/locale/en-US/torlauncher.properties
  toolkit/torbutton/jar.mn
  toolkit/torbutton/moz.build
Due: eslint, py-black, fluent-lint, file-whitespace

Bug 11641: Disable remoting by default.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42305: Add script to combine translation files across versions.
  tools/torbrowser/l10n/combine-translation-versions.py
  tools/torbrowser/l10n/combine/__init__.py
  tools/torbrowser/l10n/combine/combine.py
  tools/torbrowser/l10n/combine/tests/README
  tools/torbrowser/l10n/combine/tests/__init__.py
  tools/torbrowser/l10n/combine/tests/test_android.py
  tools/torbrowser/l10n/combine/tests/test_dtd.py
  tools/torbrowser/l10n/combine/tests/test_fluent.py
  tools/torbrowser/l10n/combine/tests/test_properties.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 42583: Modify moz-support-link for Tor Browser.
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
