Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

[android] Modify add-on support
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/InstalledAddonDetailsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuNavigationMiddlewareTest.kt
Due: eslint

fixup! [android] Modify build system
  mobile/android/android-components/components/service/location/.gitignore
Due: none

[android] Modify Tracking Protection configuration
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: none

Bug 42191: [android] Temporary StrictMode relaxation to clear the thumbnail cache.
  mobile/android/android-components/components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/utils/ThumbnailDiskCache.kt
Due: none

Bug 40015: [android] Port padlock states for .onion services
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/java/mozilla/components/browser/toolbar2/display/SiteSecurityIconView.kt
  mobile/android/android-components/components/browser/toolbar2/src/main/res/drawable/mozac_ic_site_security.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values/attrs_browser_toolbar.xml
  mobile/android/android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  mobile/android/android-components/components/feature/toolbar/src/main/java/mozilla/components/feature/toolbar/ToolbarPresenter.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/kotlin/String.kt
  mobile/android/android-components/components/ui/icons/src/main/res/drawable/mozac_ic_onion.xml
Due: eslint

Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/search/list.json
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg-onion.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/startpage-onion.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/startpage.xml
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/yahoo.xml
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/storage/SearchEngineReader.kt
Due: eslint

Bug 42652: [android] Pass the list of supported languages to GeckoView.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/gecko/GeckoProvider.kt
Due: none

fixup! Bug 41878: [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: none

[android] Modify build system
  .gitignore
  mobile/android/android-components/components/service/glean/src/main/java/mozilla/components/service/glean/private/MetricAliases.kt
  mobile/android/android-components/components/service/location/.gitignore
  mobile/android/android-components/plugins/config/src/main/java/ConfigPlugin.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/proguard-rules.pro
  mobile/android/fenix/build.gradle
  mobile/android/fenix/tools/tba-fetch-deps.sh
  mobile/android/fenix/tools/tba-sign-devbuilds.sh
Due: shellcheck

Bug 40023: [android] Stop PrivateNotificationService
  mobile/android/android-components/components/feature/privatemode/src/main/java/mozilla/components/feature/privatemode/notification/PrivateNotificationFeature.kt
Due: none

Bug 41878: [android] Add standalone Tor Bootstrap
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/TorBrowserFeatures.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TorNetworkSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBootstrapStatus.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsComposeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/bootstrap/TorQuickStart.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/tor_bootstrap_background_gradient.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/main/res/xml/tor_network_settings_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

Bug 40007: [android] Port external helper app prompting
  mobile/android/android-components/components/feature/app-links/build.gradle
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksFeature.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksUseCases.kt
  mobile/android/android-components/components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuCandidate.kt
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/content/Context.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/TorUtils.kt
Due: none

Bug 40185: [android] Use NimbusDisabled
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Analytics.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/FenixOnboarding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ReEngagementNotificationWorker.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/advanced/DefaultLocaleSettingsController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: none

Bug 42195: [android] Fix "Whats new URL"
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SupportUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/SupportUtilsTest.kt
Due: none

Bug 40002: [android] Ensure system download manager is not used
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadsFeature.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadsFeatureTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/quicksettings/ProtectionsViewTest.kt
Due: none

[android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/ConnectAssistUiState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/QuickStartPreference.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/drawable/browser_location.xml
  mobile/android/fenix/app/src/main/res/drawable/connect.xml
  mobile/android/fenix/app/src/main/res/drawable/connect_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/globe_broken.xml
  mobile/android/fenix/app/src/main/res/drawable/progress_gradient.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
  mobile/android/fenix/app/src/main/res/layout/preference_quick_start.xml
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/colors.xml
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
Due: eslint

Bug 41972: [android] Disable mozilla onboarding
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingDonateViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/TorOnboardingSecurityLevelViewHolder.kt
  mobile/android/fenix/app/src/main/res/values/styles.xml
Due: eslint

Bug 40005: [android] Modify Default toolbar menu
  mobile/android/android-components/components/browser/menu/src/main/java/mozilla/components/browser/menu/WebExtensionBrowserMenuBuilder.kt
Due: none

[android] Add support for new GeckoView interfaces
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  mobile/android/android-components/components/browser/icons/src/main/java/mozilla/components/browser/icons/loader/HttpIconLoader.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: none

[android] Delete unused media
  mobile/android/fenix/app/src/beta/ic_launcher_monochrome-playstore.png
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/view/ResearchSurfaceSurvey.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicroSurveyHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
  mobile/android/fenix/app/src/main/res/drawable-night/ic_logo_wordmark_normal.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_firefox.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_launcher_monochrome.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_scan.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_turn_on_sync.xml
  mobile/android/fenix/app/src/main/res/values-night-v27/styles.xml
  mobile/android/fenix/app/src/main/res/values-night/styles.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/nightly/ic_launcher_monochrome-playstore.png
  mobile/android/fenix/app/src/release/ic_launcher_monochrome-playstore.png
Due: eslint

[android] Enable the connect assist experiments on alpha
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorBetaConnectionFeaturesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/layout/tor_network_settings_beta_connection_features.xml
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
Due: eslint

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/search/list.json
Due: eslint

fixup! Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  browser/app/profile/000-tor-browser.js
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/app/profile/000-tor-browser.js
  browser/components/torcircuit/content/torCircuitPanel.js
Due: eslint

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 40597: Implement TorSettings module
  browser/app/profile/000-tor-browser.js
  toolkit/modules/TorConnect.sys.mjs
  toolkit/modules/TorSettings.sys.mjs
Due: eslint

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

dropme! Bug 30237: Add v3 onion services client authentication prompt
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 40933: Add tor-launcher functionality
  browser/app/profile/000-tor-browser.js
  toolkit/components/tor-launcher/TorControlPort.sys.mjs
  toolkit/components/tor-launcher/TorProvider.sys.mjs
Due: eslint

fixup! Lox integration
  browser/app/profile/000-tor-browser.js
  toolkit/components/lox/Lox.sys.mjs
Due: eslint

fixup! Bug 40458: Implement .tor.onion aliases
  browser/app/profile/000-tor-browser.js
  browser/components/onionservices/OnionAliasStore.sys.mjs
  browser/components/onionservices/TorRequestWatch.sys.mjs
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  browser/app/profile/000-tor-browser.js
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

fixup! Bug 8324: Prevent DNS proxy bypasses caused by Drag&Drop
  browser/app/profile/000-tor-browser.js
  toolkit/modules/DragDropFilter.sys.mjs
Due: eslint

fixup! Bug 40926: Implemented the New Identity feature
  browser/app/profile/001-base-profile.js
  browser/components/newidentity/content/newidentity.js
Due: eslint

fixup! Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 42247: Android helpers for the TorProvider
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevelPreferences.inc.xhtml
Due: eslint, file-whitespace
