Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, build-base-image

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  needs:
  - job: setup-env
    artifacts: true
  - job: create-bundle
    artifacts: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
  ...

build-base-image:
  stage: update-container-images
  interruptible: true
  image: containers.torproject.org/tpo/tpa/base-images/podman:bookworm
  script:
  - export TAG="${CI_REGISTRY_IMAGE}/base:latest"
  - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/FenixSnackbar.kt
Due: none

Bug 1935621 - Fix virtual environment sysconfig path calculation r=firefox-build-system-reviewers,ahochheiden
  python/mach/mach/site.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Add CI for Base Browser
  .gitlab-ci.yml
  .gitlab/ci/jobs/lint/helpers.py
  .gitlab/ci/jobs/lint/lint.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

fixup! Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/jobs/update-containers.yml
  .gitlab/ci/jobs/update-translations.yml
Due: yaml

fixup! Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/jobs/lint/lint.yml
  .gitlab/ci/jobs/startup-test/startup-test.py
  .gitlab/ci/jobs/startup-test/startup-test.yml
  .gitlab/ci/mixins.yml
  testing/mozbase/mozinstall/mozinstall/mozinstall.py
  testing/mozbase/setup_development.py
  testing/mozharness/scripts/does_it_crash.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

fixup! Add CI for Tor Browser
  .gitlab/ci/jobs/startup-test/startup-test.yml
Due: yaml

fixup! Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/downloads.css
  browser/components/downloads/content/downloadsPanel.inc.xhtml
Due: eslint, stylelint, file-whitespace

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Bug 43140: Tighten up fonts on Linux.
  gfx/thebes/gfxFcPlatformFontList.cpp
  toolkit/xre/nsXREDirProvider.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 43322: Customize the font visibility lists.
  gfx/thebes/StandardFonts-linux-upstream.inc
  gfx/thebes/StandardFonts-macos-bb.inc
  gfx/thebes/StandardFonts-macos-upstream.inc
  gfx/thebes/StandardFonts-win10-bb.inc
  gfx/thebes/StandardFonts-win10-upstream.inc
  gfx/thebes/gfxDWriteFontList.cpp
  gfx/thebes/gfxFcPlatformFontList.cpp
  gfx/thebes/gfxGDIFontList.cpp
  gfx/thebes/gfxMacPlatformFontList.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorControllerGV.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsComposeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorLogsViewModel.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TorIntegrationAndroid.java
  toolkit/components/tor-launcher/TorProvider.sys.mjs
  toolkit/modules/TorAndroidIntegration.sys.mjs
Due: eslint

fixup! Bug 41649: Create rebase and security backport gitlab issue templates
  .gitlab/issue_templates/Bugzilla Triage.md
  .gitlab/issue_templates/Rebase Browser - Rapid.md
Due: file-whitespace

fixup! Bug 40597: Implement TorSettings module
  toolkit/content/pt_config.json
Due: eslint

fixup! Add CI for Tor Browser
  .gitlab/ci/jobs/update-containers.yml
  .gitlab/ci/jobs/update-translations.yml
Due: yaml

fixup! Add CI for Base Browser
  .gitlab/ci/jobs/lint/lint.yml
Due: yaml

fixup! Add CI for Base Browser
  .gitlab/ci/lint.yml
Due: yaml

fixup! Add CI for Tor Browser
  .gitlab/ci/jobs/update-translations.yml
Due: yaml

Add CI for Base Browser
  .gitlab-ci.yml
  .gitlab/ci/docker/base/Dockerfile
  .gitlab/ci/jobs/lint/helpers.py
  .gitlab/ci/jobs/lint/lint.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Base Browser's .mozconfigs.
  browser/config/mozconfigs/base-browser
  browser/config/mozconfigs/base-browser-android
  browser/confvars.sh
  browser/moz.configure
  mobile/android/basebrowser.configure
  mobile/android/confvars.sh
  mobile/android/moz.configure
  moz.configure
  mozconfig-android-aarch64
  mozconfig-android-all
  mozconfig-android-armv7
  mozconfig-android-x86
  mozconfig-android-x86_64
  mozconfig-linux-aarch64
  mozconfig-linux-aarch64-dev
  mozconfig-linux-arm
  mozconfig-linux-i686
  mozconfig-linux-x86_64
  mozconfig-linux-x86_64-asan
  mozconfig-linux-x86_64-dev
  mozconfig-macos
  mozconfig-macos-dev
  mozconfig-windows-i686
  mozconfig-windows-x86_64
  security/moz.build
  security/nss/lib/ssl/Makefile
  toolkit/modules/AppConstants.sys.mjs
Due: eslint, py-black, py-ruff, shellcheck

Tweaks to the build system
  browser/app/moz.build
  browser/installer/package-manifest.in
  mobile/android/gradle/with_gecko_binaries.gradle
  python/mozbuild/mozbuild/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

BB 42616: Remove VideoCaptureTest.kt.
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/VideoCaptureTest.kt
Due: none

BB 29320: Replace the gnu target with gnullvm for Rust.
  build/moz.configure/init.configure
  build/moz.configure/rust.configure
Due: py-black, py-ruff

BB 41108: Remove privileged macOS installation from 102
  toolkit/xre/MacRunFromDmgUtils.mm
Due: clang-format

BB 41149: Re-enable DLL injection protection in all builds not just nightlies
  toolkit/xre/dllservices/mozglue/WindowsDllBlocklist.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 24796: Comment out excess permissions from GeckoView
  mobile/android/geckoview/src/main/AndroidManifest.xml
  mobile/android/moz.configure
Due: eslint, py-black, py-ruff

BB 43092: Disable wayland by default in Base Browser.
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 12974: Disable NTLM and Negotiate HTTP Auth
  extensions/auth/nsHttpNegotiateAuth.cpp
  netwerk/protocol/http/nsHttpNTLMAuth.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 28125: Prevent non-Necko network connections
  mobile/android/exoplayer2/src/main/java/org/mozilla/thirdparty/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/media/GeckoMediaDrmBridgeV21.java
Due: none

BB 40717: Hide Windows SSO in settings
  browser/themes/shared/preferences/preferences.css
Due: stylelint, file-whitespace

BB 16285: Exclude ClearKey system for now
  browser/installer/package-manifest.in
Due: none

BB 21431: Clean-up system extensions shipped in Firefox
  browser/components/BrowserGlue.sys.mjs
  browser/extensions/moz.build
  browser/installer/package-manifest.in
  browser/locales/Makefile.in
  browser/locales/jar.mn
Due: eslint, py-black

BB 42831: Remove the shopping components.
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/shopping/jar.mn
  browser/components/shopping/moz.build
  toolkit/components/shopping/jar.mn
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 33852: Clean up about:logins (LockWise) to avoid mentioning sync, etc.
  browser/components/aboutlogins/AboutLoginsParent.sys.mjs
  browser/components/aboutlogins/content/aboutLogins.css
  browser/components/aboutlogins/content/aboutLogins.mjs
  browser/components/aboutlogins/content/components/fxaccounts-button.css
Due: eslint, stylelint, file-whitespace

BB 41457: Remove Mozilla permissions
  browser/app/permissions
Due: none

BB 42716: Disable unwanted about: pages
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
  toolkit/content/jar.mn
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 40002: Remove about:ion
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  services/sync/components.conf
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 26353: Prevent speculative connect that violated FPI.
  toolkit/components/remotebrowserutils/RemoteWebNavigation.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  build-base-image: any of: .gitlab/ci/containers/base/Containerfile
