Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/authPreferences.css
  browser/components/onionservices/content/authPreferences.inc.xhtml
Due: eslint, stylelint, file-whitespace

fixup! Bug 41916: Letterboxing preferences UI
  browser/components/preferences/letterboxing.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.xhtml
Due: eslint, file-whitespace

fixup! [android] Add Tor integration and UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorController.kt
Due: none

fixup! [android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tor/TorConnectionAssistViewModel.kt
Due: none

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/torPreferences.css
Due: stylelint, file-whitespace

fixup! Bug 40701: Add security warning when downloading a file
  browser/components/downloads/content/downloads.js
Due: eslint

Temporary commit: Disable CI in protected branches
  .gitlab/ci/lint.yml
Due: yaml

fixup! Add CI for Base Browser
  .gitlab/ci/setup.yml
Due: yaml

fixup! [android] Rename as Tor Browser
  mobile/android/fenix/app/src/beta/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/debug/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/res/drawable-v23/splash_screen.xml
  mobile/android/fenix/app/src/main/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/main/res/values-v24/styles.xml
  mobile/android/fenix/app/src/main/res/values-v27/styles.xml
  mobile/android/fenix/app/src/main/res/values/styles.xml
  mobile/android/fenix/app/src/nightly/res/drawable/animated_splash_screen.xml
  mobile/android/fenix/app/src/release/res/drawable/animated_splash_screen.xml
Due: eslint

fixup! [android] Implement Android-native Connection Assist UI
  mobile/android/fenix/app/src/main/res/layout/fragment_tor_connection_assist.xml
Due: eslint

fixup! Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 42835: Create an actor to filter file data transfers
  toolkit/actors/FilesFilterChild.sys.mjs
Due: eslint

fixup! Tor Browser strings
  toolkit/locales/en-US/toolkit/global/tor-browser.ftl
Due: fluent-lint, file-whitespace

fixup! Add TorStrings module for localization
  browser/base/content/browser.xhtml
  toolkit/modules/TorStrings.sys.mjs
  toolkit/torbutton/chrome/locale/en-US/torbutton.dtd
  toolkit/torbutton/chrome/locale/en-US/torbutton.properties
Due: eslint, file-whitespace

fixup! Bug 23247: Communicating security expectations for .onion
  browser/base/content/pageinfo/pageInfo.xhtml
  browser/base/content/pageinfo/security.js
Due: eslint, file-whitespace

fixup! Tor Browser localization migration scripts.
  tools/torbrowser/l10n/migrations/bug-42212-onion-services.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/authNotificationIcon.inc.xhtml
  browser/components/onionservices/content/authPopup.inc.xhtml
  browser/components/onionservices/content/authPreferences.inc.xhtml
  browser/components/onionservices/content/authPreferences.js
  browser/components/onionservices/content/authPrompt.js
  browser/components/onionservices/content/onionservices.css
  browser/components/onionservices/content/savedKeysDialog.js
  browser/components/onionservices/content/savedKeysDialog.xhtml
Due: eslint, stylelint, file-whitespace

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/savedKeysDialog.xhtml
Due: eslint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/bridgeQrDialog.xhtml
  browser/components/torpreferences/content/builtinBridgeDialog.xhtml
  browser/components/torpreferences/content/connectionSettingsDialog.xhtml
  browser/components/torpreferences/content/loxInviteDialog.xhtml
  browser/components/torpreferences/content/provideBridgeDialog.xhtml
  browser/components/torpreferences/content/requestBridgeDialog.xhtml
  browser/components/torpreferences/content/torLogDialog.xhtml
Due: eslint, file-whitespace

fixup! Bug 40009: [android] Change the default search engines
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/ddg.xml
Due: eslint

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/themes/shared/tor-urlbar-button.css
  toolkit/components/torconnect/content/aboutTorConnect.css
  toolkit/components/torconnect/content/aboutTorConnect.html
  toolkit/components/torconnect/content/aboutTorConnect.js
  toolkit/components/torconnect/content/torConnectTitlebarStatus.css
Due: eslint, stylelint, file-whitespace

fixup! Bug 30237: Add v3 onion services client authentication prompt
  browser/components/onionservices/content/authPreferences.css
Due: stylelint, file-whitespace

fixup! Bug 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevelPanel.css
Due: stylelint, file-whitespace

fixup! Bug 21952: Implement Onion-Location
  browser/components/onionservices/content/onionlocation-urlbar.inc.xhtml
Due: eslint, file-whitespace

fixup! Bug 7494: Create local home page for TBB.
  browser/components/abouttor/content/aboutTor.css
Due: stylelint, file-whitespace

Bug 41817: tor-browser semantic colors.
  browser/themes/shared/browser-shared.css
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/tor-colors.css
Due: stylelint, file-whitespace

fixup! Bug 41659: Add canonical color definitions to base-browser
  browser/themes/shared/browser-shared.css
  toolkit/themes/shared/browser-colors.css
  toolkit/themes/shared/minimal-toolkit.jar.inc.mn
Due: stylelint, file-whitespace

fixup! Bug 27476: Implement about:torconnect captive portal within Tor Browser
  toolkit/components/torconnect/content/aboutTorConnect.css
Due: stylelint, file-whitespace

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/bridgemoji/annotations.json
  browser/components/torpreferences/content/bridgemoji/svgs/README.txt
Due: eslint

fixup! Bug 41600: Add a tor circuit display panel.
  browser/components/torcircuit/content/tor-circuit-flags/README.txt
  tools/torbrowser/update_emojis.py
Due: py-black, py-ruff, file-whitespace, trojan-source

fixup! Bug 41817: tor-browser semantic colors.
  toolkit/themes/shared/tor-colors.css
Due: stylelint, file-whitespace

fixup! Bug 23247: Communicating security expectations for .onion
  netwerk/base/nsNetUtil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Add CI for Tor Browser
  .gitlab/ci/update-translations.yml
Due: yaml

TEMPORARY: Copy torbrowser_strings.xml to the 13.5 branch.
  mobile/android/fenix/app/src/main/res/values/torbrowser_strings.xml
Due: eslint

fixup! Bug 31286: Implementation of bridge, proxy, and firewall settings in about:preferences#connection
  browser/components/torpreferences/content/connectionPane.js
Due: eslint
