Repository Kevinisagirl21/tor-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

fixup! Bug 4234: Use the Firefox Update Process for Base Browser.
  toolkit/mozapps/update/UpdateService.sys.mjs
Due: eslint

Bug 1885101: Match screen and window properties with top window for ScreenRect, ScreenAvailRect and WindowOuterSize. r=timhuang,emilio
  browser/components/resistfingerprinting/test/mochitest/mochitest.toml
  browser/components/resistfingerprinting/test/mochitest/test_bug1885101_screenwindow_sizes.html
  browser/components/resistfingerprinting/test/mochitest/test_iframe.html
  docshell/base/BrowsingContext.h
  docshell/base/CanonicalBrowsingContext.cpp
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/nsScreen.cpp
  dom/base/nsScreen.h
  dom/base/test/chrome/bug418986-1.js
  layout/base/nsPresContext.cpp
  layout/base/nsPresContext.h
  toolkit/components/resistfingerprinting/tests/browser/browser_fingerprintingWebCompat.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

fixup! Temporary commit: manually place generated wasm files
  toolkit/components/lox/content/lox_wasm_bg.wasm
  toolkit/components/lox/lox_wasm.jsm
Due: eslint

fixup! Lox integration
  toolkit/components/lox/Lox.sys.mjs
Due: eslint

fixup! Bug 42472: Spoof timezone in XSLT.
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1891690: Return GMT when RFPTarget::JSDateTimeUTC is enabled. r=timhuang
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_exslt_timezone_load.js
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912129: Reduce time precision for EXSLT date time function. r=timhuang
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_exslt_time_precision.js
  dom/xslt/xslt/txEXSLTFunctions.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42774: Always hide the third-pary certs UI.
  browser/components/preferences/privacy.js
Due: eslint

Bug 1760806 - WebCrypto: ECDH and ECDSA JWK import to check that the crv in params and crv in alg are the same r=keeler
  dom/crypto/WebCryptoTask.cpp
  dom/crypto/test/test-vectors.js
  dom/crypto/test/test_WebCrypto_ECDH.html
  dom/crypto/test/test_WebCrypto_ECDSA.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1909099 - Always clean up old session restore and sync log files. r=markh,sessionstore-reviewers,dao
  services/common/logmanager.sys.mjs
Due: eslint

Revert "Add CI for Tor Browser"
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

Revert "Add CI for Base Browser"
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/scripts/run_linters.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Add CI for Tor Browser
  .gitlab-ci.yml
  .gitlab/ci/update-translations.yml
Due: yaml

Bug 42647: Make OS HTTP User-Agent OS spoofing configurable by pref
  netwerk/protocol/http/nsHttpHandler.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 40562: Added Tor Browser preferences to 000-tor-browser.js
  browser/app/profile/000-tor-browser.js
Due: eslint

fixup! Bug 40925: Implemented the Security Level component
  toolkit/components/search/SearchEngine.sys.mjs
Due: eslint

fixup! Bug 41435: Add a Tor Browser migration function
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Revert "Bug 12620: TorBrowser regression tests"
  .eslintignore
  .prettierignore
  run-tbb-tests
  tbb-tests-ignore.txt
  tbb-tests/browser.ini
  tbb-tests/browser_tor_TB4.js
  tbb-tests/browser_tor_bug2950.js
  tbb-tests/mochitest.ini
  tbb-tests/moz.build
  tbb-tests/test_tor_bug2874.html
  toolkit/toolkit.mozbuild
Due: eslint, py-black, file-whitespace, test-manifest

Bug 42891: Set the bundled search engine for Tor Browser.
  browser/components/search/extensions/ddg-onion/favicon.ico
  browser/components/search/extensions/ddg-onion/manifest.json
  browser/components/search/extensions/ddg/manifest.json
  browser/components/search/extensions/startpage-onion/favicon.png
  browser/components/search/extensions/startpage-onion/manifest.json
  browser/components/search/extensions/startpage/favicon.png
  browser/components/search/extensions/startpage/manifest.json
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/content/duckduckgo.ico
  toolkit/components/search/content/startpage.png
  toolkit/components/search/content/torBrowserSearchEngineIcons.json
  toolkit/components/search/content/torBrowserSearchEngines.json
  toolkit/components/search/content/wikipedia.ico
  toolkit/components/search/jar.mn
  toolkit/components/search/moz.build
Due: eslint, py-black

Bug 42773: Replace ~ with the original home.
  docshell/base/URIFixup.sys.mjs
Due: eslint

fixup! Bug 3455: Add DomainIsolator, for isolating circuit by domain.
  toolkit/components/tor-launcher/TorDomainIsolator.sys.mjs
Due: eslint

fixup! Bug 4234: Use the Firefox Update Process for Base Browser.
  tools/update-packaging/common.sh
Due: shellcheck
